Repository openstack/cinder: changes, and which Zuul jobs are due for each by the changed paths.
All: cinder-tempest-dsvm-lvm-lio, cinder-tox-compliance, cinder-tox-bandit-baseline

cinder-tempest-dsvm-lvm-lio:
  parent: legacy-dsvm-base
  run: playbooks/legacy/cinder-tempest-dsvm-lvm-lio/run.yaml
  post-run: playbooks/legacy/cinder-tempest-dsvm-lvm-lio/post.yaml
  timeout: 10800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/barbican
  - openstack/python-barbicanclient
  - openstack/tempest
  ...

cinder-tox-compliance:
  parent: openstack-tox
  timeout: 2400
  vars:
    tox_envlist: compliance
  required-projects:
  - openstack/requirements

cinder-tox-bandit-baseline:
  parent: openstack-tox
  timeout: 2400
  vars:
    tox_envlist: bandit-baseline
  required-projects:
  - openstack/requirements

Fix: request-id missing in volume action's response header.
  cinder/api/contrib/admin_actions.py
  cinder/api/contrib/types_extra_specs.py
  cinder/api/contrib/volume_actions.py
  cinder/tests/unit/api/contrib/test_admin_actions.py
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-bandit-baseline

cinder incremental backup with ceph fails if last one deleted
  cinder/backup/drivers/ceph.py
  cinder/tests/unit/backup/drivers/test_backup_ceph.py
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-compliance, cinder-tox-bandit-baseline

Remove consistencygroups/api.py
  cinder/consistencygroup/api.py
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-bandit-baseline

Fix cinder quota-usage error
  cinder/tests/unit/utils.py
  cinder/tests/unit/volume/test_driver.py
  cinder/volume/driver.py
  cinder/volume/manager.py
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-compliance, cinder-tox-bandit-baseline

Storwize: correct return value for update_group
  cinder/tests/unit/volume/drivers/ibm/test_storwize_svc.py
  cinder/volume/drivers/ibm/storwize_svc/storwize_svc_common.py
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-compliance, cinder-tox-bandit-baseline

Handle TZ change in iso8601 >=0.1.12
  cinder/utils.py
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-bandit-baseline

Storwize: fix an incorrect temporary parameter name
  cinder/tests/unit/volume/drivers/ibm/test_storwize_svc.py
  cinder/volume/drivers/ibm/storwize_svc/storwize_svc_common.py
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-compliance, cinder-tox-bandit-baseline

Add 'metadata' in backup detail&show API document
  api-ref/source/v3/ext-backups.inc
  api-ref/source/v3/samples/backup-show-response.json
  api-ref/source/v3/samples/backups-list-detailed-response.json
Due: none

3PAR: Fixed sync period updation in rcg
  cinder/tests/unit/volume/drivers/hpe/test_hpe3par.py
  cinder/volume/drivers/hpe/hpe_3par_common.py
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-compliance, cinder-tox-bandit-baseline

Update Windows docs
  doc/source/configuration/block-storage/drivers/windows-iscsi-volume-driver.rst
  doc/source/configuration/block-storage/drivers/windows-smb-volume-driver.rst
  doc/source/configuration/block-storage/volume-drivers.rst
  doc/source/install/cinder-storage-install-windows.rst
  doc/source/install/index-windows.rst
  doc/source/install/index.rst
Due: none

Rename lio job to lio-barbican
  .zuul.yaml
  playbooks/legacy/cinder-tempest-dsvm-lvm-lio-barbican/post.yaml
  playbooks/legacy/cinder-tempest-dsvm-lvm-lio-barbican/run.yaml
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-bandit-baseline

Fix how backups handle encryption key IDs
  cinder/backup/driver.py
  cinder/backup/manager.py
  cinder/db/sqlalchemy/migrate_repo/versions/117_add_encryption_key_id_to_backups.py
  cinder/db/sqlalchemy/models.py
  cinder/objects/backup.py
  cinder/objects/base.py
  cinder/tests/unit/backup/drivers/test_backup_driver_base.py
  cinder/tests/unit/backup/test_backup.py
  cinder/tests/unit/objects/test_objects.py
  cinder/tests/unit/test_db_api.py
  releasenotes/notes/fix-backup-handling-of-encryption-key-id-f2fa56cadd80d582.yaml
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-compliance, cinder-tox-bandit-baseline

Schedule request to scheduler when manage existing snapshot
  cinder/scheduler/manager.py
  cinder/scheduler/rpcapi.py
  cinder/tests/unit/api/contrib/test_snapshot_manage.py
  cinder/tests/unit/api/v3/test_snapshot_manage.py
  cinder/tests/unit/scheduler/test_rpcapi.py
  cinder/tests/unit/scheduler/test_scheduler.py
  cinder/volume/api.py
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-bandit-baseline

[VNX] `initiator_target_map` is None
  cinder/volume/drivers/dell_emc/vnx/common.py
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-compliance, cinder-tox-bandit-baseline

Fix wrong grammar
  cinder/tests/unit/volume/drivers/ibm/test_ds8k_proxy.py
Due: none

Fix the typo in api_conditional_updates.rst
  doc/source/contributor/api_conditional_updates.rst
Due: none

option to use qcow2 files
  cinder/volume/drivers/nexenta/ns5/nfs.py
  cinder/volume/drivers/nexenta/options.py
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-compliance, cinder-tox-bandit-baseline

updated unit tests
  cinder/tests/unit/volume/drivers/nexenta/test_nexenta5_iscsi.py
  cinder/tests/unit/volume/drivers/nexenta/test_nexenta5_jsonrpc.py
Due: none

updated copyrights
  cinder/tests/unit/volume/drivers/nexenta/test_nexenta5_iscsi.py
  cinder/tests/unit/volume/drivers/nexenta/test_nexenta5_jsonrpc.py
Due: none

SMBFS: fix creating volume from snapshot
  cinder/tests/unit/volume/drivers/test_remotefs.py
  cinder/tests/unit/windows/test_smbfs.py
  cinder/volume/drivers/remotefs.py
  cinder/volume/drivers/windows/smbfs.py
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-compliance, cinder-tox-bandit-baseline

SMBFS: allow snapshot ro attach
  cinder/tests/unit/windows/test_smbfs.py
  cinder/volume/drivers/windows/smbfs.py
  releasenotes/notes/smbfs-snapshot-attach-14742fe8f5864ac6.yaml
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-compliance, cinder-tox-bandit-baseline

Dell EMC SC: Find volume folder API call fails on root folders
  cinder/tests/unit/volume/drivers/dell_emc/sc/test_scapi.py
  cinder/volume/drivers/dell_emc/sc/storagecenter_api.py
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-compliance, cinder-tox-bandit-baseline

Add policy check for create volume with multiattach
  cinder/tests/unit/volume/test_volume.py
  cinder/volume/api.py
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-bandit-baseline

Updated from global requirements
  doc/requirements.txt
  requirements.txt
  test-requirements.txt
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-bandit-baseline

Fix leftovers after backup abort
  cinder/backup/chunkeddriver.py
  cinder/backup/manager.py
  cinder/objects/base.py
  cinder/tests/unit/backup/drivers/test_backup_nfs.py
  cinder/tests/unit/backup/test_backup.py
  cinder/tests/unit/objects/test_base.py
  releasenotes/notes/fix-abort-backup-df196e9dcb992586.yaml
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-compliance, cinder-tox-bandit-baseline

Remove unused parameters in v2/v3 parameters.yaml
  api-ref/source/v2/parameters.yaml
  api-ref/source/v3/parameters.yaml
Due: none

docs: Use the encryption provider format constants
  doc/source/configuration/block-storage/volume-encryption.rst
Due: none

Fix link in boot from volume docs
  doc/source/admin/blockstorage-boot-from-volume.rst
Due: none

3PAR: fix cloning issue in create group from source.
  cinder/tests/unit/volume/drivers/hpe/test_hpe3par.py
  cinder/volume/drivers/hpe/hpe_3par_common.py
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-compliance, cinder-tox-bandit-baseline

Add backup cancellation admin doc
  doc/source/admin/blockstorage-volume-backups.rst
Due: none

Update document for worker cleanup API
  api-ref/source/v3/samples/worker-cleanup-request.json
  api-ref/source/v3/worker-cleanup.inc
  cinder/api/v3/workers.py
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-bandit-baseline

Storwize: modify the self._helpers to backend_helper
  cinder/tests/unit/volume/drivers/ibm/test_storwize_svc.py
  cinder/volume/drivers/ibm/storwize_svc/storwize_svc_fc.py
  cinder/volume/drivers/ibm/storwize_svc/storwize_svc_iscsi.py
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-compliance, cinder-tox-bandit-baseline

Fix DuplicateOptError in fixed_key migration code
  cinder/keymgr/migration.py
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-bandit-baseline

Storwize: avoid ascii code error for ssh response stderr
  cinder/tests/unit/volume/drivers/ibm/test_storwize_svc.py
  cinder/volume/drivers/ibm/storwize_svc/storwize_svc_common.py
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-compliance, cinder-tox-bandit-baseline

Imported Translations from Zanata
  cinder/locale/cs/LC_MESSAGES/cinder.po
  cinder/locale/de/LC_MESSAGES/cinder.po
  cinder/locale/es/LC_MESSAGES/cinder.po
  cinder/locale/fr/LC_MESSAGES/cinder.po
  cinder/locale/it/LC_MESSAGES/cinder.po
  cinder/locale/ja/LC_MESSAGES/cinder.po
  cinder/locale/ko_KR/LC_MESSAGES/cinder.po
  cinder/locale/pt_BR/LC_MESSAGES/cinder.po
  cinder/locale/ru/LC_MESSAGES/cinder.po
  cinder/locale/zh_CN/LC_MESSAGES/cinder.po
  cinder/locale/zh_TW/LC_MESSAGES/cinder.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Fix pylint error in DotHill drivers
  cinder/volume/drivers/dothill/dothill_iscsi.py
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-compliance, cinder-tox-bandit-baseline

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Move doc of report backend state to cli
  doc/source/admin/blockstorage-report-backend-state.rst
  doc/source/admin/index.rst
  doc/source/cli/cli-manage-volumes.rst
Due: none

Add missing MV history for 3.50
  cinder/api/openstack/rest_api_version_history.rst
Due: none

modify the http link to the https link
  doc/source/configuration/block-storage/drivers/datacore-volume-driver.rst
Due: none

Path conditions:
  cinder-tempest-dsvm-lvm-lio: unless all of: ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$
  cinder-tox-compliance: any of: ^cinder/volume/driver.py, ^cinder/volume/drivers/.*$, ^cinder/interface/.*$, ^cinder/backup/.*$, ^cinder/zonemanager/.*$
  cinder-tox-bandit-baseline: unless all of: ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$
