Repository openstack/cinder: changes, and which Zuul jobs are due for each by the changed paths.
All: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Path conditions:
  cinder-tempest-dsvm-lvm-lio-barbican: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-tox-bandit-baseline: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  openstack-tox-functional-py36: unless all of: ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$
  openstack-tox-pylint: unless all of: ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$
  cinder-plugin-ceph-tempest: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  openstack-tox-functional: unless all of: ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$
  legacy-grenade-dsvm-cinder-mn-sub-volbak: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-lvm-multibackend: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-full-devstack-plugin-nfs: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-slow-py3: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-full: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-integrated-storage: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  grenade-py3: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-ipv6-only: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-cinder-v2-api: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-zeromq-multibackend: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-multibackend-matrix: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-cinder-mn-sub-volschbak: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-cinder-mn-sub-bak: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-ceph-tempest-py3: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-full-py3-opensuse150: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$

Fujitsu Driver: Change the calculation of TPP's capacity
  cinder/tests/unit/volume/drivers/test_fujitsu_dx.py
  cinder/volume/drivers/fujitsu/eternus_dx/constants.py
  cinder/volume/drivers/fujitsu/eternus_dx/eternus_dx_cli.py
  cinder/volume/drivers/fujitsu/eternus_dx/eternus_dx_common.py
  doc/source/reference/support-matrix.ini
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Imported Translations from Zanata
  cinder/locale/de/LC_MESSAGES/cinder.po
  cinder/locale/es/LC_MESSAGES/cinder.po
  cinder/locale/fr/LC_MESSAGES/cinder.po
  cinder/locale/it/LC_MESSAGES/cinder.po
  cinder/locale/ja/LC_MESSAGES/cinder.po
  cinder/locale/ko_KR/LC_MESSAGES/cinder.po
  cinder/locale/pt_BR/LC_MESSAGES/cinder.po
  cinder/locale/ru/LC_MESSAGES/cinder.po
  cinder/locale/zh_CN/LC_MESSAGES/cinder.po
  cinder/locale/zh_TW/LC_MESSAGES/cinder.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Mark IET target driver deprecated
  cinder/volume/driver.py
  cinder/volume/targets/iet.py
  releasenotes/notes/iet-deprecation-f8059417c6adbb78.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Clean up test requirements
  lower-constraints.txt
  requirements.txt
  test-requirements.txt
Due: openstack-tox-functional-py36, openstack-tox-pylint, openstack-tox-functional

Enable flake8-logging-format extension
  cinder/api/extensions.py
  cinder/api/openstack/wsgi.py
  cinder/privsep/hscli.py
  cinder/tests/hacking/checks.py
  cinder/volume/drivers/linstordrv.py
  cinder/volume/drivers/stx/client.py
  cinder/volume/flows/api/create_volume.py
  cinder/volume/flows/api/manage_existing.py
  lower-constraints.txt
  test-requirements.txt
  tox.ini
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Add note that block-box is not supported
  contrib/block-box/README.md
Due: none

Remove hacking check N325
  HACKING.rst
  cinder/tests/hacking/checks.py
  cinder/tests/unit/test_hacking.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Make volume soft delete more thorough
  cinder/db/sqlalchemy/api.py
  cinder/tests/unit/db/test_orm_relationships.py
  cinder/tests/unit/test_db_api.py
  cinder/volume/manager.py
  lower-constraints.txt
  test-requirements.txt
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Mark Veritas CNFS Driver Unsupported
  cinder/volume/drivers/veritas_cnfs.py
  doc/source/reference/support-matrix.ini
  releasenotes/notes/veritas_cluster_nfs_unsupported-88ab3ea5cbb6cd88.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Remove the Virtuozzo Storage Driver
  cinder/opts.py
  cinder/tests/unit/volume/drivers/test_vzstorage.py
  cinder/volume/drivers/vzstorage.py
  doc/source/configuration/block-storage/drivers/vzstorage-driver.rst
  doc/source/reference/support-matrix.ini
  doc/source/reference/support-matrix.rst
  releasenotes/notes/virtuozzo-storage-driver-removal-d53942afce6465d0.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Remove the Veritas Access Driver
  cinder/opts.py
  cinder/tests/unit/volume/drivers/veritas_access/__init__.py
  cinder/tests/unit/volume/drivers/veritas_access/test_veritas_iscsi.py
  cinder/volume/drivers/veritas_access/__init__.py
  cinder/volume/drivers/veritas_access/veritas_iscsi.py
  doc/source/configuration/block-storage/drivers/veritas-access-iscsi-driver.rst
  doc/source/reference/support-matrix.ini
  doc/source/reference/support-matrix.rst
  releasenotes/notes/veritas-access-driver-removal-dd9f0bc34c798c84.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

PowerMax Driver - RDF clean snapvx target fix
  cinder/tests/unit/volume/drivers/dell_emc/powermax/test_powermax_replication.py
  cinder/volume/drivers/dell_emc/powermax/common.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Add upgrade check for removed VZStorage driver
  cinder/cmd/status.py
  cinder/tests/unit/cmd/test_status.py
Due: openstack-tox-functional-py36, openstack-tox-pylint, openstack-tox-functional

PowerMax Driver - Unisphere storage group/array tagging support
  cinder/tests/unit/volume/drivers/dell_emc/powermax/powermax_data.py
  cinder/tests/unit/volume/drivers/dell_emc/powermax/powermax_fake_objects.py
  cinder/tests/unit/volume/drivers/dell_emc/powermax/test_powermax_common.py
  cinder/tests/unit/volume/drivers/dell_emc/powermax/test_powermax_masking.py
  cinder/tests/unit/volume/drivers/dell_emc/powermax/test_powermax_metadata.py
  cinder/tests/unit/volume/drivers/dell_emc/powermax/test_powermax_utils.py
  cinder/volume/drivers/dell_emc/powermax/common.py
  cinder/volume/drivers/dell_emc/powermax/fc.py
  cinder/volume/drivers/dell_emc/powermax/iscsi.py
  cinder/volume/drivers/dell_emc/powermax/masking.py
  cinder/volume/drivers/dell_emc/powermax/metadata.py
  cinder/volume/drivers/dell_emc/powermax/rest.py
  cinder/volume/drivers/dell_emc/powermax/utils.py
  releasenotes/notes/powermax-storage-group-tagging-d2281e9b35994bec.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Mark MacroSAN Driver Unsupported
  cinder/volume/drivers/macrosan/driver.py
  doc/source/reference/support-matrix.ini
  releasenotes/notes/macrosan_driver_unsupported-b25f7a3b8270fa61.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Fix an issue in storwize unit test case
  cinder/tests/unit/volume/drivers/ibm/test_storwize_svc.py
Due: none

Update oslo.vmware version
  lower-constraints.txt
  requirements.txt
Due: openstack-tox-functional-py36, openstack-tox-pylint, openstack-tox-functional

Hacking: Remove C304 check for LOG.audit
  cinder/tests/hacking/checks.py
  cinder/tests/unit/test_hacking.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Tests: hacking check tweaks
  cinder/tests/hacking/checks.py
  cinder/tests/unit/test_hacking.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Bump paramiko requirement
  lower-constraints.txt
  requirements.txt
Due: openstack-tox-functional-py36, openstack-tox-pylint, openstack-tox-functional

RBD: catch argument exceptions when configuring multiattach
  cinder/tests/unit/volume/drivers/test_rbd.py
  cinder/volume/drivers/rbd.py
  releasenotes/notes/rbd-multiattach-exceptions-43066312f3b527f5.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Add upgrade check for removed Veritas Access driver
  cinder/cmd/status.py
  cinder/tests/unit/cmd/test_status.py
Due: openstack-tox-functional-py36, openstack-tox-pylint, openstack-tox-functional

Fix some typos in docs
  cinder/api/openstack/rest_api_version_history.rst
  doc/source/configuration/block-storage/drivers/dell-emc-powermax-driver.rst
  doc/source/configuration/block-storage/drivers/dell-emc-unity-driver.rst
  doc/source/configuration/block-storage/drivers/hp-msa-driver.rst
  doc/source/configuration/block-storage/drivers/huawei-storage-driver.rst
  doc/source/configuration/block-storage/drivers/lenovo-driver.rst
  doc/source/configuration/block-storage/drivers/seagate-driver.rst
  doc/source/configuration/block-storage/drivers/windows-smb-volume-driver.rst
  doc/source/configuration/block-storage/policy-config-HOWTO.rst
Due: none

Support multiple stores of Glance
  cinder/api/contrib/types_extra_specs.py
  cinder/exception.py
  cinder/image/glance.py
  cinder/image/image_utils.py
  cinder/tests/unit/api/contrib/test_types_extra_specs.py
  cinder/tests/unit/image/fake.py
  cinder/tests/unit/test_image_utils.py
  cinder/tests/unit/volume/drivers/test_gpfs.py
  cinder/tests/unit/volume/drivers/test_quobyte.py
  cinder/tests/unit/volume/drivers/test_spdk.py
  cinder/tests/unit/volume/drivers/vmware/test_fcd.py
  cinder/tests/unit/volume/drivers/vmware/test_vmware_vmdk.py
  cinder/tests/unit/volume/test_image.py
  cinder/tests/unit/windows/test_iscsi.py
  cinder/tests/unit/windows/test_smbfs.py
  cinder/volume/driver.py
  cinder/volume/drivers/dell_emc/vxflexos/driver.py
  cinder/volume/drivers/ibm/gpfs.py
  cinder/volume/drivers/linstordrv.py
  cinder/volume/drivers/lvm.py
  cinder/volume/drivers/rbd.py
  cinder/volume/drivers/remotefs.py
  cinder/volume/drivers/spdk.py
  cinder/volume/drivers/vmware/fcd.py
  cinder/volume/drivers/vmware/vmdk.py
  cinder/volume/drivers/windows/iscsi.py
  cinder/volume/drivers/windows/smbfs.py
  cinder/volume/manager.py
  releasenotes/notes/support-glance-multiple-stores-79d11c5344f41446.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Refactor README links
  README.rst
Due: none

Add migration to make volume_type_id non nullable
  cinder/db/sqlalchemy/migrate_repo/versions/136_make_vol_type_col_non_nullable.py
  cinder/tests/unit/cmd/test_status.py
  cinder/tests/unit/db/test_migrations.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Handle retries in PowerMax unit tests
  cinder/tests/unit/volume/drivers/dell_emc/powermax/test_powermax_common.py
Due: none

Configurable timeout of the QEMU img conversion
  cinder/image/image_utils.py
  releasenotes/notes/add-configurable-img-conversion-param-1e7b545ae816dfe8.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Remove Dell EMC PS Series Driver
  cinder/opts.py
  cinder/tests/unit/volume/drivers/dell_emc/test_ps.py
  cinder/volume/drivers/dell_emc/ps.py
  cinder/volume/drivers/dell_emc/sc/storagecenter_common.py
  doc/source/admin/blockstorage-troubleshoot.rst
  doc/source/admin/ts-eql-volume-size.rst
  doc/source/configuration/block-storage/drivers/dell-equallogic-driver.rst
  doc/source/reference/support-matrix.ini
  releasenotes/notes/dell-emc-ps-deprecation-ae8d166e1847ea94.yaml
  releasenotes/notes/eqlx-volume-manage-unmanage-a24ec7f0d9989df3.yaml
  releasenotes/notes/move-eqlx-driver-to-dell-emc-fe5d2b484c47b7a6.yaml
  releasenotes/notes/ps-duplicate-ACL-5aa447c50f2474e7.yaml
  releasenotes/notes/ps-extend_volume-no-snap-8aa447c50f2475a7.yaml
  releasenotes/notes/ps-optimize-parsing-8aa447c50f2474c7.yaml
  releasenotes/notes/ps-over-subscription-ratio-cal-8aa447c50f2474a8.yaml
  releasenotes/notes/ps-removedriver-5ba447c50f2474e7.yaml
  releasenotes/notes/ps-report-total-volumes-8aa447c50f2474a7.yaml
  releasenotes/notes/remove-eqlx-deprecated-options-89ba02c41d4da62a.yaml
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ja/LC_MESSAGES/releasenotes.po
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Cap sphinx for py2 to match global reqs
  doc/requirements.txt
Due: none

Fix: Create new cache entry when xtremio reaches snap limit
  cinder/exception.py
  cinder/tests/unit/volume/flows/test_create_volume_flow.py
  cinder/volume/drivers/dell_emc/xtremio.py
  cinder/volume/flows/manager/create_volume.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Skip cryptsetup password quality checking
  cinder/tests/unit/volume/test_volume.py
  cinder/volume/flows/manager/create_volume.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Add cryptsetup to bindep.txt
  bindep.txt
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Update reviewing doc with py3 usage guidelines
  doc/source/contributor/gerrit.rst
  doc/source/index.rst
Due: none

Update driver removal policy
  doc/source/drivers-all-about.rst
Due: none
