Repository openstack/cinder: changes, and which Zuul jobs are due for each by the changed paths.
All: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

cinder-tox-bandit-baseline:
  parent: openstack-tox
  timeout: 2400
  vars:
    tox_envlist: bandit-baseline
  required-projects:
  - openstack/requirements

cinder-code-coverage:
  parent: openstack-tox-cover
  timeout: 2400

cinder-rally-task:
  parent: rally-task-cinder
  timeout: 7800
  vars:
    devstack_localrc:
      OSPROFILER_COLLECTOR: redis
    devstack_plugins:
      osprofiler: https://opendev.org/openstack/osprofiler
      rally-openstack: https://opendev.org/openstack/rally-openstack
    rally_task: rally-jobs/cinder.yaml
  required-projects:
  ...

openstack-tox-pylint:
  voting: false
  timeout: 5400

cinder-plugin-ceph-tempest:
  parent: devstack-plugin-ceph-tempest-py3
  roles:
  - zuul: opendev.org/openstack/cinderlib
  - zuul: opendev.org/openstack/cinder-tempest-plugin
  run: playbooks/tempest-and-cinderlib-run.yaml
  post-run: playbooks/post-cinderlib.yaml
  required-projects:
  - opendev.org/openstack/cinderlib
  vars:
  ...

cinder-plugin-ceph-tempest-mn-aa:
  parent: devstack-plugin-ceph-multinode-tempest-py3
  roles:
  - zuul: opendev.org/openstack/cinderlib
  - zuul: opendev.org/openstack/cinder-tempest-plugin
  run: playbooks/tempest-and-cinderlib-run.yaml
  post-run: playbooks/post-cinderlib.yaml
  required-projects:
  - opendev.org/openstack/cinderlib
  vars:
  ...

cinder-grenade-mn-sub-volbak:
  parent: grenade-multinode
  ...

cinder-tempest-lvm-multibackend:
  parent: devstack-tempest
  description: "Cinder tempest job based on LVM and multiple backends.\nFormer names for this job were:\n  * legacy-tempest-dsvm-lvm-multibackend\n"
  timeout: 10800
  required-projects:
  - opendev.org/openstack/cinder-tempest-plugin
  vars:
    tox_envlist: all
  ...

cinder-for-glance-optimized:
  parent: cinder-tempest-plugin-basic
  description: 'Configures glance with cinder as a backend for multiple glance cinder
  
    stores and with cinder configured to use the optimized workflow of
  
    moving image data directly in the backend.
  
    '
  vars:
    devstack_localrc:
      USE_CINDER_FOR_GLANCE: true
  ...

devstack-plugin-nfs-tempest-full:
  voting: false

cinder-multibackend-matrix-migration:
  parent: devstack-tempest
  description: "Run migration tests between several combinations of backends\n(LVM, Ceph, NFS)\nFormer names for this job were:\n  * legacy-tempest-dsvm-multibackend-matrix\n"
  timeout: 10800
  required-projects:
  - opendev.org/openstack/devstack-plugin-ceph
  ...

cinder-grenade-mn-sub-volschbak:
  parent: grenade-multinode
  ...

cinder-grenade-mn-sub-bak:
  parent: grenade-multinode
  ...

NetApp ONTAP: Add volume migration functions on REST client
  cinder/tests/unit/volume/drivers/netapp/dataontap/client/fakes.py
  cinder/tests/unit/volume/drivers/netapp/dataontap/client/test_client_cmode_rest.py
  cinder/volume/drivers/netapp/dataontap/block_cmode.py
  cinder/volume/drivers/netapp/dataontap/client/client_cmode_rest.py
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

NetApp ONTAP: Add revert to snapshot functions on REST client
  cinder/tests/unit/volume/drivers/netapp/dataontap/client/test_client_cmode_rest.py
  cinder/volume/drivers/netapp/dataontap/client/client_cmode_rest.py
  releasenotes/notes/netapp-ontap-rest-api-client-d889cfa895f01249.yaml
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Support os-brick specific lock_path
  cinder/cmd/backup.py
  cinder/cmd/volume.py
  releasenotes/notes/lock_path-940af881b2112bbe.yaml
  requirements.txt
  tools/config/cinder-config-generator.conf
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Fix and unify capacity calculations
  cinder/scheduler/filters/capacity_filter.py
  cinder/tests/unit/scheduler/test_capacity_weigher.py
  cinder/tests/unit/scheduler/test_host_filters.py
  cinder/tests/unit/scheduler/test_host_manager.py
  cinder/tests/unit/test_utils.py
  cinder/utils.py
  releasenotes/notes/slug-b6a0fc3db0a2dd45.yaml
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Fix a typo in cinder/volume/drivers/infinidat.py
  cinder/volume/drivers/infinidat.py
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Dell EMC Unity driver in cinder
  doc/source/configuration/block-storage/drivers/dell-emc-unity-driver.rst
Due: none

Infinidat: add support for revert to snapshot operation
  cinder/tests/unit/volume/drivers/test_infinidat.py
  cinder/volume/drivers/infinidat.py
  doc/source/configuration/block-storage/drivers/infinidat-volume-driver.rst
  doc/source/reference/support-matrix.ini
  releasenotes/notes/bp-infinidat-add-snapshot-revert-1bab97e85ff10780.yaml
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Ceph backup: Close source file
  cinder/backup/drivers/ceph.py
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

PowerMax Driver - Fix for renaming GVG
  cinder/tests/unit/volume/drivers/dell_emc/powermax/test_powermax_common.py
  cinder/tests/unit/volume/drivers/dell_emc/powermax/test_powermax_replication.py
  cinder/tests/unit/volume/drivers/dell_emc/powermax/test_powermax_rest.py
  cinder/volume/drivers/dell_emc/powermax/common.py
  cinder/volume/drivers/dell_emc/powermax/rest.py
  cinder/volume/drivers/dell_emc/powermax/utils.py
  releasenotes/notes/bug-1936848-6ecc78e0e970419a.yaml
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Infinidat: support for manage/unmanage API
  cinder/tests/unit/volume/drivers/test_infinidat.py
  cinder/volume/drivers/infinidat.py
  doc/source/configuration/block-storage/drivers/infinidat-volume-driver.rst
  releasenotes/notes/infinidat-manage-unmanage-ccc42b79d741369f.yaml
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

RBD backend QoS implementation
  cinder/tests/unit/volume/drivers/test_rbd.py
  cinder/volume/drivers/rbd.py
  doc/source/configuration/block-storage/drivers/ceph-rbd-volume-driver.rst
  releasenotes/notes/rbd-backend-qos-implementation-0e141b742e277d26.yaml
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

lightos: parse urls with urlparse for ipv6 support
  cinder/tests/unit/volume/drivers/lightos/test_lightos_storage.py
  cinder/volume/drivers/lightos.py
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Fix Infinidat driver to use TLS/SSL communication
  cinder/tests/unit/volume/drivers/test_infinidat.py
  cinder/volume/drivers/infinidat.py
  doc/source/configuration/block-storage/drivers/infinidat-volume-driver.rst
  releasenotes/notes/bug-1981982-infinidat-fix-ssl-options-6ddd852c24b16760.yaml
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

rbd: Fix snapshot delete when the source volume doesn't exist
  cinder/tests/unit/volume/drivers/test_rbd.py
  cinder/volume/drivers/rbd.py
  releasenotes/notes/bug-1957073-0d1307a8637a62b7.yaml
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Imported Translations from Zanata
  cinder/locale/ko_KR/LC_MESSAGES/cinder.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Update .gitreview for stable/zed
  .gitreview
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Update TOX_CONSTRAINTS_FILE for stable/zed
  tox.ini
Due: openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint

Update master for stable/zed
  releasenotes/source/index.rst
  releasenotes/source/zed.rst
Due: none

Switch to 2023.1 Python3 unit tests and generic template name
  .zuul.yaml
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Fix Infinidat driver to return all iSCSI portals
  cinder/tests/unit/volume/drivers/test_infinidat.py
  cinder/volume/drivers/infinidat.py
  releasenotes/notes/bug-1981354-infinidat-iscsi-fix-multipath-3f8a0be5f541c66e.yaml
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Ceph minimum client on cinder-plugin-ceph-tempest job enable
  .zuul.yaml
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Revert "PowerFlex driver - fix the display of the incorrect volume"
  cinder/tests/unit/volume/drivers/dell_emc/powerflex/test_create_volume.py
  cinder/volume/drivers/dell_emc/powerflex/driver.py
  releasenotes/notes/bug-1968164-powerflex-fixed-volume-size-provided-by-driver-4555edf1abab141c.yaml
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Tests: Fix service stopping on cleanup
  cinder/tests/unit/test.py
Due: cinder-code-coverage

Tests: Monkey patch before logs are loaded
  cinder/tests/unit/__init__.py
Due: cinder-code-coverage

Tests: Fix test runner never finishing
  cinder/tests/unit/__init__.py
  cinder/tests/unit/backup/test_backup.py
  cinder/tests/unit/known_issues.py
  cinder/tests/unit/test.py
  cinder/tests/unit/utils.py
Due: cinder-code-coverage

mypy: Correct return types for volumes/snapshots summary
  cinder/volume/manager.py
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Clean up formatting in dplcommon.py
  cinder/volume/drivers/prophetstor/dplcommon.py
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Clarify encrypted volume transfer release note
  releasenotes/notes/transfer-encrypted-volume-2f040a6993435e79.yaml
Due: none

Clarify description of encrypted volume transfer mv
  cinder/api/openstack/rest_api_version_history.rst
Due: none

Update metadata in setup.cfg
  setup.cfg
Due: openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint

Fix release note for bug 1957073
  releasenotes/notes/bug-1957073-0d1307a8637a62b7.yaml
Due: none

Remove unsupported options from cinder-manage quota command
  doc/source/cli/cinder-manage.rst
Due: none

NFS: Fix generic revert to snapshot flow
  cinder/tests/unit/volume/drivers/test_nfs.py
  cinder/volume/drivers/remotefs.py
  releasenotes/notes/fix-nfs-revert-to-snap-adc04204b3661d66.yaml
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Path conditions:
  cinder-tox-bandit-baseline: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-code-coverage: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  openstack-tox-functional-py36: unless all of: ^.*\.rst$, ^cinder/locale/.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$
  openstack-tox-functional-py39: unless all of: ^.*\.rst$, ^cinder/locale/.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$
  cinder-rally-task: unless all of: ^.*\.rst$, ^cinder/locale/.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$
  openstack-tox-pylint: unless all of: ^.*\.rst$, ^api-ref/.*$, ^cinder/locale/.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$
  cinder-plugin-ceph-tempest: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-plugin-ceph-tempest-mn-aa: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-tempest-plugin-lvm-lio-barbican: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-grenade-mn-sub-volbak: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-tempest-lvm-multibackend: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-for-glance-optimized: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-nfs-tempest-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-slow-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-integrated-storage: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-ipv6-only: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  openstacksdk-functional-devstack: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-multibackend-matrix-migration: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-grenade-mn-sub-volschbak: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-grenade-mn-sub-bak: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-ceph-tempest-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
