Repository openstack/cinder: changes, and which Zuul jobs are due for each by the changed paths.
All: cinder-tempest-dsvm-lvm-lio, cinder-tox-compliance, cinder-tox-bandit-baseline

.zuul.yaml:

- project:
    name: openstack/cinder
    check:
      jobs:
        - cinder-tempest-dsvm-lvm-lio:
            voting: false
        - cinder-tox-compliance
        - cinder-tox-bandit-baseline:
            voting: false
        - nova-multiattach
    gate:
      jobs:
        - cinder-tox-compliance
        - nova-multiattach

- job:
    # Previously named legacy-tempest-dsvm-full-lio
    name: cinder-tempest-dsvm-lvm-lio
    parent: legacy-dsvm-base
    run: playbooks/legacy/cinder-tempest-dsvm-lvm-lio/run.yaml
    post-run: playbooks/legacy/cinder-tempest-dsvm-lvm-lio/post.yaml
    timeout: 10800
    required-projects:
      - openstack-infra/devstack-gate
      - openstack/barbican
      - openstack/python-barbicanclient
      - openstack/tempest
      - openstack/os-brick
    irrelevant-files:
      - ^.*\.rst$
      - ^api-ref/.*$
      - ^cinder/hacking/.*$
      - ^cinder/locale/.*$
      - ^cinder/tests/functional.*$
      - ^cinder/tests/unit.*$
      - ^contrib/block-box.*$
      - ^doc/.*$
      - ^releasenotes/.*$
      - ^tools/.*$

- job:
    # Test that all drivers follow the defined interface
    name: cinder-tox-compliance
    parent: openstack-tox
    timeout: 2400
    vars:
      tox_envlist: compliance
    required-projects:
      - openstack/requirements
    files:
      - ^cinder/volume/driver.py
      - ^cinder/volume/drivers/.*$
      - ^cinder/interface/.*$
      - ^cinder/backup/.*$
      - ^cinder/zonemanager/.*$

- job:
    # Security testing for known issues
    name: cinder-tox-bandit-baseline
    parent: openstack-tox
    timeout: 2400
    vars:
      tox_envlist: bandit-baseline
    required-projects:
      - openstack/requirements
    irrelevant-files:
      - ^.*\.rst$
      - ^api-ref/.*$
      - ^cinder/hacking/.*$
      - ^cinder/locale/.*$
      - ^cinder/tests/functional.*$
      - ^cinder/tests/unit.*$
      - ^contrib/block-box.*$
      - ^doc/.*$
      - ^releasenotes/.*$
      - ^setup.cfg$
      - ^tools/.*$

Correct lvm_type default value in config doc
  doc/source/configuration/tables/cinder-lvm.inc
Due: none

Add python 3.5 in classifier
  setup.cfg
Due: cinder-tempest-dsvm-lvm-lio

Zuul: Remove project name
  .zuul.yaml
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-bandit-baseline

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Revert consumed quota when failed to create group from source group
  cinder/group/api.py
  cinder/tests/unit/group/test_groups_api.py
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-bandit-baseline

VMAX doc - incorrect info on Hybrids in Pike
  doc/source/configuration/block-storage/drivers/emc-vmax-driver.rst
Due: none

VMAX doc - Queens feature documentation
  doc/source/configuration/block-storage/drivers/emc-vmax-driver.rst
Due: none

Make CinderException format errors fatal for tests
  cinder/exception.py
  cinder/test.py
  cinder/tests/unit/test_exception.py
  cinder/tests/unit/volume/drivers/ibm/test_ibm_flashsystem.py
  cinder/tests/unit/volume/drivers/ibm/test_storwize_svc.py
  cinder/tests/unit/volume/drivers/inspur/instorage/test_common.py
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-bandit-baseline

Api-ref: add 'all_tenants' API query option
  api-ref/source/v2/consistencygroups-v2.inc
  api-ref/source/v2/ext-backups.inc
  api-ref/source/v2/os-cgsnapshots-v2.inc
  api-ref/source/v2/os-vol-transfer-v2.inc
  api-ref/source/v2/volumes-v2-snapshots.inc
  api-ref/source/v2/volumes-v2-volumes.inc
  api-ref/source/v3/attachments.inc
  api-ref/source/v3/consistencygroups-v3.inc
  api-ref/source/v3/ext-backups.inc
  api-ref/source/v3/group-snapshots.inc
  api-ref/source/v3/groups.inc
  api-ref/source/v3/os-cgsnapshots-v3.inc
  api-ref/source/v3/os-vol-transfer-v3.inc
  api-ref/source/v3/volumes-v3-snapshots.inc
  api-ref/source/v3/volumes-v3-volumes.inc
Due: none

Fix UnicodeDecodeError when decode API input
  cinder/api/middleware/fault.py
  cinder/tests/unit/api/middleware/test_faults.py
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-bandit-baseline

Fix json data format
  api-ref/source/v3/samples/group-create-request.json
  api-ref/source/v3/samples/group-snapshots-create-request.json
  api-ref/source/v3/samples/qos-create-request.json
  api-ref/source/v3/samples/quotas-update-request.json
Due: none

Add Windows volume backup support
  cinder/backup/chunkeddriver.py
  cinder/backup/manager.py
  cinder/tests/unit/backup/drivers/test_backup_swift.py
  cinder/tests/unit/backup/test_backup.py
  cinder/tests/unit/test_utils.py
  cinder/utils.py
  cinder/volume/driver.py
  cinder/volume/drivers/windows/iscsi.py
  cinder/volume/drivers/windows/smbfs.py
  releasenotes/notes/windows-volume-backup-b328858a20f5a499.yaml
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-compliance, cinder-tox-bandit-baseline

Deprecate Cinder Hosts API/Extension
  cinder/api/contrib/hosts.py
  releasenotes/notes/deprecate_hosts_api_extension-fe0c042af10a20db.yaml
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-bandit-baseline

Use provider_id for SolidFire Volume lookups
  cinder/tests/unit/volume/drivers/solidfire/test_solidfire.py
  cinder/volume/drivers/solidfire.py
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-compliance, cinder-tox-bandit-baseline

Fix AZ not matching backend after migration
  cinder/tests/unit/utils.py
  cinder/tests/unit/volume/test_volume_migration.py
  cinder/volume/manager.py
  releasenotes/notes/fix-cross-az-migration-ce97eff61280e1c7.yaml
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-bandit-baseline

Update .gitreview for stable/queens
  .gitreview
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-bandit-baseline

Update UPPER_CONSTRAINTS_FILE for stable/queens
  tox.ini
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-bandit-baseline

Update reno for stable/queens
  releasenotes/source/index.rst
  releasenotes/source/queens.rst
Due: none

Enable multiattach capability for the zfssa driver
  cinder/volume/drivers/zfssa/zfssaiscsi.py
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-compliance, cinder-tox-bandit-baseline

Fix typos in cinder
  cinder/volume/drivers/ibm/ibm_storage/ds8k_proxy.py
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-compliance, cinder-tox-bandit-baseline

Fix spelling mistakes
  cinder/backup/drivers/posix.py
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-compliance, cinder-tox-bandit-baseline

fix misspelling of 'return'
  cinder/volume/drivers/fujitsu/eternus_dx_common.py
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-compliance, cinder-tox-bandit-baseline

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/fr/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ja/LC_MESSAGES/releasenotes.po
Due: none

Fix link error in 'Boot from volume' doc
  doc/source/admin/blockstorage-boot-from-volume.rst
Due: none

Fix typos
  doc/source/configuration/block-storage/drivers/zfssa-nfs-driver.rst
Due: none

Remove some unused parameters in parameters.yaml
  api-ref/source/v3/parameters.yaml
Due: none

Remove "cinder-manage logs" commands
  cinder/cmd/manage.py
  cinder/tests/unit/test_cmd.py
  releasenotes/notes/remove-cinder-manage-logs-cmds-40fb8f475b37fb2f.yaml
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-bandit-baseline

Fix grammar error
  doc/source/contributor/api_microversion_dev.rst
Due: none

Fix the note of API version in admin doc.
  doc/source/admin/blockstorage-consistency-groups.rst
  doc/source/admin/blockstorage-volume-backups.rst
  doc/source/admin/blockstorage-volume-migration.rst
Due: none

Improve logs on scheduler
  cinder/scheduler/filters/capacity_filter.py
  cinder/scheduler/host_manager.py
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-bandit-baseline

Imported Translations from Zanata
  cinder/locale/cs/LC_MESSAGES/cinder.po
  cinder/locale/de/LC_MESSAGES/cinder.po
  cinder/locale/es/LC_MESSAGES/cinder.po
  cinder/locale/fr/LC_MESSAGES/cinder.po
  cinder/locale/it/LC_MESSAGES/cinder.po
  cinder/locale/ja/LC_MESSAGES/cinder.po
  cinder/locale/ko_KR/LC_MESSAGES/cinder.po
  cinder/locale/pt_BR/LC_MESSAGES/cinder.po
  cinder/locale/ru/LC_MESSAGES/cinder.po
  cinder/locale/zh_CN/LC_MESSAGES/cinder.po
  cinder/locale/zh_TW/LC_MESSAGES/cinder.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

NetApp ONTAP: Copy offload bugfix
  cinder/tests/unit/volume/drivers/netapp/dataontap/test_nfs_cmode.py
  cinder/volume/drivers/netapp/dataontap/nfs_base.py
  cinder/volume/drivers/netapp/dataontap/nfs_cmode.py
  releasenotes/notes/bug-1632333-netapp-ontap-copyoffload-downloads-glance-image-twice-08801d8c7b9eed2c.yaml
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-compliance, cinder-tox-bandit-baseline

Solving permission errors due to directory ownership on NFS
  cinder/backup/drivers/nfs.py
  cinder/tests/unit/backup/drivers/test_backup_nfs.py
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-compliance, cinder-tox-bandit-baseline

ScaleIO: Add documentation for containerized overcloud
  doc/source/configuration/block-storage/drivers/dell-emc-scaleio-driver.rst
Due: none

Remove deprecated service-to-driver mapping for backups
  cinder/backup/manager.py
  cinder/tests/unit/backup/test_backup.py
  releasenotes/notes/remove-backup-service-to-driver-mapping-4d2ed6f868a64175.yaml
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-compliance, cinder-tox-bandit-baseline

Admin guide documentation for volume multiattach
  doc/source/admin/blockstorage-volume-multiattach.rst
  doc/source/conf.py
Due: none
