Repository openstack/cinder: changes, and which Zuul jobs are due for each by the changed paths.
All: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Path conditions:
  cinder-tox-bandit-baseline: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-code-coverage: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  openstack-tox-functional-py36: unless all of: ^.*\.rst$, ^cinder/locale/.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$
  openstack-tox-functional-py39: unless all of: ^.*\.rst$, ^cinder/locale/.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$
  cinder-rally-task: unless all of: ^.*\.rst$, ^cinder/locale/.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$
  openstack-tox-pylint: unless all of: ^.*\.rst$, ^api-ref/.*$, ^cinder/locale/.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$
  cinder-plugin-ceph-tempest: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-plugin-ceph-tempest-mn-aa: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-tempest-plugin-lvm-lio-barbican: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-grenade-mn-sub-volbak: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-tempest-lvm-multibackend: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-for-glance-optimized: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-nfs-tempest-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-slow-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-integrated-storage: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-ipv6-only: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  openstacksdk-functional-devstack: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-multibackend-matrix-migration: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-grenade-mn-sub-volschbak: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-grenade-mn-sub-bak: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-ceph-tempest-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$

Dell PowerMax Driver - Add support for Unisphere for PowerMax 10.0
  cinder/tests/unit/volume/drivers/dell_emc/powermax/powermax_data.py
  cinder/tests/unit/volume/drivers/dell_emc/powermax/test_powermax_common.py
  cinder/tests/unit/volume/drivers/dell_emc/powermax/test_powermax_iscsi.py
  cinder/tests/unit/volume/drivers/dell_emc/powermax/test_powermax_masking.py
  cinder/tests/unit/volume/drivers/dell_emc/powermax/test_powermax_replication.py
  cinder/tests/unit/volume/drivers/dell_emc/powermax/test_powermax_rest.py
  cinder/volume/drivers/dell_emc/powermax/common.py
  cinder/volume/drivers/dell_emc/powermax/masking.py
  cinder/volume/drivers/dell_emc/powermax/metadata.py
  cinder/volume/drivers/dell_emc/powermax/provision.py
  cinder/volume/drivers/dell_emc/powermax/rest.py
  cinder/volume/drivers/dell_emc/powermax/utils.py
  releasenotes/notes/unisphere-for-powermax-10-support-637dfde0f8fa9862.yaml
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

S3 Backup: Remove list of compression algorithms
  cinder/backup/drivers/s3.py
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

S3 Backup: Warn if verify_ssl is true with no cert file
  cinder/backup/drivers/s3.py
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

nit: correct comment in backup manager
  cinder/backup/manager.py
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Serialize message_* properties of RequestContext
  cinder/context.py
  releasenotes/notes/bug-1978729-cinder-backup-4cd87c4d71b7713e.yaml
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Check VMDK subformat against an allowed list
  cinder/image/image_utils.py
  cinder/tests/unit/test_image_utils.py
  releasenotes/notes/bug-1996188-vmdk-subformat-allow-list-93e6943d9a486d11.yaml
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

[PURE] support IPv6 / add parameter pure_iscsi_cidr_list
  cinder/tests/unit/volume/drivers/test_pure.py
  cinder/volume/drivers/pure.py
  releasenotes/notes/pure-iscsi-cidrs-7195eda9f7214fce.yaml
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Add install docs for LINSTOR driver dependencies
  doc/source/configuration/block-storage/drivers/linstor-driver.rst
  driver-requirements.txt
  setup.cfg
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Fix and unify capacity calculations
  cinder/scheduler/filters/capacity_filter.py
  cinder/tests/unit/scheduler/test_capacity_weigher.py
  cinder/tests/unit/scheduler/test_host_filters.py
  cinder/tests/unit/scheduler/test_host_manager.py
  cinder/tests/unit/test_utils.py
  cinder/utils.py
  releasenotes/notes/slug-b6a0fc3db0a2dd45.yaml
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Hitachi: support new storages
  doc/source/configuration/block-storage/drivers/hitachi-vsp-driver.rst
  releasenotes/notes/hitachi-vsp-support-new-storages-d8e8a527462dba24.yaml
Due: none

Fix Infinidat driver consistency groups feature
  cinder/tests/unit/volume/drivers/test_infinidat.py
  cinder/volume/drivers/infinidat.py
  releasenotes/notes/bug-1984000-infinidat-fix-consistency-groups-cf5b9c85dbf972ee.yaml
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

[SVf] Optimize lsmdiskgrp calls in creation of replicated volumes
  cinder/tests/unit/volume/drivers/ibm/test_storwize_svc.py
  cinder/volume/drivers/ibm/storwize_svc/storwize_svc_common.py
  releasenotes/notes/bug-1978290-ibm-svf-optimize_SSH_calls_in_creation_of_replicated_volumes-8fad7f54a4d3e73a.yaml
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Infinidat: add storage assisted volume migration
  cinder/tests/unit/volume/drivers/test_infinidat.py
  cinder/volume/drivers/infinidat.py
  doc/source/configuration/block-storage/drivers/infinidat-volume-driver.rst
  releasenotes/notes/infinidat-add-storage-assisted-migration-4e12f24ee297ef65.yaml
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Fix Infinidat driver to return all iSCSI portals
  cinder/tests/unit/volume/drivers/test_infinidat.py
  cinder/volume/drivers/infinidat.py
  releasenotes/notes/bug-1981354-infinidat-iscsi-fix-multipath-3f8a0be5f541c66e.yaml
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Fix Infinidat driver generic volume migration
  cinder/tests/unit/volume/drivers/test_infinidat.py
  cinder/volume/drivers/infinidat.py
  releasenotes/notes/bug-1982405-infinidat-fix-generic-volume-migration-da33a6fe980ac4eb.yaml
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Get ready for tox 4
  tox.ini
Due: openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint

[SVf]: mkhost failure when volume and node are on different iogrp
  cinder/tests/unit/volume/drivers/ibm/test_storwize_svc.py
  cinder/volume/drivers/ibm/storwize_svc/storwize_svc_common.py
  releasenotes/notes/bug-1985065-storwize-mkhost-failure-592d8cb76e9feeb2.yaml
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Storage node configuration
  doc/source/install/cinder-storage-install-rdo.rst
Due: none

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Change functional job py39 to py310
  .zuul.yaml
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Fixed issues with Pure syncrep iSCSI CIDRs
  cinder/tests/unit/volume/drivers/test_pure.py
  cinder/volume/drivers/pure.py
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Handle external events in extend volume
  cinder/tests/unit/volume/test_volume.py
  cinder/volume/manager.py
  releasenotes/notes/handle-external-events-in-extend-6ae53b822baf0004.yaml
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Replace incorrect dictionary API usage with a correct one
  cinder/volume/api.py
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

tox: Remove [testenv] basepython setting
  tox.ini
Due: openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint

[stable-only] Pin tox <4
  .zuul.yaml
  tox.ini
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Doc: IBM Spectrum Virtualize family [SVf] Volume driver document correction
  doc/source/configuration/block-storage/drivers/ibm-storwize-svc-driver.rst
Due: none

Tests: make hpe3par tests pass on py311
  cinder/tests/unit/volume/drivers/hpe/test_hpe3par.py
Due: cinder-code-coverage

Tests: storwize: Work around bug in unit test
  cinder/tests/unit/volume/drivers/ibm/test_storwize_svc.py
Due: cinder-code-coverage

Use the json format output of qemu-img info
  cinder/image/image_utils.py
  cinder/tests/unit/test_image_utils.py
  cinder/tests/unit/volume/drivers/test_nfs.py
  cinder/tests/unit/volume/drivers/test_quobyte.py
  cinder/volume/flows/manager/create_volume.py
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full
