Repository openstack/cinder: changes, and which Zuul jobs are due for each by the changed paths.
All: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

cinder-tox-bandit-baseline:
  parent: openstack-tox
  timeout: 2400
  vars:
    tox_envlist: bandit-baseline
  required-projects:
  - openstack/requirements

cinder-code-coverage:
  parent: openstack-tox-cover
  timeout: 2400

cinder-rally-task:
  parent: rally-task-cinder
  timeout: 7800
  vars:
    devstack_localrc:
      OSPROFILER_COLLECTOR: redis
    devstack_plugins:
      osprofiler: https://opendev.org/openstack/osprofiler
      rally-openstack: https://opendev.org/openstack/rally-openstack
    rally_task: rally-jobs/cinder.yaml
  required-projects:
  ...

openstack-tox-pylint:
  voting: false
  timeout: 5400

cinder-plugin-ceph-tempest:
  parent: devstack-plugin-ceph-tempest-py3
  roles:
  - zuul: opendev.org/openstack/cinderlib
  - zuul: opendev.org/openstack/cinder-tempest-plugin
  run: playbooks/tempest-and-cinderlib-run.yaml
  post-run: playbooks/post-cinderlib.yaml
  required-projects:
  - opendev.org/openstack/cinderlib
  vars:
  ...

cinder-plugin-ceph-tempest-mn-aa:
  parent: devstack-plugin-ceph-multinode-tempest-py3
  roles:
  - zuul: opendev.org/openstack/cinderlib
  - zuul: opendev.org/openstack/cinder-tempest-plugin
  run: playbooks/tempest-and-cinderlib-run.yaml
  post-run: playbooks/post-cinderlib.yaml
  required-projects:
  - opendev.org/openstack/cinderlib
  vars:
  ...

cinder-grenade-mn-sub-volbak:
  parent: grenade-multinode
  ...

cinder-tempest-lvm-multibackend:
  parent: devstack-tempest
  description: "Cinder tempest job based on LVM and multiple backends.\nFormer names for this job were:\n  * legacy-tempest-dsvm-lvm-multibackend\n"
  timeout: 10800
  required-projects:
  - opendev.org/openstack/cinder-tempest-plugin
  vars:
    tox_envlist: all
  ...

cinder-for-glance-optimized:
  parent: cinder-tempest-plugin-basic
  description: 'Configures glance with cinder as a backend for multiple glance cinder
  
    stores and with cinder configured to use the optimized workflow of
  
    moving image data directly in the backend.
  
    '
  vars:
    devstack_localrc:
      USE_CINDER_FOR_GLANCE: true
  ...

devstack-plugin-nfs-tempest-full:
  voting: false

cinder-multibackend-matrix-migration:
  parent: devstack-tempest
  description: "Run migration tests between several combinations of backends\n(LVM, Ceph, NFS)\nFormer names for this job were:\n  * legacy-tempest-dsvm-multibackend-matrix\n"
  timeout: 10800
  required-projects:
  - opendev.org/openstack/devstack-plugin-ceph
  ...

cinder-grenade-mn-sub-volschbak:
  parent: grenade-multinode
  ...

cinder-grenade-mn-sub-bak:
  parent: grenade-multinode
  ...

Hitachi: Prevent to delete a LDEV assigned to multi objects
  cinder/tests/unit/volume/drivers/hitachi/test_hitachi_hbsd_mirror_fc.py
  cinder/tests/unit/volume/drivers/hitachi/test_hitachi_hbsd_rest_fc.py
  cinder/tests/unit/volume/drivers/hitachi/test_hitachi_hbsd_rest_iscsi.py
  cinder/tests/unit/volume/drivers/hpe/xp/test_hpe_xp_rest_fc.py
  cinder/tests/unit/volume/drivers/hpe/xp/test_hpe_xp_rest_iscsi.py
  cinder/tests/unit/volume/drivers/nec/v/test_internal_nec_rest_fc.py
  cinder/tests/unit/volume/drivers/nec/v/test_internal_nec_rest_iscsi.py
  cinder/volume/drivers/hitachi/hbsd_common.py
  cinder/volume/drivers/hitachi/hbsd_fc.py
  cinder/volume/drivers/hitachi/hbsd_iscsi.py
  cinder/volume/drivers/hitachi/hbsd_replication.py
  cinder/volume/drivers/hitachi/hbsd_rest.py
  cinder/volume/drivers/hitachi/hbsd_utils.py
  doc/source/configuration/block-storage/drivers/hitachi-vsp-driver.rst
  releasenotes/notes/hitachi-prevent-data-loss-9ec3569d7d5b1e7d.yaml
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

StorPool: Fix typo
  cinder/volume/drivers/storpool.py
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Dell PowerFlex: Additionnal params for enabling self signed certificates
  cinder/volume/drivers/dell_emc/powerflex/driver.py
  releasenotes/notes/dell-powerflex-bugfix-1998136-self-signed-certificates-62e3cb444ab7ff2b.yaml
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Skip image format detection tests for compute
  .zuul.yaml
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Support hacking 7.0.0
  cinder/tests/unit/volume/drivers/ibm/test_storwize_svc.py
  test-requirements.txt
Due: cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint

Hitachi: Fix to set correct object ID for LDEV nickname
  cinder/tests/unit/volume/drivers/hitachi/test_hitachi_hbsd_mirror_fc.py
  cinder/tests/unit/volume/drivers/hitachi/test_hitachi_hbsd_rest_fc.py
  cinder/tests/unit/volume/drivers/hitachi/test_hitachi_hbsd_rest_iscsi.py
  cinder/tests/unit/volume/drivers/hpe/xp/__init__.py
  cinder/tests/unit/volume/drivers/hpe/xp/test_hpe_xp_rest_fc.py
  cinder/tests/unit/volume/drivers/hpe/xp/test_hpe_xp_rest_iscsi.py
  cinder/tests/unit/volume/drivers/nec/v/test_internal_nec_rest_fc.py
  cinder/tests/unit/volume/drivers/nec/v/test_internal_nec_rest_iscsi.py
  cinder/volume/drivers/hitachi/hbsd_common.py
  cinder/volume/drivers/hitachi/hbsd_fc.py
  cinder/volume/drivers/hitachi/hbsd_iscsi.py
  cinder/volume/drivers/hitachi/hbsd_replication.py
  releasenotes/notes/hitachi_fix-ldevnickname-0a0756449e7448d9.yaml
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

[Pure Storage] Fix CG, FC WWN and NVME-TCP NSID bugs
  cinder/tests/unit/volume/drivers/test_pure.py
  cinder/volume/drivers/pure.py
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Hitachi: Fix to use correct pool on secondary storage
  cinder/volume/drivers/hitachi/hbsd_replication.py
  releasenotes/notes/hitachi-vsp-fix-to-use-correct-pool-in-GAD-9413a343dcc98029.yaml
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

HPE XP and NEC V: Host group name is not correct
  cinder/tests/unit/volume/drivers/hpe/xp/test_hpe_xp_rest_fc.py
  cinder/tests/unit/volume/drivers/hpe/xp/test_hpe_xp_rest_iscsi.py
  cinder/volume/drivers/hitachi/hbsd_common.py
  releasenotes/notes/hitachi-vsp-fix-to-use-correct-HGname-78c3c47dcf984ddf.yaml
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Hitachi: Fix exception when deleted volume is busy
  cinder/tests/unit/volume/drivers/hitachi/test_hitachi_hbsd_mirror_fc.py
  cinder/tests/unit/volume/drivers/hitachi/test_hitachi_hbsd_rest_fc.py
  cinder/volume/drivers/hitachi/hbsd_common.py
  releasenotes/notes/hitachi-vsp-fix-except-in-del-vol-ca8b4c5d40d69531.yaml
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Tests: Save 30s on hbsd FC tests
  cinder/tests/unit/volume/drivers/hitachi/test_hitachi_hbsd_rest_fc.py
Due: cinder-code-coverage

Hitachi: Stop frequently REST API request in test
  cinder/tests/unit/volume/drivers/hitachi/test_hitachi_hbsd_mirror_fc.py
  cinder/tests/unit/volume/drivers/hitachi/test_hitachi_hbsd_rest_fc.py
  cinder/tests/unit/volume/drivers/hitachi/test_hitachi_hbsd_rest_iscsi.py
  releasenotes/notes/hitachi_fix-testscripts-e4490f9f99994fb8.yaml
Due: cinder-code-coverage

Tests: Make NEC tests faster
  cinder/tests/unit/volume/drivers/nec/v/test_internal_nec_rest_fc.py
Due: cinder-code-coverage

QemuImgInfo: Replace remaining usage of human format
  cinder/tests/unit/volume/drivers/dell_emc/powerstore/test_nfs.py
Due: cinder-code-coverage

Doc: Remove cinder-manage logs documentation
  doc/source/cli/cinder-manage.rst
Due: none

PowerStore Driver - Add a unit test for connection properties for NVMeOF connector
  cinder/tests/unit/volume/drivers/dell_emc/powerstore/test_volume_attach_detach.py
Due: cinder-code-coverage

CVE-2024-32498: Check for external qcow2 data file
  cinder/image/format_inspector.py
  cinder/image/image_utils.py
  cinder/privsep/format_inspector.py
  cinder/tests/unit/image/test_format_inspector.py
  cinder/tests/unit/privsep/test_format_inspector.py
  cinder/tests/unit/test_image_utils.py
  cinder/tests/unit/volume/drivers/test_nfs.py
  cinder/tests/unit/volume/drivers/test_quobyte.py
  cinder/tests/unit/volume/drivers/test_remotefs.py
  cinder/volume/drivers/nfs.py
  cinder/volume/drivers/remotefs.py
  releasenotes/notes/bug-2059809-disallow-qcow2-datafile-abc4e6d8be766710.yaml
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Fix "cinder-manage quota check"
  cinder/cmd/manage.py
  cinder/db/api.py
  cinder/db/sqlalchemy/api.py
  releasenotes/notes/bug-2077643-manage-quota-sync-no-args-7fe8dbc6e3069cfc.yaml
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

[SAP] Change the minimal virtual disk capacity to 4MB
  cinder/tests/unit/volume/drivers/vmware/test_vmware_volumeops.py
  cinder/volume/drivers/vmware/volumeops.py
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

[SAP] netapp/dataontap: ignore certificate
  cinder/volume/drivers/netapp/dataontap/client/api.py
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

[SAP] implement size expansion when creating volume from template-based snapshot
  cinder/tests/unit/volume/drivers/vmware/test_vmware_volumeops.py
  cinder/volume/drivers/vmware/vmdk.py
  cinder/volume/drivers/vmware/volumeops.py
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

[SAP] Fix pep8 warnings
  cinder/volume/drivers/netapp/dataontap/client/api.py
  cinder/volume/drivers/vmware/vmdk.py
  cinder/volume/drivers/vmware/volumeops.py
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

[SAP] vmware: Optionally storage-profile on attach
  cinder/tests/unit/volume/drivers/vmware/test_vmware_vmdk.py
  cinder/volume/drivers/vmware/vmdk.py
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

[SAP] run `tox -e genopts` for "scheduler: Add ShardFilter"
  cinder/opts.py
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

[SAP] Normalize the new backing during terminate_connection
  cinder/tests/unit/volume/drivers/vmware/test_vmware_vmdk.py
  cinder/volume/drivers/vmware/vmdk.py
  cinder/volume/drivers/vmware/volumeops.py
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

[SAP] scheduler: ShardFilter lets snapshots pass
  cinder/scheduler/filters/shard_filter.py
  cinder/tests/unit/scheduler/test_shard_filter.py
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

[SAP] add reporting of thin provisioning
  cinder/volume/drivers/vmware/vmdk.py
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

[SAP] Online resize of cinder volumes (#24)
  cinder/volume/drivers/vmware/vmdk.py
  cinder/volume/drivers/vmware/volumeops.py
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

[SAP] Remove all NICs from snapshot
  cinder/tests/unit/volume/drivers/vmware/test_vmware_vmdk.py
  cinder/tests/unit/volume/drivers/vmware/test_vmware_volumeops.py
  cinder/volume/drivers/vmware/vmdk.py
  cinder/volume/drivers/vmware/volumeops.py
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Path conditions:
  cinder-tox-bandit-baseline: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-code-coverage: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  openstack-tox-functional-py36: unless all of: ^.*\.rst$, ^cinder/locale/.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$
  openstack-tox-functional-py39: unless all of: ^.*\.rst$, ^cinder/locale/.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$
  cinder-rally-task: unless all of: ^.*\.rst$, ^cinder/locale/.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$
  openstack-tox-pylint: unless all of: ^.*\.rst$, ^api-ref/.*$, ^cinder/locale/.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$
  cinder-plugin-ceph-tempest: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-plugin-ceph-tempest-mn-aa: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-tempest-plugin-lvm-lio-barbican: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-grenade-mn-sub-volbak: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-tempest-lvm-multibackend: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-for-glance-optimized: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-nfs-tempest-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-slow-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-integrated-storage: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-ipv6-only: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  openstacksdk-functional-devstack: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-multibackend-matrix-migration: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-grenade-mn-sub-volschbak: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-grenade-mn-sub-bak: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-ceph-tempest-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
