Repository openstack/cinder: changes, and which Zuul jobs are due for each by the changed paths.
All: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

cinder-tox-bandit-baseline:
  parent: openstack-tox
  timeout: 2400
  vars:
    tox_envlist: bandit-baseline
  required-projects:
  - openstack/requirements

cinder-code-coverage:
  parent: openstack-tox-cover
  timeout: 2400

cinder-rally-task:
  parent: rally-task-cinder
  timeout: 7800
  vars:
    devstack_localrc:
      OSPROFILER_COLLECTOR: redis
    devstack_plugins:
      osprofiler: https://opendev.org/openstack/osprofiler
      rally-openstack: https://opendev.org/openstack/rally-openstack
    rally_task: rally-jobs/cinder.yaml
  required-projects:
  ...

openstack-tox-pylint:
  voting: false
  timeout: 5400

cinder-plugin-ceph-tempest:
  parent: devstack-plugin-ceph-tempest-py3
  roles:
  - zuul: opendev.org/openstack/cinderlib
  - zuul: opendev.org/openstack/cinder-tempest-plugin
  run: playbooks/tempest-and-cinderlib-run.yaml
  post-run: playbooks/post-cinderlib.yaml
  required-projects:
  - opendev.org/openstack/cinderlib
  vars:
  ...

cinder-plugin-ceph-tempest-mn-aa:
  parent: devstack-plugin-ceph-multinode-tempest-py3
  roles:
  - zuul: opendev.org/openstack/cinderlib
  - zuul: opendev.org/openstack/cinder-tempest-plugin
  run: playbooks/tempest-and-cinderlib-run.yaml
  post-run: playbooks/post-cinderlib.yaml
  required-projects:
  - opendev.org/openstack/cinderlib
  vars:
  ...

cinder-grenade-mn-sub-volbak:
  parent: grenade-multinode
  ...

cinder-tempest-lvm-multibackend:
  parent: devstack-tempest
  description: "Cinder tempest job based on LVM and multiple backends.\nFormer names for this job were:\n  * legacy-tempest-dsvm-lvm-multibackend\n"
  timeout: 10800
  required-projects:
  - opendev.org/openstack/cinder-tempest-plugin
  vars:
    tox_envlist: all
  ...

cinder-for-glance-optimized:
  parent: cinder-tempest-plugin-basic
  description: 'Configures glance with cinder as a backend for multiple glance cinder
  
    stores and with cinder configured to use the optimized workflow of
  
    moving image data directly in the backend.
  
    '
  vars:
    devstack_localrc:
      USE_CINDER_FOR_GLANCE: true
  ...

devstack-plugin-nfs-tempest-full:
  voting: false

cinder-multibackend-matrix-migration:
  parent: devstack-tempest
  description: "Run migration tests between several combinations of backends\n(LVM, Ceph, NFS)\nFormer names for this job were:\n  * legacy-tempest-dsvm-multibackend-matrix\n"
  timeout: 10800
  required-projects:
  - opendev.org/openstack/devstack-plugin-ceph
  ...

cinder-grenade-mn-sub-volschbak:
  parent: grenade-multinode
  ...

cinder-grenade-mn-sub-bak:
  parent: grenade-multinode
  ...

Remove psutil requirement
  cinder/image/image_utils.py
  cinder/tests/unit/volume/drivers/test_quobyte.py
  cinder/volume/drivers/quobyte.py
  driver-requirements.txt
  releasenotes/notes/quobyte-extra-requires-8dc1761859da923a.yaml
  requirements.txt
  setup.cfg
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

HPE 3par: getWsApiVersion now requires login
  cinder/volume/drivers/hpe/hpe_3par_common.py
  releasenotes/notes/hpe-3par-login-getWsApiVersion-0252d655844ae054.yaml
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Update .gitreview for unmaintained/zed
  .gitreview
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

CVE-2024-32498: Check for external qcow2 data file
  cinder/image/format_inspector.py
  cinder/image/image_utils.py
  cinder/privsep/format_inspector.py
  cinder/tests/unit/image/test_format_inspector.py
  cinder/tests/unit/privsep/test_format_inspector.py
  cinder/tests/unit/test_image_utils.py
  cinder/tests/unit/volume/drivers/test_nfs.py
  cinder/tests/unit/volume/drivers/test_quobyte.py
  cinder/tests/unit/volume/drivers/test_remotefs.py
  cinder/volume/drivers/nfs.py
  cinder/volume/drivers/remotefs.py
  releasenotes/notes/bug-2059809-disallow-qcow2-datafile-abc4e6d8be766710.yaml
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Stop testing old release of cinder
  cinder/tests/unit/volume/drivers/test_datera.py
Due: cinder-code-coverage

Imported Translations from Zanata
  cinder/locale/ja/LC_MESSAGES/cinder.po
  cinder/locale/zh_CN/LC_MESSAGES/cinder.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Hitachi: Fix to set correct object ID for LDEV nickname
  cinder/tests/unit/volume/drivers/hitachi/test_hitachi_hbsd_mirror_fc.py
  cinder/tests/unit/volume/drivers/hitachi/test_hitachi_hbsd_rest_fc.py
  cinder/tests/unit/volume/drivers/hitachi/test_hitachi_hbsd_rest_iscsi.py
  cinder/tests/unit/volume/drivers/hpe/xp/__init__.py
  cinder/tests/unit/volume/drivers/hpe/xp/test_hpe_xp_rest_fc.py
  cinder/tests/unit/volume/drivers/hpe/xp/test_hpe_xp_rest_iscsi.py
  cinder/tests/unit/volume/drivers/nec/v/test_internal_nec_rest_fc.py
  cinder/tests/unit/volume/drivers/nec/v/test_internal_nec_rest_iscsi.py
  cinder/volume/drivers/hitachi/hbsd_common.py
  cinder/volume/drivers/hitachi/hbsd_fc.py
  cinder/volume/drivers/hitachi/hbsd_iscsi.py
  cinder/volume/drivers/hitachi/hbsd_replication.py
  releasenotes/notes/hitachi_fix-ldevnickname-0a0756449e7448d9.yaml
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

[stable-only] Set volume_image_dep_tests flag
  .zuul.yaml
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Update lightos active active doc's
  doc/source/configuration/block-storage/drivers/lightbits-lightos-driver.rst
  doc/source/reference/support-matrix.ini
Due: none

RBD: Fix handling of RBD errors in get_manageable_volumes
  cinder/tests/unit/volume/drivers/test_rbd.py
  cinder/volume/drivers/rbd.py
  releasenotes/notes/rbd-bug-2065713-driver-exc-handling-f8de823cd9acd767.yaml
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Tests: fix quobyte breaking other tests
  cinder/tests/unit/volume/drivers/test_quobyte.py
Due: cinder-code-coverage

Tests: Mock sleep in fungible unit tests
  cinder/tests/unit/volume/drivers/fungible/test_driver.py
Due: cinder-code-coverage

add IPACL support to the Lightbits Cinder driver
  cinder/tests/unit/volume/drivers/lightos/test_lightos_storage.py
  cinder/volume/drivers/lightos.py
  releasenotes/notes/lightbits-volume-ipacl-23da3aa469689817.yaml
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

reno: Update master for unmaintained/zed
  releasenotes/source/zed.rst
Due: none

Pass with mypy 1.11.0
  cinder/backup/manager.py
  cinder/scheduler/host_manager.py
  cinder/volume/flows/manager/create_volume.py
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Unmaintained/yoga only: Make cinder-plugin-ceph-tempest non-voting
  .zuul.yaml
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Make Cinder reproducible
  cinder/cmd/backup.py
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Add the clone_across_pools driver capability
  cinder/image/cache.py
  cinder/interface/volume_driver.py
  cinder/tests/unit/image/test_cache.py
  cinder/tests/unit/volume/flows/test_create_volume_flow.py
  cinder/volume/flows/manager/create_volume.py
  cinder/volume/manager.py
  releasenotes/notes/feature-clone-across-pools-63021bc853e9161a.yaml
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

StorPool: declare the clone_across_pools capability
  cinder/volume/drivers/storpool.py
  releasenotes/notes/storpool-clone-across-pools-b3f7923dee35503a.yaml
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Fix: [Ceph] Backup Driver Python3 Encoding Issue
  cinder/backup/drivers/ceph.py
  cinder/tests/unit/backup/drivers/test_backup_ceph.py
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Constrain mypy version on stable/2024.1
  test-requirements.txt
Due: openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint

HPE Nimble: Add replication
  cinder/tests/unit/volume/drivers/hpe/test_nimble.py
  cinder/volume/drivers/hpe/nimble.py
  doc/source/configuration/block-storage/drivers/nimble-volume-driver.rst
  doc/source/reference/support-matrix.ini
  releasenotes/notes/nimble-replication-a5f757f7d7047065.yaml
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Keep new RBAC disable by default
  cinder/common/config.py
  cinder/policy.py
  requirements.txt
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Fix _is_encrypted comparison in volume api
  cinder/volume/api.py
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Added support to Active/Active mode in ISCSI/FC drivers [NetApp ONTAP]
  cinder/tests/unit/volume/drivers/netapp/dataontap/test_block_cmode.py
  cinder/volume/drivers/netapp/dataontap/block_cmode.py
  cinder/volume/drivers/netapp/dataontap/fc_cmode.py
  cinder/volume/drivers/netapp/dataontap/iscsi_cmode.py
  doc/source/reference/support-matrix.ini
  releasenotes/notes/feature-netapp-iscsi-aa-support-eff8ed19a30e87c0.yaml
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

More thorough mock on a backup message test
  cinder/tests/unit/backup/test_backup_messages.py
Due: cinder-code-coverage

Do not call get_all_classes to get all classes
  cinder/tests/unit/scheduler/helpers.py
  cinder/tests/unit/scheduler/test_host_filters.py
Due: cinder-code-coverage

Enhance FakeHostManager class
  cinder/tests/unit/scheduler/fakes.py
Due: cinder-code-coverage

Use FakeHostManager for weigher tests
  cinder/tests/unit/scheduler/test_chance_weigher.py
Due: cinder-code-coverage

Use FakeHostManager for scheduler tests
  cinder/tests/unit/scheduler/test_scheduler.py
Due: cinder-code-coverage

Remove hard coded class in FakeFilterScheduler
  cinder/tests/unit/scheduler/fakes.py
  cinder/tests/unit/scheduler/test_filter_scheduler.py
Due: cinder-code-coverage

Mock get_all_classes in setUp()
  cinder/tests/unit/scheduler/test_host_manager.py
Due: cinder-code-coverage

Path conditions:
  cinder-tox-bandit-baseline: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-code-coverage: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  openstack-tox-functional-py36: unless all of: ^.*\.rst$, ^cinder/locale/.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$
  openstack-tox-functional-py39: unless all of: ^.*\.rst$, ^cinder/locale/.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$
  cinder-rally-task: unless all of: ^.*\.rst$, ^cinder/locale/.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$
  openstack-tox-pylint: unless all of: ^.*\.rst$, ^api-ref/.*$, ^cinder/locale/.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$
  cinder-plugin-ceph-tempest: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-plugin-ceph-tempest-mn-aa: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-tempest-plugin-lvm-lio-barbican: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-grenade-mn-sub-volbak: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-tempest-lvm-multibackend: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-for-glance-optimized: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-nfs-tempest-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-slow-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-integrated-storage: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-ipv6-only: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  openstacksdk-functional-devstack: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-multibackend-matrix-migration: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-grenade-mn-sub-volschbak: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-grenade-mn-sub-bak: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-ceph-tempest-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
