Repository openstack/cinder: changes, and which Zuul jobs are due for each by the changed paths.
All: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Path conditions:
  cinder-tempest-dsvm-lvm-lio-barbican: unless all of: ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$
  cinder-tox-bandit-baseline: unless all of: ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$
  openstack-tox-pylint: unless all of: ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$
  devstack-plugin-ceph-tempest: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  openstack-tox-functional: unless all of: ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$
  legacy-grenade-dsvm-cinder-mn-sub-volbak: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-lvm-multibackend: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-full-drbd-devstack: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-full-devstack-plugin-nfs: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-full-sheepdog-src-os-brick: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-zeromq-multibackend: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-multibackend-matrix: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-cinder-mn-sub-volschbak: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-cinder-mn-sub-bak: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-ceph-tempest-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-pg-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-full-opensuse-423: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-full-sheepdog: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$

Remove confusing annotation
  cinder/api/contrib/volume_actions.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Remove the repeated calls
  cinder/volume/api.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Remove driver requirements of removed drivers
  driver-requirements.txt
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Make sure we install cinder requirements during the correct tox phase
  tox.ini
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, openstack-tox-functional

Update doc for missed quotation marks
  doc/source/contributor/replication.rst
Due: none

move xtremio exceptions
  cinder/exception.py
  cinder/tests/unit/volume/drivers/dell_emc/test_xtremio.py
  cinder/volume/drivers/dell_emc/xtremio.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

move 3par exception
  cinder/exception.py
  cinder/tests/unit/volume/drivers/hpe/test_hpe3par.py
  cinder/volume/drivers/hpe/hpe_3par_common.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

move brocade zone manager exceptions
  cinder/exception.py
  cinder/tests/unit/zonemanager/test_brcd_fc_zone_client_cli.py
  cinder/tests/unit/zonemanager/test_brcd_http_fc_zone_client.py
  cinder/zonemanager/drivers/brocade/brcd_fc_zone_client_cli.py
  cinder/zonemanager/drivers/brocade/brcd_fc_zone_driver.py
  cinder/zonemanager/drivers/brocade/brcd_http_fc_zone_client.py
  cinder/zonemanager/drivers/brocade/exception.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

move NVMEOF exception to target file
  cinder/exception.py
  cinder/tests/unit/targets/test_nvmeof_driver.py
  cinder/volume/targets/nvmeof.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

move Nexenta exception
  cinder/exception.py
  cinder/tests/unit/volume/drivers/nexenta/test_nexenta.py
  cinder/tests/unit/volume/drivers/nexenta/test_nexenta_edge.py
  cinder/volume/drivers/nexenta/iscsi.py
  cinder/volume/drivers/nexenta/jsonrpc.py
  cinder/volume/drivers/nexenta/nexentaedge/iscsi.py
  cinder/volume/drivers/nexenta/nfs.py
  cinder/volume/drivers/nexenta/utils.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

move netapp exception
  cinder/exception.py
  cinder/tests/unit/volume/drivers/netapp/dataontap/client/test_client_cmode.py
  cinder/tests/unit/volume/drivers/netapp/dataontap/test_block_base.py
  cinder/tests/unit/volume/drivers/netapp/dataontap/test_block_cmode.py
  cinder/tests/unit/volume/drivers/netapp/dataontap/test_nfs_cmode.py
  cinder/tests/unit/volume/drivers/netapp/dataontap/utils/test_data_motion.py
  cinder/tests/unit/volume/drivers/netapp/test_utils.py
  cinder/volume/drivers/netapp/dataontap/block_base.py
  cinder/volume/drivers/netapp/dataontap/block_cmode.py
  cinder/volume/drivers/netapp/dataontap/client/client_cmode.py
  cinder/volume/drivers/netapp/dataontap/nfs_cmode.py
  cinder/volume/drivers/netapp/dataontap/utils/data_motion.py
  cinder/volume/drivers/netapp/utils.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Glob volume driver docs to auto sort
  doc/source/configuration/block-storage/drivers/oracle-zfssa-iscsi-driver.rst
  doc/source/configuration/block-storage/drivers/oracle-zfssa-nfs-driver.rst
  doc/source/configuration/block-storage/volume-drivers.rst
Due: none

Correct typo in api-ref
  api-ref/source/v3/volumes-v3-types.inc
Due: none

Update NEC driver manual and support matrix.
  doc/source/configuration/block-storage/drivers/nec-storage-m-series-driver.rst
  doc/source/reference/support-matrix.ini
Due: none

Change the matching method of the backup driver
  cinder/backup/manager.py
  cinder/tests/unit/backup/test_backup.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

move zfssa exception
  cinder/exception.py
  cinder/volume/drivers/zfssa/webdavclient.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

NetApp: Return all iSCSI targets-portals
  cinder/tests/unit/volume/drivers/netapp/dataontap/test_block_base.py
  cinder/tests/unit/volume/drivers/netapp/dataontap/test_block_cmode.py
  cinder/tests/unit/volume/drivers/netapp/eseries/test_driver.py
  cinder/tests/unit/volume/drivers/netapp/fakes.py
  cinder/tests/unit/volume/drivers/netapp/test_utils.py
  cinder/volume/drivers/netapp/dataontap/block_base.py
  cinder/volume/drivers/netapp/dataontap/block_cmode.py
  cinder/volume/drivers/netapp/eseries/library.py
  cinder/volume/drivers/netapp/utils.py
  releasenotes/notes/netapp-non-discovery-19af4e10f7b190ea.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Handle collections.abc deprecations
  cinder/api/openstack/wsgi.py
  cinder/cmd/manage.py
  cinder/db/sqlalchemy/api.py
  cinder/objects/base.py
  cinder/objects/cleanable.py
  cinder/scheduler/host_manager.py
  cinder/tests/unit/volume/drivers/netapp/dataontap/test_block_driver_interfaces.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Cap sphinx for py2 to match global reqs
  doc/requirements.txt
Due: none

Remove BackupDriverWithVerify class
  cinder/backup/driver.py
  cinder/backup/manager.py
  cinder/exception.py
  cinder/interface/backup_verify_driver.py
  cinder/tests/unit/backup/fake_service_with_verify.py
  cinder/tests/unit/backup/test_backup.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

[VNX] Fix test case issue
  cinder/tests/unit/volume/drivers/dell_emc/vnx/mocked_vnx.yaml
  cinder/tests/unit/volume/drivers/dell_emc/vnx/test_adapter.py
Due: none

Pure Storage FlashArray iSCSI driver target CIDR support
  cinder/tests/unit/volume/drivers/test_pure.py
  cinder/volume/drivers/pure.py
  releasenotes/notes/pure-iscsi-cidr-cbc1afb3850a9217.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

HPE 3PAR-Added support for multiattach feature in hpe3par cinder driver
  cinder/volume/drivers/hpe/hpe_3par_common.py
  releasenotes/notes/hpe_3par_multiattach-bf98a9e5c2208902.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

LOG _init_vendor_properites
  cinder/volume/driver.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Move RBD driver exception to driver
  cinder/exception.py
  cinder/volume/drivers/rbd.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Bump bandit version
  lower-constraints.txt
  test-requirements.txt
  tox.ini
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

move zadara exceptions
  cinder/exception.py
  cinder/tests/unit/volume/drivers/test_zadara.py
  cinder/volume/drivers/zadara.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

move vzstorage exceptions
  cinder/exception.py
  cinder/tests/unit/volume/drivers/test_vzstorage.py
  cinder/volume/drivers/vzstorage.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

move cisco zonemanager exception
  cinder/exception.py
  cinder/tests/unit/zonemanager/test_cisco_fc_zone_client_cli.py
  cinder/zonemanager/drivers/cisco/cisco_fc_san_lookup_service.py
  cinder/zonemanager/drivers/cisco/cisco_fc_zone_client_cli.py
  cinder/zonemanager/drivers/cisco/cisco_fc_zone_driver.py
  cinder/zonemanager/drivers/cisco/exception.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Fix "connector=None" issue in Kaminario drivers
  cinder/tests/unit/volume/drivers/test_kaminario.py
  cinder/volume/drivers/kaminario/kaminario_common.py
  cinder/volume/drivers/kaminario/kaminario_fc.py
  releasenotes/notes/kaminario-cinder-driver-bug-44c728f026394a85.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Drop use git.openstack.org for tox deps
  tox.ini
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, openstack-tox-functional

Remove Sheepdog tests from zuul config
  .zuul.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

lvm: Only use initiators when comparing connector dicts
  cinder/tests/unit/volume/drivers/test_lvm_driver.py
  cinder/volume/drivers/lvm.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

move storpool exception
  cinder/exception.py
  cinder/tests/unit/volume/drivers/test_storpool.py
  cinder/volume/drivers/storpool.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

move Hyperscale exceptions to driver
  cinder/exception.py
  cinder/tests/unit/volume/drivers/test_vrtshyperscale.py
  cinder/volume/drivers/veritas/exception.py
  cinder/volume/drivers/veritas/utils.py
  cinder/volume/drivers/veritas/vrtshyperscale.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

move purestorage driver exceptions
  cinder/exception.py
  cinder/tests/unit/volume/drivers/test_pure.py
  cinder/volume/drivers/pure.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

NEX-20720 and NEX-20773
  cinder/volume/drivers/nexenta/iscsi.py
  cinder/volume/drivers/nexenta/jsonrpc.py
  cinder/volume/drivers/nexenta/nfs.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog
