Repository openstack/cinder: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

cinder-plugin-ceph-tempest:
  parent: devstack-plugin-ceph-tempest-py3
  roles:
  - zuul: opendev.org/openstack/cinder-tempest-plugin
  vars:
    tempest_exclude_regex: (tempest.api.image.v2.test_images_formats.ImagesFormatTest.test_compute_rejects)
    devstack_localrc:
      CEPH_MIN_CLIENT_VERSION: mimic
    devstack_local_conf:
  ...

cinder-tempest-plugin-lvm-lio-barbican-fips:
  voting: false

cinder-grenade-mn-sub-volbak:
  parent: grenade-multinode
  ...

devstack-plugin-nfs-tempest-full-fips:
  voting: false

cinder-multibackend-matrix-migration:
  parent: devstack-tempest
  description: "Run migration tests between several combinations of backends\n(LVM, Ceph, NFS)\nFormer names for this job were:\n  * legacy-tempest-dsvm-multibackend-matrix\n"
  timeout: 10800
  required-projects:
  - opendev.org/openstack/devstack-plugin-ceph
  ...

cinder-grenade-mn-sub-volschbak:
  parent: grenade-multinode
  ...

cinder-grenade-mn-sub-bak:
  parent: grenade-multinode
  ...

Imported Translations from Zanata
  cinder/locale/ja/LC_MESSAGES/cinder.po
  cinder/locale/zh_CN/LC_MESSAGES/cinder.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Add option to restrict arbitrary containers for backups
  cinder/backup/chunkeddriver.py
  cinder/backup/drivers/gcs.py
  cinder/backup/drivers/posix.py
  cinder/backup/drivers/s3.py
  cinder/backup/drivers/swift.py
  cinder/tests/unit/backup/drivers/test_backup_google.py
  cinder/tests/unit/backup/drivers/test_backup_posix.py
  cinder/tests/unit/backup/drivers/test_backup_s3.py
  cinder/tests/unit/backup/drivers/test_backup_swift.py
  releasenotes/notes/backup_create_containers-1f3a9008877347d1.yaml
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

[stable-only] pep8, unit tests, doc fixes
  cinder/tests/unit/volume/drivers/netapp/dataontap/utils/fakes.py
  cinder/tests/unit/volume/drivers/netapp/dataontap/utils/test_capabilities.py
  tox.ini
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-tempest-plugin-lvm-lio-barbican

[stable-only] pep8, unit tests, doc fixes, more
  .zuul.yaml
  cinder/tests/unit/volume/drivers/netapp/dataontap/utils/fakes.py
  cinder/tests/unit/volume/drivers/netapp/dataontap/utils/test_capabilities.py
  tox.ini
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

[stable-only] constrain setuptools
  tox.ini
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-tempest-plugin-lvm-lio-barbican

[IBM SVf driver] Adding support for CINDER plugin registration
  cinder/tests/unit/volume/drivers/ibm/test_storwize_svc.py
  cinder/volume/drivers/ibm/storwize_svc/storwize_const.py
  cinder/volume/drivers/ibm/storwize_svc/storwize_svc_common.py
  releasenotes/notes/ibm-svf-register-cinder-plugin-support-0904b0d01299f06d.yaml
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Doc: Documentation updates for ibm-svf-volumegroup feature.
  doc/source/configuration/block-storage/drivers/ibm-storwize-svc-driver.rst
  doc/source/configuration/tables/cinder-storwize.inc
Due: none

Handling session leak and multithreading issues
  cinder/tests/unit/volume/drivers/hpe/test_hpe3par.py
  cinder/volume/drivers/hpe/hpe_3par_base.py
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Update docs for Pure rebrand
  doc/source/configuration/block-storage/drivers/pure-storage-driver.rst
  doc/source/reference/support-matrix.ini
  releasenotes/notes/pure_rebrand-a0c7910de711adf3.yaml
Due: none

[IBM SVf driver] Doc: Documentation updates for ibm-svf-callhome feature
  doc/source/configuration/block-storage/drivers/ibm-storwize-svc-driver.rst
Due: none

NetApp ONTAP:Add async single CG replication support
  cinder/tests/unit/volume/drivers/netapp/dataontap/test_block_cmode.py
  cinder/tests/unit/volume/drivers/netapp/dataontap/test_nfs_cmode.py
  cinder/tests/unit/volume/drivers/netapp/dataontap/utils/test_data_motion.py
  cinder/volume/drivers/netapp/dataontap/block_cmode.py
  cinder/volume/drivers/netapp/dataontap/nfs_cmode.py
  cinder/volume/drivers/netapp/dataontap/utils/data_motion.py
  cinder/volume/drivers/netapp/options.py
  releasenotes/notes/netapp-asyn-replication-71f4e969385aac7b.yaml
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

NetApp - Fix for LUN and namespace name handling in cache for ASAr2
  cinder/tests/unit/volume/drivers/netapp/dataontap/fakes.py
  cinder/tests/unit/volume/drivers/netapp/dataontap/test_block_base.py
  cinder/tests/unit/volume/drivers/netapp/dataontap/test_nvme_library.py
  cinder/tests/unit/volume/drivers/netapp/fakes.py
  cinder/tests/unit/volume/drivers/netapp/test_utils.py
  cinder/volume/drivers/netapp/dataontap/block_base.py
  cinder/volume/drivers/netapp/dataontap/nvme_library.py
  cinder/volume/drivers/netapp/utils.py
  releasenotes/notes/bug-fix-2139272-handling-cache-asar2-5e821e2d862d3669.yaml
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Tests: Add extend_volume to fake driver
  cinder/tests/fake_driver.py
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

[Pure Storage] Add SafeMode support
  cinder/tests/unit/volume/drivers/test_pure.py
  cinder/volume/drivers/pure.py
  doc/source/configuration/block-storage/drivers/pure-storage-driver.rst
  releasenotes/notes/pure_safemode-01321ba0fc7ea796.yaml
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Remove eventlet.sleep calls from scheduler
  cinder/scheduler/manager.py
  cinder/tests/unit/scheduler/test_scheduler.py
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

[Hitachi] Bug fix: Introduce Host Group and target/WWN caching and batching to address severe performance issues (especially when using custom Host Groups, or creating several VMs at once).
  cinder/tests/unit/volume/drivers/hitachi/test_hitachi_hbsd_mirror_fc.py
  cinder/tests/unit/volume/drivers/hitachi/test_hitachi_hbsd_replication_fc.py
  cinder/tests/unit/volume/drivers/hitachi/test_hitachi_hbsd_rest_fc.py
  cinder/tests/unit/volume/drivers/hitachi/test_hitachi_hbsd_rest_iscsi.py
  cinder/tests/unit/volume/drivers/hitachi/test_hitachi_hbsd_utils.py
  cinder/tests/unit/volume/drivers/hpe/xp/test_hpe_xp_rest_fc.py
  cinder/tests/unit/volume/drivers/hpe/xp/test_hpe_xp_rest_iscsi.py
  cinder/tests/unit/volume/drivers/nec/v/test_internal_nec_rest_fc.py
  cinder/tests/unit/volume/drivers/nec/v/test_internal_nec_rest_iscsi.py
  cinder/tests/unit/volume/drivers/nec/v/test_nec_rest_fc.py
  cinder/tests/unit/volume/drivers/nec/v/test_nec_rest_iscsi.py
  cinder/volume/drivers/hitachi/hbsd_fc.py
  cinder/volume/drivers/hitachi/hbsd_iscsi.py
  cinder/volume/drivers/hitachi/hbsd_rest.py
  cinder/volume/drivers/hitachi/hbsd_rest_api.py
  cinder/volume/drivers/hitachi/hbsd_rest_fc.py
  cinder/volume/drivers/hitachi/hbsd_rest_iscsi.py
  cinder/volume/drivers/hitachi/hbsd_utils.py
  cinder/volume/drivers/hpe/xp/hpe_xp_rest.py
  cinder/volume/drivers/nec/v/nec_v_rest.py
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Rename Pure driver docs to Everpure
  doc/source/configuration/block-storage/drivers/everpure-driver.rst
Due: none

[doc] correct formatting in release notes
  releasenotes/notes/bug-2119123-fixed-multiple-issues-with-active-sync-replication-da3bb479bc424224.yaml
  releasenotes/notes/bug-2138640-fix-for-async-snapmirror-regression-1d1250e1a1a545ef.yaml
Due: none

[Pure Storage] Fix performance stats collection error
  cinder/volume/drivers/pure.py
  releasenotes/notes/pure_perf_error-ed042fa2d16cd3ed.yaml
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Dell PowerFlex: Fix san_username rotation
  doc/source/configuration/block-storage/drivers/dell-emc-powerflex-driver.rst
  releasenotes/notes/bug-2142083-dell-powerflex-user-rotation-issue-5b031ac316d04c20.yaml
Due: none

[Hitachi] Release notes for performance patch.
  releasenotes/notes/hitachi-performance-enhancements-4e3ee27aa345d7c6.yaml
Due: none

[Hitachi] Update docs for VSP One Block High End.
   releasenotes/notes/hitachi-vsp-one-block-high-end-support-8fc44bc210b0a7c4.yaml
  doc/source/configuration/block-storage/drivers/hitachi-vsp-driver.rst
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Update .gitreview for stable/2026.1
  .gitreview
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Update TOX_CONSTRAINTS_FILE for stable/2026.1
  tox.ini
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-tempest-plugin-lvm-lio-barbican

Update master for stable/2026.1
  releasenotes/source/2026.1.rst
  releasenotes/source/index.rst
Due: none

Fix Google backup driver
  cinder/backup/drivers/gcs.py
  cinder/tests/unit/backup/drivers/test_backup_google.py
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Fix backup restore failure due to missing RPC parameter
  cinder/backup/manager.py
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

VMstore: Fix pylint failure
  cinder/volume/drivers/vmstore/api.py
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Fix missing encryption params in Quobyte driver
  cinder/tests/unit/volume/drivers/test_quobyte.py
  cinder/volume/drivers/quobyte.py
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

HPE: Improved handling of QOS for Alletra MP
  cinder/tests/unit/volume/drivers/hpe/test_hpe3par.py
  cinder/volume/drivers/hpe/hpe_3par_common.py
  releasenotes/notes/hpe-qos-and-comment-f25da591b4dd9b4f.yaml
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Release notes: move hitachi-vsp-one note
  releasenotes/notes/hitachi-vsp-one-block-high-end-support-8fc44bc210b0a7c4.yaml
Due: none

HPE: Skip UT that fails intermittently
  cinder/tests/unit/volume/drivers/hpe/test_hpe3par.py
Due: none

Remove unnecessary direct dependency on Pygments
  doc/requirements.txt
Due: none

[IBM SVf Driver] Define meaningful names for error constants
  cinder/volume/drivers/ibm/storwize_svc/replication.py
  cinder/volume/drivers/ibm/storwize_svc/storwize_const.py
  cinder/volume/drivers/ibm/storwize_svc/storwize_svc_common.py
  cinder/volume/drivers/ibm/storwize_svc/storwize_svc_fc.py
  cinder/volume/drivers/ibm/storwize_svc/storwize_svc_iscsi.py
  releasenotes/notes/bug-2015722-ibm-svf_error_constants_with_significant_name-22796c2410cc1a76.yaml
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

fix: NETAPP remove rest EMS vserver find
  cinder/tests/unit/volume/drivers/netapp/dataontap/client/test_client_cmode_rest.py
  cinder/volume/drivers/netapp/dataontap/client/client_cmode_rest.py
  releasenotes/notes/bug-2101948-f827ace6c54a34dd.yaml
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

doc: add Ceph auth caps for RBD volume and backup drivers
  doc/source/configuration/block-storage/backup/ceph-backup-driver.rst
  doc/source/configuration/block-storage/drivers/ceph-rbd-volume-driver.rst
Due: none

Fungible: use volume_utils to upload volume as image
  cinder/tests/unit/volume/drivers/fungible/test_driver.py
  cinder/volume/drivers/fungible/driver.py
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Fix _is_encrypted comparison in volume api
  cinder/volume/api.py
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Path conditions:
  openstack-tox-functional-py310: unless all of: ^.*\.rst$, ^cinder/locale/.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$
  openstack-tox-functional-py312: unless all of: ^.*\.rst$, ^cinder/locale/.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$
  cinder-plugin-ceph-tempest: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-tempest-plugin-lvm-lio-barbican: unless all of: ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^tools/.*$
  cinder-tempest-plugin-lvm-lio-barbican-fips: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-tempest-plugin-protection-functional: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-grenade-mn-sub-volbak: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-nfs-tempest-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-nfs-tempest-full-fips: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-slow-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-integrated-storage: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  grenade-skip-level: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-ipv6-only: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  openstacksdk-functional-devstack: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-multibackend-matrix-migration: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-grenade-mn-sub-volschbak: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-grenade-mn-sub-bak: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-ceph-tempest-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
