Repository openstack/cinder: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

cinder-plugin-ceph-tempest:
  parent: devstack-plugin-ceph-tempest-py3
  roles:
  - zuul: opendev.org/openstack/cinder-tempest-plugin
  vars:
    tempest_exclude_regex: (tempest.api.image.v2.test_images_formats.ImagesFormatTest.test_compute_rejects)
    devstack_localrc:
      CEPH_MIN_CLIENT_VERSION: mimic
    devstack_local_conf:
  ...

cinder-tempest-plugin-lvm-lio-barbican-fips:
  voting: false

cinder-grenade-mn-sub-volbak:
  parent: grenade-multinode
  ...

devstack-plugin-nfs-tempest-full-fips:
  voting: false

cinder-multibackend-matrix-migration:
  parent: devstack-tempest
  description: "Run migration tests between several combinations of backends\n(LVM, Ceph, NFS)\nFormer names for this job were:\n  * legacy-tempest-dsvm-multibackend-matrix\n"
  timeout: 10800
  required-projects:
  - opendev.org/openstack/devstack-plugin-ceph
  ...

cinder-grenade-mn-sub-volschbak:
  parent: grenade-multinode
  ...

cinder-grenade-mn-sub-bak:
  parent: grenade-multinode
  ...

api: Simplify enable/disable APIs (clusters)
  cinder/api/openstack/wsgi.py
  cinder/api/v3/clusters.py
  cinder/api/v3/router.py
  cinder/tests/unit/api/v3/test_cluster.py
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

tests: Add API sample tests for os-services API
  api-ref/source/v3/samples/os-services/service-disable-log-reason-request.json
  api-ref/source/v3/samples/os-services/service-disable-log-reason-response.json
  api-ref/source/v3/samples/os-services/service-disable-request.json
  api-ref/source/v3/samples/os-services/service-disable-response.json
  api-ref/source/v3/samples/os-services/service-enable-request.json
  api-ref/source/v3/samples/os-services/service-enable-response.json
  api-ref/source/v3/samples/os-services/service-failover-host-request.json
  api-ref/source/v3/samples/os-services/service-freeze-request.json
  api-ref/source/v3/samples/os-services/service-thaw-request.json
  api-ref/source/v3/samples/os-services/v3.32/service-get-log-request.json
  api-ref/source/v3/samples/os-services/v3.32/service-get-log-response.json
  api-ref/source/v3/samples/os-services/v3.32/service-set-log-request.json
  api-ref/source/v3/samples/os-services/v3.49/services-list-response.json
  cinder/api/contrib/services.py
  cinder/tests/functional/api_sample_tests/samples/os-services/service-disable-log-reason-request.json.tpl
  cinder/tests/functional/api_sample_tests/samples/os-services/service-disable-log-reason-response.json.tpl
  cinder/tests/functional/api_sample_tests/samples/os-services/service-disable-request.json.tpl
  cinder/tests/functional/api_sample_tests/samples/os-services/service-disable-response.json.tpl
  cinder/tests/functional/api_sample_tests/samples/os-services/service-enable-request.json.tpl
  cinder/tests/functional/api_sample_tests/samples/os-services/service-enable-response.json.tpl
  cinder/tests/functional/api_sample_tests/samples/os-services/service-failover-host-request.json.tpl
  cinder/tests/functional/api_sample_tests/samples/os-services/service-freeze-request.json.tpl
  cinder/tests/functional/api_sample_tests/samples/os-services/service-thaw-request.json.tpl
  cinder/tests/functional/api_sample_tests/samples/os-services/v3.32/service-get-log-request.json.tpl
  cinder/tests/functional/api_sample_tests/samples/os-services/v3.32/service-get-log-response.json.tpl
  cinder/tests/functional/api_sample_tests/samples/os-services/v3.32/service-set-log-request.json.tpl
  cinder/tests/functional/api_sample_tests/samples/os-services/v3.49/services-list-response.json.tpl
  cinder/tests/functional/api_sample_tests/test_services.py
  cinder/tests/unit/api/contrib/test_services.py
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

api: Simplify enable/disable APIs (services)
  cinder/api/contrib/services.py
  cinder/api/openstack/wsgi.py
  cinder/tests/unit/api/contrib/test_services.py
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

api: Merge os-services extension
  cinder/api/contrib/services.py
  cinder/api/v3/router.py
  cinder/api/v3/services.py
  cinder/tests/functional/api_sample_tests/test_services.py
  cinder/tests/functional/test_extensions.py
  cinder/tests/unit/api/v3/test_services.py
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

api: Rename controllers
  cinder/api/contrib/availability_zones.py
  cinder/api/v3/snapshot_metadata.py
  cinder/api/v3/volume_metadata.py
  cinder/tests/unit/api/contrib/test_availability_zones.py
  cinder/tests/unit/api/v3/test_snapshot_metadata.py
  cinder/tests/unit/api/v3/test_volume_metadata.py
  cinder/tests/unit/policies/test_snapshot_metadata.py
  cinder/tests/unit/policies/test_volume_metadata.py
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

tests: Ensure all APIs have a request body schema
  cinder/tests/unit/api/v3/test_schemas.py
Due: none

api: Remove unnecessary validation helpers
  cinder/api/contrib/backups.py
  cinder/api/contrib/cgsnapshots.py
  cinder/api/contrib/consistencygroups.py
  cinder/api/openstack/wsgi.py
  cinder/api/v3/backups.py
  cinder/api/v3/consistencygroups.py
  cinder/api/v3/snapshot_metadata.py
  cinder/api/v3/snapshots.py
  cinder/api/v3/volumes.py
  cinder/tests/unit/api/contrib/test_cgsnapshots.py
  cinder/tests/unit/api/contrib/test_consistencygroups.py
  cinder/tests/unit/api/openstack/test_wsgi.py
  cinder/tests/unit/api/v3/test_volume_manage.py
  cinder/tests/unit/api/v3/test_volumes.py
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

NetApp ASA r2: Update ASA r2 support matrix
  doc/source/reference/support-matrix.ini
Due: none

api: Add extension_is_loaded decorator
  cinder/api/extensions.py
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

PowerFlex: Limit image volume cache clones
  cinder/tests/unit/test_volume_utils.py
  cinder/tests/unit/volume/drivers/dell_emc/powerflex/test_create_cloned_volume.py
  cinder/volume/drivers/dell_emc/powerflex/driver.py
  cinder/volume/drivers/dell_emc/powerflex/options.py
  cinder/volume/drivers/dell_emc/powerflex/rest_client.py
  cinder/volume/volume_utils.py
  releasenotes/notes/powerflex-image-cache-clone-limits-a3f8e9c12b8d6ea4.yaml
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

[NetApp] Remove total_volumes capability from default filter function
  cinder/volume/drivers/netapp/dataontap/block_base.py
  cinder/volume/drivers/netapp/dataontap/nvme_library.py
  releasenotes/notes/bug-2124264-fix-default-filter-function-for-netapp-o9-asar2-platforms-afa7c4f580a6f8ef.yaml
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

doc: Updateds Quobyte driver docs feature list
  doc/source/configuration/block-storage/drivers/quobyte-driver.rst
Due: none

Hitachi: Add support for Hitachi VSP One B20
  cinder/tests/unit/volume/drivers/hitachi/test_hitachi_hbsd_mirror_fc.py
  cinder/tests/unit/volume/drivers/hitachi/test_hitachi_hbsd_rest_fc.py
  cinder/tests/unit/volume/drivers/hitachi/test_hitachi_hbsd_rest_iscsi.py
  cinder/tests/unit/volume/drivers/hpe/xp/test_hpe_xp_rest_fc.py
  cinder/tests/unit/volume/drivers/hpe/xp/test_hpe_xp_rest_iscsi.py
  cinder/tests/unit/volume/drivers/nec/v/test_internal_nec_rest_fc.py
  cinder/tests/unit/volume/drivers/nec/v/test_internal_nec_rest_iscsi.py
  cinder/tests/unit/volume/drivers/nec/v/test_nec_rest_fc.py
  cinder/tests/unit/volume/drivers/nec/v/test_nec_rest_iscsi.py
  cinder/volume/drivers/hitachi/hbsd_common.py
  cinder/volume/drivers/hitachi/hbsd_rest.py
  cinder/volume/drivers/hitachi/hbsd_rest_api.py
  cinder/volume/drivers/hitachi/hbsd_utils.py
  cinder/volume/drivers/hpe/xp/hpe_xp_rest.py
  cinder/volume/drivers/hpe/xp/hpe_xp_utils.py
  cinder/volume/drivers/nec/v/nec_v_rest.py
  doc/source/configuration/block-storage/drivers/hitachi-vsp-driver.rst
  releasenotes/notes/B20-support-8c2baf5f781efffd.yaml
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

HPE 3par - skip license check for new wsapi
  cinder/tests/unit/volume/drivers/hpe/test_hpe3par.py
  cinder/volume/drivers/hpe/hpe_3par_common.py
  releasenotes/notes/hpe-3par-code-changes-for-wsapi-2025-75a9fda5d994504c.yaml
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

docs: update data leakage docs
  doc/source/admin/security.rst
Due: none

Hitachi: Volume Replication for VSP Driver
  cinder/opts.py
  cinder/tests/unit/volume/drivers/hitachi/test_hitachi_hbsd_mirror_fc.py
  cinder/tests/unit/volume/drivers/hitachi/test_hitachi_hbsd_replication_fc.py
  cinder/tests/unit/volume/drivers/hitachi/test_hitachi_hbsd_rest_fc.py
  cinder/tests/unit/volume/drivers/hitachi/test_hitachi_hbsd_rest_iscsi.py
  cinder/volume/drivers/hitachi/hbsd_common.py
  cinder/volume/drivers/hitachi/hbsd_fc.py
  cinder/volume/drivers/hitachi/hbsd_iscsi.py
  cinder/volume/drivers/hitachi/hbsd_replication.py
  cinder/volume/drivers/hitachi/hbsd_rest.py
  cinder/volume/drivers/hitachi/hbsd_rest_api.py
  cinder/volume/drivers/hitachi/hbsd_utils.py
  doc/source/configuration/block-storage/drivers/hitachi-vsp-driver.rst
  doc/source/reference/support-matrix.ini
  releasenotes/notes/hitachi-vsp-add-volume-replication-d8079621818cccec.yaml
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Hitachi: support extending volume has snapshot(s)
  cinder/opts.py
  cinder/tests/unit/volume/drivers/hitachi/test_hitachi_hbsd_mirror_fc.py
  cinder/tests/unit/volume/drivers/hitachi/test_hitachi_hbsd_replication_fc.py
  cinder/tests/unit/volume/drivers/hitachi/test_hitachi_hbsd_rest_fc.py
  cinder/tests/unit/volume/drivers/hitachi/test_hitachi_hbsd_rest_iscsi.py
  cinder/volume/drivers/hitachi/hbsd_common.py
  cinder/volume/drivers/hitachi/hbsd_fc.py
  cinder/volume/drivers/hitachi/hbsd_iscsi.py
  cinder/volume/drivers/hitachi/hbsd_replication.py
  cinder/volume/drivers/hitachi/hbsd_rest.py
  cinder/volume/drivers/hitachi/hbsd_utils.py
  releasenotes/notes/hitachi-vsp-update-extend-vol-6e4348e69da49444.yaml
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

doc: volume-encryption: shorten the example line to fit screen
  doc/source/configuration/block-storage/volume-encryption.rst
Due: none

NetApp – Optimizes the efficiency of pool statistics updates.
  cinder/tests/unit/volume/drivers/netapp/dataontap/performance/test_perf_base.py
  cinder/tests/unit/volume/drivers/netapp/dataontap/test_block_cmode.py
  cinder/volume/drivers/netapp/dataontap/block_cmode.py
  cinder/volume/drivers/netapp/dataontap/performance/perf_base.py
  cinder/volume/drivers/netapp/options.py
  releasenotes/notes/bug-2128652-fix-enable-configurable-polling-intervals-and-counter-caching-4f1d33a10d08e4a5.yaml
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Bump zstd requirement to >1.5.0.0
  requirements.txt
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-tempest-plugin-lvm-lio-barbican

image_utils: Detect missing device before calling qemu-img convert
  cinder/image/image_utils.py
  cinder/privsep/path.py
  cinder/tests/unit/test_image_utils.py
  releasenotes/notes/bug-2132083-detect-missing-dev-during-img-conversion-ae80feda55ca7550.yaml
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Fix updating service_uuid
  cinder/volume/manager.py
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Fix domain ids lost during rpc call
  cinder/context.py
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

NFS driver: Set volume format for snapshot operations
  cinder/image/image_utils.py
  cinder/tests/unit/test_image_utils.py
  cinder/tests/unit/volume/drivers/test_nfs.py
  cinder/tests/unit/volume/drivers/test_quobyte.py
  cinder/tests/unit/volume/drivers/test_remotefs.py
  cinder/volume/drivers/quobyte.py
  cinder/volume/drivers/remotefs.py
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

NFS driver: Use database format in initialize_connection
  cinder/image/image_utils.py
  cinder/tests/unit/volume/drivers/test_nfs.py
  cinder/tests/unit/volume/drivers/test_quobyte.py
  cinder/tests/unit/volume/drivers/test_remotefs.py
  cinder/volume/drivers/nfs.py
  cinder/volume/drivers/remotefs.py
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

NFS driver: Fix driver fails to verify virtual size for Glance with Cinder/NFS
  cinder/volume/drivers/nfs.py
  releasenotes/notes/bug-2073146-fix-volume-create-fails-with-glance-cinder-nfs-store-26c9db7c0a4923e4.yaml
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Doc: Improve docs for Glance Cinder Store
  doc/source/admin/volume-backed-image.rst
Due: none

VAST Data Volume Driver
  cinder/opts.py
  cinder/tests/unit/volume/drivers/vastdata/__init__.py
  cinder/tests/unit/volume/drivers/vastdata/test_driver.py
  cinder/tests/unit/volume/drivers/vastdata/test_rest.py
  cinder/tests/unit/volume/drivers/vastdata/test_utils.py
  cinder/volume/drivers/vastdata/__init__.py
  cinder/volume/drivers/vastdata/driver.py
  cinder/volume/drivers/vastdata/rest.py
  cinder/volume/drivers/vastdata/utils.py
  doc/source/configuration/block-storage/drivers/vastdata-volume-driver.rst
  doc/source/configuration/tables/cinder-vastdata.inc
  doc/source/reference/support-matrix.ini
  releasenotes/notes/bp-vastdata-nvmetcp-driver-cc86265ae4edf5f8.yaml
  requirements.txt
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

mypy: NFS driver
  cinder/volume/drivers/nfs.py
  cinder/volume/drivers/remotefs.py
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Update PowerMax driver doc support matrix for Caracal Dalmatian Epoxy
  doc/source/configuration/block-storage/drivers/dell-emc-powermax-driver.rst
Due: none

Imported Translations from Zanata
  cinder/locale/ja/LC_MESSAGES/cinder.po
  cinder/locale/zh_CN/LC_MESSAGES/cinder.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Dell PowerStore: support Metro volumes
  cinder/tests/unit/volume/drivers/dell_emc/powerstore/test_client.py
  cinder/tests/unit/volume/drivers/dell_emc/powerstore/test_metro_volume.py
  cinder/tests/unit/volume/drivers/dell_emc/powerstore/test_volume_attach_detach.py
  cinder/tests/unit/volume/drivers/dell_emc/powerstore/test_volume_create_delete_extend.py
  cinder/volume/drivers/dell_emc/powerstore/adapter.py
  cinder/volume/drivers/dell_emc/powerstore/client.py
  cinder/volume/drivers/dell_emc/powerstore/driver.py
  cinder/volume/drivers/dell_emc/powerstore/options.py
  cinder/volume/drivers/dell_emc/powerstore/utils.py
  doc/source/configuration/block-storage/drivers/dell-emc-powerstore-driver.rst
  releasenotes/notes/bp-dell-powerstore-metro-1b8b20ffe5b3b72f.yaml
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

NetApp - Bug Fix 2124264: Pools not getting populated for ASAr2 platform
  cinder/tests/unit/volume/drivers/netapp/dataontap/client/test_client_cmode_rest_asar2.py
  cinder/tests/unit/volume/drivers/netapp/dataontap/test_block_base.py
  cinder/volume/drivers/netapp/dataontap/block_base.py
  cinder/volume/drivers/netapp/dataontap/client/client_cmode_rest_asar2.py
  releasenotes/notes/bug-2124264-fix-pools-not-populate-for-asar2-platform-ae02b1510627b9e3.yaml
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Fix missing encryption params in Quobyte driver
  cinder/tests/unit/volume/drivers/test_quobyte.py
  cinder/volume/drivers/quobyte.py
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Migrate upper functional job to Python 3.13
  .zuul.yaml
  bindep.txt
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Path conditions:
  openstack-tox-functional-py310: unless all of: ^.*\.rst$, ^cinder/locale/.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$
  openstack-tox-functional-py312: unless all of: ^.*\.rst$, ^cinder/locale/.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$
  cinder-plugin-ceph-tempest: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-tempest-plugin-lvm-lio-barbican: unless all of: ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^tools/.*$
  cinder-tempest-plugin-lvm-lio-barbican-fips: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-tempest-plugin-protection-functional: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-grenade-mn-sub-volbak: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-nfs-tempest-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-nfs-tempest-full-fips: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-slow-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-integrated-storage: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  grenade-skip-level: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-ipv6-only: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  openstacksdk-functional-devstack: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-multibackend-matrix-migration: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-grenade-mn-sub-volschbak: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-grenade-mn-sub-bak: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-ceph-tempest-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
