Repository openstack/cinder: changes, and which Zuul jobs are due for each by the changed paths.
All: cinder-tempest-dsvm-lvm-lio, cinder-tox-compliance, cinder-tox-bandit-baseline

cinder-tempest-dsvm-lvm-lio:
  parent: legacy-dsvm-base
  run: playbooks/legacy/cinder-tempest-dsvm-lvm-lio/run.yaml
  post-run: playbooks/legacy/cinder-tempest-dsvm-lvm-lio/post.yaml
  timeout: 10800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/barbican
  - openstack/python-barbicanclient
  - openstack/tempest
  ...

cinder-tox-compliance:
  parent: openstack-tox
  timeout: 2400
  vars:
    tox_envlist: compliance
  required-projects:
  - openstack/requirements

cinder-tox-bandit-baseline:
  parent: openstack-tox
  timeout: 2400
  vars:
    tox_envlist: bandit-baseline
  required-projects:
  - openstack/requirements

Move disk space check to run when needed
  cinder/tests/unit/volume/flows/test_create_volume_flow.py
  cinder/volume/flows/manager/create_volume.py
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-bandit-baseline

nimble: update config doc to add missing extra-specs support
  doc/source/configuration/block-storage/drivers/nimble-volume-driver.rst
Due: none

Replace Chinese punctuation with English punctuation
  doc/source/contributor/attach_detach_conventions.rst
  doc/source/contributor/auth.rst
  doc/source/contributor/migration.rst
  releasenotes/notes/add-datacore-volume-driver-3775797b0515f538.yaml
  releasenotes/notes/scaleio-enable-multiattach-e7d84ffa282842e9.yaml
Due: none

INFINIDAT: support force detach
  cinder/tests/unit/volume/drivers/test_infinidat.py
  cinder/volume/drivers/infinidat.py
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-compliance, cinder-tox-bandit-baseline

RBD: Support encrypted volumes
  cinder/image/image_utils.py
  cinder/tests/unit/test_image_utils.py
  cinder/tests/unit/volume/drivers/test_rbd.py
  cinder/volume/drivers/rbd.py
  releasenotes/notes/allow-encrypted-rbd-volumes-35d3536505e6309b.yaml
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-compliance, cinder-tox-bandit-baseline

Run doc8 first
  tox.ini
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-bandit-baseline

Add contributor notes on how to use pdb with tests
  doc/source/contributor/testing.rst
Due: none

Fix typo in test_qnap
  cinder/tests/unit/volume/drivers/test_qnap.py
Due: none

Fix Backup uses latest req-id for all log calls
  cinder/cmd/backup.py
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-bandit-baseline

Fix compression related tests
  cinder/tests/unit/backup/drivers/test_backup_google.py
  cinder/tests/unit/backup/drivers/test_backup_nfs.py
  cinder/tests/unit/backup/drivers/test_backup_swift.py
Due: none

fix wrong url link
  doc/source/contributor/addmethod.openstackapi.rst
Due: none

[1/2] Fix mock for sleep mocks in volume drivers tests
  cinder/tests/unit/volume/drivers/inspur/instorage/test_common.py
  cinder/tests/unit/volume/drivers/inspur/instorage/test_iscsi_driver.py
  cinder/tests/unit/volume/drivers/inspur/instorage/test_replication.py
Due: none

Fix: Propagate OS global request ID
  cinder/context.py
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-bandit-baseline

Add policy check for complete attachment API action
  cinder/api/v3/attachments.py
  cinder/policies/attachments.py
  doc/source/configuration/block-storage/samples/policy.json.inc
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-bandit-baseline

Simplify keystone password assertions
  cinder/tests/unit/compute/test_nova.py
Due: none

Remove logging on Swift backup obj writer
  cinder/backup/chunkeddriver.py
  cinder/backup/drivers/swift.py
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-compliance, cinder-tox-bandit-baseline

Add back support for the multiattach flag for volume create
  cinder/tests/unit/volume/test_volume.py
  cinder/volume/api.py
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-bandit-baseline

Fix multiattach policy names in release note
  releasenotes/notes/add_multiattach_policies-8e0b22505ed6cbd8.yaml
Due: none

Add debug logging around multiattach status changes
  cinder/volume/api.py
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-bandit-baseline

Fix mis-named context object
  cinder/tests/unit/volume/test_volume.py
  cinder/volume/api.py
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-bandit-baseline

Update the description of quota's project id
  api-ref/source/v2/quota-sets.inc
  api-ref/source/v3/quota-sets.inc
Due: none

HPE 3PAR: Update Storage Driver docs for Queens release
  doc/source/configuration/block-storage/drivers/hpe-3par-driver.rst
Due: none

Overprovisioning Improvements
  cinder/scheduler/host_manager.py
  cinder/tests/unit/scheduler/fakes.py
  cinder/tests/unit/scheduler/test_capacity_weigher.py
  cinder/tests/unit/scheduler/test_host_manager.py
  cinder/tests/unit/test_utils.py
  cinder/tests/unit/test_volume_utils.py
  cinder/tests/unit/volume/drivers/dell_emc/vmax/test_vmax.py
  cinder/tests/unit/volume/drivers/test_nfs.py
  cinder/tests/unit/volume/drivers/test_pure.py
  cinder/tests/unit/volume/drivers/test_zfssa.py
  cinder/tests/unit/volume/test_driver.py
  cinder/utils.py
  cinder/volume/driver.py
  cinder/volume/drivers/dell_emc/vmax/common.py
  cinder/volume/drivers/dell_emc/xtremio.py
  cinder/volume/drivers/kaminario/kaminario_common.py
  cinder/volume/drivers/netapp/dataontap/block_base.py
  cinder/volume/drivers/nfs.py
  cinder/volume/drivers/pure.py
  cinder/volume/drivers/zfssa/zfssanfs.py
  cinder/volume/utils.py
  doc/source/admin/blockstorage-over-subscription.rst
  releasenotes/notes/bp-provisioning-improvements-bb7e28896e2a2539.yaml
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-compliance, cinder-tox-bandit-baseline

Netapp Ontap: Adds support for auto-max-over-subscription
  cinder/tests/unit/volume/drivers/netapp/dataontap/test_nfs_base.py
  cinder/tests/unit/volume/drivers/netapp/dataontap/test_nfs_cmode.py
  cinder/volume/drivers/netapp/dataontap/block_base.py
  cinder/volume/drivers/netapp/dataontap/nfs_base.py
  cinder/volume/drivers/netapp/dataontap/nfs_cmode.py
  cinder/volume/drivers/nfs.py
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-compliance, cinder-tox-bandit-baseline

fix misspelling of 'password'
  doc/source/configuration/block-storage/drivers/huawei-storage-driver.rst
Due: none

refactored do_export lunmapping query (#59)
  cinder/tests/unit/volume/drivers/nexenta/test_nexenta5_iscsi.py
  cinder/volume/drivers/nexenta/ns5/iscsi.py
  cinder/volume/drivers/nexenta/ns5/nfs.py
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-compliance, cinder-tox-bandit-baseline

Newton/writebackcache (#61)
  cinder/volume/drivers/nexenta/ns5/iscsi.py
  cinder/volume/drivers/nexenta/ns5/nfs.py
  cinder/volume/drivers/nexenta/options.py
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-compliance, cinder-tox-bandit-baseline

api-ref: update migration_policy retype note about encrypted volumes
  api-ref/source/v2/parameters.yaml
  api-ref/source/v3/parameters.yaml
Due: none

api-ref: add multiattach considerations to retype docs
  api-ref/source/v2/volumes-v2-volumes-actions.inc
  api-ref/source/v3/volumes-v3-volumes-actions.inc
Due: none

Tests: Fix RBD invalid UUID warnings
  cinder/tests/unit/fake_volume.py
  cinder/tests/unit/volume/drivers/test_rbd.py
Due: none

backup: set default swiftclient log level to WARN
  cinder/cmd/backup.py
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-bandit-baseline

updated writebaccache variable in nfs.py
  cinder/volume/drivers/nexenta/ns5/iscsi.py
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-compliance, cinder-tox-bandit-baseline

DS8K: Correct create volume behavior for CG
  cinder/tests/unit/volume/drivers/ibm/test_ds8k_proxy.py
  cinder/volume/drivers/ibm/ibm_storage/ds8k_proxy.py
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-compliance, cinder-tox-bandit-baseline

Support fabric specific Cisco FC Zone Name
  cinder/zonemanager/drivers/cisco/cisco_fc_san_lookup_service.py
  cinder/zonemanager/drivers/cisco/cisco_fc_zone_driver.py
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-compliance, cinder-tox-bandit-baseline

Update NEC driver configuration document for Pike
  doc/source/configuration/block-storage/drivers/nec-storage-m-series-driver.rst
Due: none

Run backup-restore operations on native thread
  cinder/backup/chunkeddriver.py
  cinder/backup/driver.py
  cinder/backup/manager.py
  cinder/tests/unit/backup/drivers/test_backup_google.py
  cinder/tests/unit/backup/drivers/test_backup_nfs.py
  cinder/tests/unit/backup/drivers/test_backup_swift.py
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-compliance, cinder-tox-bandit-baseline

[Trivial] SMBFS: fix provisioning type usage
  cinder/tests/unit/windows/test_smbfs.py
  cinder/volume/drivers/windows/smbfs.py
Due: cinder-tempest-dsvm-lvm-lio, cinder-tox-compliance, cinder-tox-bandit-baseline

Path conditions:
  cinder-tempest-dsvm-lvm-lio: unless all of: ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$
  cinder-tox-compliance: any of: ^cinder/volume/driver.py, ^cinder/volume/drivers/.*$, ^cinder/interface/.*$, ^cinder/backup/.*$, ^cinder/zonemanager/.*$
  cinder-tox-bandit-baseline: unless all of: ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$
