Repository openstack/cinder: changes, and which Zuul jobs are due for each by the changed paths.
All: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Path conditions:
  cinder-tempest-dsvm-lvm-lio-barbican: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-tox-bandit-baseline: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  openstack-tox-functional-py36: unless all of: ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$
  openstack-tox-pylint: unless all of: ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$
  cinder-plugin-ceph-tempest: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  openstack-tox-functional: unless all of: ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$
  legacy-grenade-dsvm-cinder-mn-sub-volbak: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-lvm-multibackend: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-full-devstack-plugin-nfs: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-slow-py3: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-full: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-integrated-storage: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  grenade-py3: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-ipv6-only: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-cinder-v2-api: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-zeromq-multibackend: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-multibackend-matrix: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-cinder-mn-sub-volschbak: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-cinder-mn-sub-bak: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-ceph-tempest-py3: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-full-py3-opensuse150: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$

Increase cpu limit for image conversion
  cinder/image/image_utils.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

NEC driver: fix migrate/retype an in-use volume
  cinder/tests/unit/volume/drivers/nec/test_volume.py
  cinder/volume/drivers/nec/volume_helper.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Make volume soft delete more thorough
  cinder/db/sqlalchemy/api.py
  cinder/tests/unit/db/test_orm_relationships.py
  cinder/tests/unit/test_db_api.py
  cinder/volume/manager.py
  lower-constraints.txt
  test-requirements.txt
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Support Incremental Backup Completion In RBD
  cinder/backup/api.py
  cinder/backup/drivers/ceph.py
  cinder/objects/backup.py
  cinder/objects/base.py
  cinder/tests/unit/backup/drivers/test_backup_ceph.py
  cinder/tests/unit/objects/test_objects.py
  releasenotes/notes/support-incremental-backup-completion-in-rbd-1f2165fefcc470d1.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Fix volume unit test
  cinder/tests/unit/volume/test_volume.py
Due: none

Update api-ref
  api-ref/source/v3/attachments.inc
  api-ref/source/v3/group-replication.inc
  api-ref/source/v3/group-snapshots.inc
  api-ref/source/v3/group-type-specs.inc
  api-ref/source/v3/group-types.inc
  api-ref/source/v3/groups.inc
  api-ref/source/v3/messages.inc
  api-ref/source/v3/resource-filters.inc
  api-ref/source/v3/vol-transfer-v3.inc
  api-ref/source/v3/volume-type-access.inc
Due: none

PowerMax Driver - Get Manageable Volumes Fix
  cinder/tests/unit/volume/drivers/dell_emc/powermax/powermax_data.py
  cinder/volume/drivers/dell_emc/powermax/utils.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Support volume transfer `name` filters
  cinder/api/contrib/volume_transfer.py
  cinder/api/v3/volume_transfer.py
  releasenotes/notes/bug-1860100-8c542363def7d408.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Seagate driver: Add Basic auth header when logging in via HTTPS
  cinder/volume/drivers/stx/client.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Fix stestr command error in doc
  doc/source/contributor/testing.rst
Due: none

3PAR: Revert flag for Active/Active High Availability Support
  doc/source/reference/support-matrix.ini
Due: none

Change path to query in cinderAPI V3-volume delete
  api-ref/source/v3/parameters.yaml
Due: none

Configurable timeout of the QEMU img conversion
  cinder/image/image_utils.py
  releasenotes/notes/add-configurable-img-conversion-param-1e7b545ae816dfe8.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Make volume soft delete more thorough
  cinder/db/sqlalchemy/api.py
  cinder/tests/unit/db/test_orm_relationships.py
  cinder/tests/unit/test_db_api.py
  cinder/volume/manager.py
  test-requirements.txt
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Fix: Create new cache entry when xtremio reaches snap limit
  cinder/exception.py
  cinder/tests/unit/volume/flows/test_create_volume_flow.py
  cinder/volume/drivers/dell_emc/xtremio.py
  cinder/volume/flows/manager/create_volume.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Tell reno to ignore the kilo branch
  .gitignore
  reno.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Skip cryptsetup password quality checking
  cinder/tests/unit/volume/test_volume.py
  cinder/volume/flows/manager/create_volume.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Install all requirements in docs builds
  tox.ini
Due: openstack-tox-functional-py36, openstack-tox-pylint, openstack-tox-functional

PowerMax Docs - corrections and improvements
  doc/source/configuration/block-storage/drivers/dell-emc-powermax-driver.rst
Due: none

Add new license scheme for Flashsystem9000 series
  cinder/tests/unit/volume/drivers/ibm/test_storwize_svc.py
  cinder/volume/drivers/ibm/storwize_svc/storwize_svc_common.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Run cinder-plugin-ceph-tempest on py3
  .zuul.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Imported Translations from Zanata
  cinder/locale/de/LC_MESSAGES/cinder.po
  cinder/locale/es/LC_MESSAGES/cinder.po
  cinder/locale/fr/LC_MESSAGES/cinder.po
  cinder/locale/it/LC_MESSAGES/cinder.po
  cinder/locale/ja/LC_MESSAGES/cinder.po
  cinder/locale/ko_KR/LC_MESSAGES/cinder.po
  cinder/locale/pt_BR/LC_MESSAGES/cinder.po
  cinder/locale/ru/LC_MESSAGES/cinder.po
  cinder/locale/zh_CN/LC_MESSAGES/cinder.po
  cinder/locale/zh_TW/LC_MESSAGES/cinder.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Create backups via scheduler
  cinder/backup/api.py
  cinder/backup/manager.py
  cinder/scheduler/driver.py
  cinder/scheduler/filter_scheduler.py
  cinder/scheduler/host_manager.py
  cinder/scheduler/manager.py
  cinder/scheduler/rpcapi.py
  cinder/tests/unit/api/contrib/test_backups.py
  cinder/tests/unit/backup/test_backup.py
  cinder/tests/unit/scheduler/test_rpcapi.py
  cinder/tests/unit/scheduler/test_scheduler.py
  cinder/volume/volume_utils.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Add cryptsetup to bindep.txt
  bindep.txt
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

PowerMax Driver - Short host name and port group name override
  cinder/tests/unit/volume/drivers/dell_emc/powermax/powermax_data.py
  cinder/tests/unit/volume/drivers/dell_emc/powermax/powermax_fake_objects.py
  cinder/tests/unit/volume/drivers/dell_emc/powermax/test_powermax_common.py
  cinder/tests/unit/volume/drivers/dell_emc/powermax/test_powermax_fc.py
  cinder/tests/unit/volume/drivers/dell_emc/powermax/test_powermax_masking.py
  cinder/tests/unit/volume/drivers/dell_emc/powermax/test_powermax_replication.py
  cinder/tests/unit/volume/drivers/dell_emc/powermax/test_powermax_utils.py
  cinder/volume/drivers/dell_emc/powermax/common.py
  cinder/volume/drivers/dell_emc/powermax/fc.py
  cinder/volume/drivers/dell_emc/powermax/iscsi.py
  cinder/volume/drivers/dell_emc/powermax/masking.py
  cinder/volume/drivers/dell_emc/powermax/metadata.py
  cinder/volume/drivers/dell_emc/powermax/utils.py
  releasenotes/notes/powermax-user-defined-hostname-portgroup-0b01aaaa730dfaaf.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Cinder backup export broken
  cinder/objects/backup.py
  cinder/tests/unit/objects/test_backup.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150

Support to query volume filter by updated_at/created_at
  api-ref/source/v3/parameters.yaml
  api-ref/source/v3/samples/versions/version-show-response.json
  api-ref/source/v3/samples/versions/versions-response.json
  api-ref/source/v3/volumes-v3-volumes.inc
  cinder/api/common.py
  cinder/api/microversions.py
  cinder/api/openstack/api_version_request.py
  cinder/api/openstack/rest_api_version_history.rst
  cinder/api/v3/volumes.py
  cinder/db/sqlalchemy/api.py
  cinder/tests/unit/api/test_common.py
  cinder/tests/unit/api/v3/test_volumes.py
  etc/cinder/resource_filters.json
  releasenotes/notes/support-to-query-cinder-resources-filter-by-update-at-and-created-at-32ae9aaea131d598.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-functional-py36, openstack-tox-pylint, cinder-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-slow-py3, tempest-full, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full, tempest-full-py3-opensuse150
