Repository openstack/cinder: changes, and which Zuul jobs are due for each by the changed paths.
All: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

cinder-tempest-dsvm-lvm-lio-barbican:
  parent: legacy-dsvm-base
  run: playbooks/legacy/cinder-tempest-dsvm-lvm-lio-barbican/run.yaml
  post-run: playbooks/legacy/cinder-tempest-dsvm-lvm-lio-barbican/post.yaml
  timeout: 10800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/barbican
  - openstack/python-barbicanclient
  ...

cinder-tox-bandit-baseline:
  parent: openstack-tox
  timeout: 2400
  vars:
    tox_envlist: bandit-baseline
  required-projects:
  - openstack/requirements

openstack-tox-pylint:
  voting: false
  timeout: 5400

devstack-plugin-ceph-tempest:
  voting: false

openstack-tox-functional:
  voting: false

legacy-tempest-dsvm-lvm-multibackend:
  voting: false

legacy-tempest-dsvm-full-drbd-devstack:
  voting: false

legacy-tempest-dsvm-full-devstack-plugin-nfs:
  voting: false

Mark Datera driver unsupported
  cinder/volume/drivers/datera/datera_iscsi.py
  doc/source/reference/support-matrix.ini
  releasenotes/notes/datera-mark-unsupported-7b71d9124b3fded2.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Add Active/Active HA to Support Matrix
  doc/source/reference/support-matrix.ini
Due: none

Add support for VxFlex OS 3.0 to VxFlex OS driver
  cinder/tests/unit/volume/drivers/dell_emc/vxflexos/test_misc.py
  cinder/volume/drivers/dell_emc/vxflexos/driver.py
  doc/source/configuration/block-storage/drivers/dell-emc-vxflex-driver.rst
  releasenotes/notes/vxflexos-support-compression-9139e556677ac093.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Add bindep.txt
  bindep.txt
  tox.ini
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Blacklist sphinx 2.1.0 (autodoc bug)
  doc/requirements.txt
Due: none

Launch driver list generation with the same python interpreter
  doc/ext/cinder_driverlist.py
Due: none

[VNX] Fix test case issue
  cinder/tests/unit/volume/drivers/dell_emc/vnx/mocked_vnx.yaml
  cinder/tests/unit/volume/drivers/dell_emc/vnx/test_adapter.py
Due: none

Unity: force delete lun by default
  cinder/volume/drivers/dell_emc/vnx/common.py
  doc/source/configuration/block-storage/drivers/dell-emc-vnx-driver.rst
  releasenotes/notes/enable-force-delete-lun-d0e05b5d669e40f7.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Zadara VPSA: Fix driver force detach operation
  cinder/tests/unit/volume/drivers/test_zadara.py
  cinder/volume/drivers/zadara.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Cleanup api-ref sample files
  api-ref/source/v3/samples/extensions-list-response.json
  api-ref/source/v3/samples/snapshot-manage-response.json
  api-ref/source/v3/samples/volumes-list-detailed-response.json
  api-ref/source/v3/samples/volumes-list-response.json
  api-ref/source/v3/samples/volumes/volumes-list-summary-response.json
  api-ref/source/v3/snapshot-manage.inc
  api-ref/source/v3/volumes-v3-volumes.inc
Due: none

Remove Sheepdog tests from zuul config
  .zuul.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Add context to cloning snapshots in remotefs driver
  cinder/tests/unit/fake_snapshot.py
  cinder/tests/unit/volume/drivers/test_remotefs.py
  cinder/tests/unit/volume/drivers/test_vzstorage.py
  cinder/volume/drivers/quobyte.py
  cinder/volume/drivers/remotefs.py
  cinder/volume/drivers/vzstorage.py
  releasenotes/notes/bugfix-1744692-5aebd0c97ae66407.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Refactor use of encryption/image volume utils
  cinder/tests/unit/volume/drivers/test_rbd.py
  cinder/volume/drivers/rbd.py
  cinder/volume/utils.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Move DotHill release note to correct location
  releasenotes/notes/msa-multiattach-5407eb60093de8f1.yaml
Due: none

Add release note ignore for backport note
  releasenotes/source/stein.rst
  releasenotes/source/unreleased.rst
Due: none

Add policy sample file to gitignore
  .gitignore
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Update support matrix entries for MSA and Lenovo arrays.
  doc/source/reference/support-matrix.ini
Due: none

doc: Fix rbd driver marked support multiattach
  doc/source/reference/support-matrix.ini
Due: none

HPE 3PAR - Fix detach of multiattach volumes
  cinder/tests/unit/volume/drivers/hpe/test_hpe3par.py
  cinder/volume/drivers/hpe/hpe_3par_common.py
  cinder/volume/drivers/hpe/hpe_3par_fc.py
  cinder/volume/drivers/hpe/hpe_3par_iscsi.py
  cinder/volume/drivers/hpe/releasenotes/notes/hpe_3par_multiattach_detach_fix-d2d3785d656fba90.yaml
  doc/source/reference/support-matrix.ini
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Compress images uploaded to Glance
  cinder/image/image_utils.py
  cinder/tests/unit/test_image_utils.py
  cinder/volume/driver.py
  releasenotes/notes/compress-images-fed3e354d94b0845.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Update NexentaStor5 driver
  cinder/tests/unit/volume/drivers/nexenta/test_nexenta5_nfs.py
  cinder/volume/drivers/nexenta/ns5/nfs.py
  doc/source/configuration/block-storage/drivers/nexentastor5-driver.rst
  releasenotes/notes/nexentastor5-smartcompression-disabled-9c6ca7c758b6de69.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Replace "integrated-gate-py3" template with new "integrated-gate-storage"
  .zuul.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Re-add Infortrend Cinder volume driver
  cinder/opts.py
  cinder/tests/unit/volume/drivers/infortrend/__init__.py
  cinder/tests/unit/volume/drivers/infortrend/test_infortrend_cli.py
  cinder/tests/unit/volume/drivers/infortrend/test_infortrend_common.py
  cinder/volume/drivers/infortrend/__init__.py
  cinder/volume/drivers/infortrend/infortrend_fc_cli.py
  cinder/volume/drivers/infortrend/infortrend_iscsi_cli.py
  cinder/volume/drivers/infortrend/raidcmd_cli/__init__.py
  cinder/volume/drivers/infortrend/raidcmd_cli/cli_factory.py
  cinder/volume/drivers/infortrend/raidcmd_cli/common_cli.py
  doc/source/configuration/block-storage/drivers/infortrend-volume-driver.rst
  doc/source/configuration/tables/cinder-infortrend.inc
  doc/source/reference/support-matrix.ini
  releasenotes/notes/readd-infortrend-driver-d9b399b53a4355f8.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Bump Pure Storage FC driver version number for Train
  cinder/volume/drivers/pure.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

[DOCFIX] Correct Cinder Backup Driver Option Value
  doc/source/install/cinder-backup-install-obs.rst
  doc/source/install/cinder-backup-install-rdo.rst
  doc/source/install/cinder-backup-install-ubuntu.rst
Due: none

Remove outdated scripts from tools/
  tools/colorizer.py
  tools/enable-pre-commit-hook.sh
  tools/with_venv.sh
Due: openstack-tox-pylint, openstack-tox-functional

Never skip jobs when .zuul.yaml is changed
  .zuul.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Update api-ref location
  cinder/api/openstack/rest_api_version_history.rst
  doc/source/configuration/block-storage/drivers/dell-emc-unity-driver.rst
  doc/source/configuration/block-storage/drivers/dell-emc-vnx-driver.rst
  doc/source/index.rst
Due: none

QNAP: Avoid unnecessary sleeps
  cinder/volume/drivers/qnap.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Fix dothill multiattach support
  cinder/tests/unit/volume/drivers/test_dothill.py
  cinder/volume/drivers/dothill/dothill_client.py
  cinder/volume/drivers/dothill/dothill_common.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Revert "Declare multiattach support for HPE MSA"
  cinder/tests/unit/volume/drivers/test_dothill.py
  cinder/volume/drivers/dothill/dothill_common.py
  cinder/volume/drivers/dothill/releasenotes/notes/msa-multiattach-5407eb60093de8f1.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Add MacroSAN cinder driver
  cinder/opts.py
  cinder/tests/unit/test_macrosan_drivers.py
  cinder/volume/drivers/macrosan/__init__.py
  cinder/volume/drivers/macrosan/config.py
  cinder/volume/drivers/macrosan/devop_client.py
  cinder/volume/drivers/macrosan/driver.py
  doc/source/configuration/block-storage/drivers/MacroSAN-storage-driver.rst
  doc/source/reference/support-matrix.ini
  releasenotes/notes/MacroSAN-volume-driver-6477e4ec7c38f49d.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Imported Translations from Zanata
  cinder/locale/de/LC_MESSAGES/cinder.po
  cinder/locale/es/LC_MESSAGES/cinder.po
  cinder/locale/fr/LC_MESSAGES/cinder.po
  cinder/locale/it/LC_MESSAGES/cinder.po
  cinder/locale/ja/LC_MESSAGES/cinder.po
  cinder/locale/ko_KR/LC_MESSAGES/cinder.po
  cinder/locale/pt_BR/LC_MESSAGES/cinder.po
  cinder/locale/ru/LC_MESSAGES/cinder.po
  cinder/locale/zh_CN/LC_MESSAGES/cinder.po
  cinder/locale/zh_TW/LC_MESSAGES/cinder.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/fr/LC_MESSAGES/releasenotes.po
Due: none

3PAR: Provide new option to specify NSP for single path attachments
  cinder/tests/unit/volume/drivers/hpe/test_hpe3par.py
  cinder/volume/drivers/hpe/hpe_3par_common.py
  cinder/volume/drivers/hpe/hpe_3par_fc.py
  doc/source/configuration/block-storage/drivers/hpe-3par-driver.rst
  releasenotes/notes/hpe-3par-specify-nsp-for-fc-bootable-volume-f372879e1b625b4d.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Run 'tempest-ipv6-only' job in gate
  .zuul.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Prevent double-attachment race in attachment_reserve
  cinder/cmd/api.py
  cinder/tests/unit/api/v3/test_attachments.py
  cinder/tests/unit/attachments/test_attachments_api.py
  cinder/volume/api.py
  cinder/wsgi/wsgi.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Path conditions:
  cinder-tempest-dsvm-lvm-lio-barbican: unless all of: ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$
  cinder-tox-bandit-baseline: unless all of: ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$
  openstack-tox-pylint: unless all of: ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$
  devstack-plugin-ceph-tempest: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  openstack-tox-functional: unless all of: ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$
  legacy-grenade-dsvm-cinder-mn-sub-volbak: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-lvm-multibackend: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-full-drbd-devstack: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-full-devstack-plugin-nfs: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-full-sheepdog-src-os-brick: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-zeromq-multibackend: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-multibackend-matrix: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-cinder-mn-sub-volschbak: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-cinder-mn-sub-bak: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-ceph-tempest-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-pg-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-full-opensuse-423: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-full-sheepdog: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
