Repository openstack/cinder: changes, and which Zuul jobs are due for each by the changed paths.
All: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

cinder-tempest-dsvm-lvm-lio-barbican:
  parent: legacy-dsvm-base
  run: playbooks/legacy/cinder-tempest-dsvm-lvm-lio-barbican/run.yaml
  post-run: playbooks/legacy/cinder-tempest-dsvm-lvm-lio-barbican/post.yaml
  timeout: 10800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/barbican
  - openstack/python-barbicanclient
  ...

cinder-tox-bandit-baseline:
  parent: openstack-tox
  timeout: 2400
  vars:
    tox_envlist: bandit-baseline
  required-projects:
  - openstack/requirements

openstack-tox-pylint:
  voting: false
  timeout: 5400

devstack-plugin-ceph-tempest:
  voting: false

openstack-tox-functional:
  voting: false

legacy-tempest-dsvm-lvm-multibackend:
  voting: false

legacy-tempest-dsvm-full-drbd-devstack:
  voting: false

legacy-tempest-dsvm-full-devstack-plugin-nfs:
  voting: false

PowerMax Driver - Create Volume from SG Payload Change
  cinder/tests/unit/volume/drivers/dell_emc/powermax/powermax_data.py
  cinder/tests/unit/volume/drivers/dell_emc/powermax/test_powermax_rest.py
  cinder/volume/drivers/dell_emc/powermax/rest.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Correcting typo in environment spelling
  playbooks/tempest-and-cinderlib-run.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Create extras for pypi install
  lower-constraints.txt
  setup.cfg
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Prevent double-attachment race in attachment_reserve
  cinder/cmd/api.py
  cinder/tests/unit/api/v3/test_attachments.py
  cinder/tests/unit/attachments/test_attachments_api.py
  cinder/volume/api.py
  cinder/wsgi/wsgi.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Fix get_driver_options
  cinder/tests/unit/test_interface.py
  cinder/volume/driver.py
  cinder/volume/drivers/infortrend/infortrend_fc_cli.py
  cinder/volume/drivers/infortrend/infortrend_iscsi_cli.py
  cinder/volume/drivers/macrosan/config.py
  cinder/volume/drivers/macrosan/driver.py
  doc/source/contributor/drivers.rst
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Fix DetachedInstanceError for VolumeAttachment
  cinder/objects/volume_attachment.py
  cinder/tests/unit/objects/test_volume.py
  cinder/tests/unit/objects/test_volume_attachment.py
  cinder/tests/unit/volume/drivers/hpe/test_hpe3par.py
  releasenotes/notes/detachedinstanceerror-64be35894c624eae.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

NetApp ONTAP: Fix JSON serialization error on EMS logs
  cinder/volume/drivers/netapp/dataontap/block_cmode.py
  cinder/volume/drivers/netapp/dataontap/nfs_cmode.py
  cinder/volume/drivers/netapp/dataontap/utils/capabilities.py
  releasenotes/notes/bug-1833115-fix-netapp-ontap-python3-failures-dd869e602f9539e1.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Rsdlib changed providing_pools interface
  cinder/tests/unit/volume/drivers/test_rsd.py
  cinder/volume/drivers/rsd.py
  driver-requirements.txt
  lower-constraints.txt
  setup.cfg
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Fix issue of getting detail backups list info
  cinder/api/views/backups.py
  cinder/tests/unit/api/contrib/test_backups.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Fix ceph: only close rbd image after snapshot iteration is finished
  cinder/backup/drivers/ceph.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Mark Storpool Driver Unsupported
  cinder/volume/drivers/storpool.py
  doc/source/reference/support-matrix.ini
  releasenotes/notes/storpool-unsupported-11b221fed109535f.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Update Veritas Access in Support Matrix
  doc/source/reference/support-matrix.ini
Due: none

SF remove deprecated sf_allow_template_caching
  cinder/tests/unit/volume/drivers/solidfire/test_solidfire.py
  cinder/volume/drivers/solidfire.py
  releasenotes/notes/deprecate-sf-allow-template-caching-b3a1ea32512cbb11.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Refactor API utilities into api_utils.py
  cinder/api/api_utils.py
  cinder/api/common.py
  cinder/api/contrib/backups.py
  cinder/api/contrib/qos_specs_manage.py
  cinder/api/contrib/volume_manage.py
  cinder/api/v2/snapshots.py
  cinder/api/v2/types.py
  cinder/api/v2/volumes.py
  cinder/api/v3/attachments.py
  cinder/api/v3/group_types.py
  cinder/api/v3/snapshots.py
  cinder/api/v3/volumes.py
  cinder/api/validation/validators.py
  cinder/tests/unit/api/v3/test_volumes.py
  cinder/tests/unit/test_utils.py
  cinder/utils.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Fix upload volume to glance
  cinder/image/image_utils.py
  cinder/tests/unit/test_image_utils.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Fix DetachedInstanceError for VolumeAttachment
  cinder/objects/volume_attachment.py
  cinder/tests/unit/objects/test_volume.py
  cinder/tests/unit/objects/test_volume_attachment.py
  releasenotes/notes/detachedinstanceerror-64be35894c624eae.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

solidfire: Enable SSL with requests
  cinder/volume/drivers/solidfire.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Tighten unit test dict assertions
  cinder/tests/unit/volume/drivers/dell_emc/test_xtremio.py
  cinder/tests/unit/volume/drivers/huawei/test_huawei_drivers.py
  cinder/tests/unit/volume/drivers/solidfire/test_solidfire.py
Due: none

Update drivers documentation
  doc/source/drivers-all-about.rst
  doc/source/index.rst
  doc/source/reference/support-matrix.rst
Due: none

Fixing 404's and broken links
  doc/source/configuration/block-storage/drivers/ibm-storage-volume-driver.rst
  doc/source/configuration/block-storage/drivers/vmware-vmdk-driver.rst
Due: none

Move DotHill release note to correct location
  cinder/volume/drivers/dothill/releasenotes/notes/msa-multiattach-5407eb60093de8f1.yaml
  releasenotes/notes/msa-multiattach-5407eb60093de8f1.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Add contributor notes on cinder-status checks
  doc/source/contributor/rolling.upgrades.rst
Due: none

PowerMax Driver - QoS Utils Move
  cinder/tests/unit/volume/drivers/dell_emc/powermax/test_powermax_rest.py
  cinder/tests/unit/volume/drivers/dell_emc/powermax/test_powermax_utils.py
  cinder/volume/drivers/dell_emc/powermax/rest.py
  cinder/volume/drivers/dell_emc/powermax/utils.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

PowerMax Driver - Train San REST Port Removal
  cinder/tests/unit/volume/drivers/dell_emc/powermax/powermax_fake_objects.py
  cinder/tests/unit/volume/drivers/dell_emc/powermax/test_powermax_common.py
  cinder/volume/drivers/dell_emc/powermax/common.py
  cinder/volume/drivers/dell_emc/powermax/fc.py
  cinder/volume/drivers/dell_emc/powermax/iscsi.py
  cinder/volume/drivers/dell_emc/powermax/utils.py
  releasenotes/notes/powermax-train-tag-deprecation-1dfa77df7440e5f5.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Docs: Make links more robust
  doc/source/admin/blockstorage-manage-volumes.rst
  doc/source/admin/blockstorage-volume-migration.rst
  doc/source/cli/cinder-manage.rst
  doc/source/cli/cinder-status.rst
  doc/source/cli/cli-cinder-quotas.rst
  doc/source/configuration/block-storage/drivers/dell-emc-powermax-driver.rst
  doc/source/configuration/block-storage/drivers/dell-emc-unity-driver.rst
  doc/source/configuration/block-storage/drivers/dell-emc-vnx-driver.rst
  doc/source/configuration/block-storage/drivers/dell-equallogic-driver.rst
  doc/source/configuration/block-storage/drivers/kaminario-driver.rst
  doc/source/configuration/block-storage/scheduler-filters.rst
  doc/source/configuration/block-storage/volume-encryption.rst
  doc/source/contributor/drivers.rst
  doc/source/contributor/groups.rst
  doc/source/contributor/high_availability.rst
  doc/source/contributor/launchpad.rst
  doc/source/contributor/new_driver_checklist.rst
  doc/source/contributor/rolling.upgrades.rst
  doc/source/install/index.rst
  tox.ini
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, openstack-tox-functional

Update docs building
  api-ref/source/conf.py
  doc/requirements.txt
  doc/source/conf.py
  lower-constraints.txt
  releasenotes/source/conf.py
  test-requirements.txt
  tox.ini
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Cisco FC Zone Manager Driver - Python3.x support
  cinder/zonemanager/drivers/cisco/cisco_fc_zone_driver.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

PowerMax Docs Stein - clarifying information
  doc/source/configuration/block-storage/drivers/dell-emc-powermax-driver.rst
Due: none

Docs: Jenkins is dead, long live Zuul
  doc/source/contributor/i18n.rst
  doc/source/contributor/index.rst
  doc/source/contributor/jenkins.rst
  doc/source/contributor/launchpad.rst
  doc/source/contributor/testing.rst
  doc/source/contributor/zuul.rst
Due: none

Rollback the quota_usages table when failed to create a incremental backup
  cinder/backup/api.py
  cinder/tests/unit/backup/test_backup.py
  releasenotes/notes/bug-1809323-fix-invalid-backup-4a341dc362ded88e.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

api-ref: add metadata parameter in the response of create-backup
  api-ref/source/v3/ext-backups.inc
Due: none

Path conditions:
  cinder-tempest-dsvm-lvm-lio-barbican: unless all of: ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$
  cinder-tox-bandit-baseline: unless all of: ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$
  openstack-tox-pylint: unless all of: ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$
  devstack-plugin-ceph-tempest: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  openstack-tox-functional: unless all of: ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$
  legacy-grenade-dsvm-cinder-mn-sub-volbak: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-lvm-multibackend: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-full-drbd-devstack: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-full-devstack-plugin-nfs: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-full-sheepdog-src-os-brick: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-zeromq-multibackend: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-multibackend-matrix: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-cinder-mn-sub-volschbak: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-cinder-mn-sub-bak: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-ceph-tempest-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-pg-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-full-opensuse-423: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-full-sheepdog: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
