Repository openstack/cinder: changes, and which Zuul jobs are due for each by the changed paths.
All: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Path conditions:
  cinder-tempest-dsvm-lvm-lio-barbican: unless all of: ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$
  cinder-tox-bandit-baseline: unless all of: ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$
  openstack-tox-pylint: unless all of: ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$
  devstack-plugin-ceph-tempest: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  openstack-tox-functional: unless all of: ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$
  legacy-grenade-dsvm-cinder-mn-sub-volbak: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-lvm-multibackend: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-full-drbd-devstack: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-full-devstack-plugin-nfs: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-full-sheepdog-src-os-brick: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-zeromq-multibackend: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-multibackend-matrix: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-cinder-mn-sub-volschbak: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-cinder-mn-sub-bak: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-ceph-tempest-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-pg-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-full-opensuse-423: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-full-sheepdog: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$

Remove vgc-cluster
  etc/cinder/rootwrap.d/volume.filters
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Consume quota when importing backup resource
  cinder/backup/api.py
  cinder/tests/unit/api/contrib/test_backups.py
  cinder/tests/unit/backup/test_backup.py
  releasenotes/notes/fix-import-backup-quota-issue-8yh69hd19u7tuu23.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

VMAX Driver - Failover Unisphere Support
  cinder/tests/unit/volume/drivers/dell_emc/vmax/test_vmax.py
  cinder/volume/drivers/dell_emc/vmax/common.py
  cinder/volume/drivers/dell_emc/vmax/fc.py
  cinder/volume/drivers/dell_emc/vmax/iscsi.py
  cinder/volume/drivers/dell_emc/vmax/rest.py
  cinder/volume/drivers/dell_emc/vmax/utils.py
  releasenotes/notes/vmax-failover-unisphere-2de78d1f76b5f836.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Handle string status codes in logging
  cinder/api/middleware/fault.py
  cinder/api/openstack/wsgi.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

[api-ref] Fix the parameter of image metadata
  api-ref/source/v2/volumes-v2-volumes-actions.inc
  api-ref/source/v3/volumes-v3-volumes-actions.inc
Due: none

Fix retype notifier test case (BackupNFSTestCase)
  cinder/tests/unit/backup/drivers/test_backup_nfs.py
Due: none

Delete related encryption provider when a volume type is deleting
  cinder/db/sqlalchemy/api.py
  cinder/tests/unit/test_volume_types.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Adding SPDK volume driver
  cinder/tests/unit/volume/drivers/test_spdk.py
  cinder/volume/drivers/spdk.py
  releasenotes/notes/spdk-volume-081f6e72396b30e8.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Remove support for NetApp E-Series systems
  cinder/opts.py
  cinder/tests/unit/volume/drivers/netapp/eseries/__init__.py
  cinder/tests/unit/volume/drivers/netapp/eseries/fakes.py
  cinder/tests/unit/volume/drivers/netapp/eseries/test_client.py
  cinder/tests/unit/volume/drivers/netapp/eseries/test_driver.py
  cinder/tests/unit/volume/drivers/netapp/eseries/test_fc_driver.py
  cinder/tests/unit/volume/drivers/netapp/eseries/test_host_mapper.py
  cinder/tests/unit/volume/drivers/netapp/eseries/test_iscsi_driver.py
  cinder/tests/unit/volume/drivers/netapp/eseries/test_library.py
  cinder/tests/unit/volume/drivers/netapp/eseries/test_utils.py
  cinder/volume/drivers/netapp/common.py
  cinder/volume/drivers/netapp/eseries/__init__.py
  cinder/volume/drivers/netapp/eseries/client.py
  cinder/volume/drivers/netapp/eseries/exception.py
  cinder/volume/drivers/netapp/eseries/fc_driver.py
  cinder/volume/drivers/netapp/eseries/host_mapper.py
  cinder/volume/drivers/netapp/eseries/iscsi_driver.py
  cinder/volume/drivers/netapp/eseries/library.py
  cinder/volume/drivers/netapp/eseries/utils.py
  cinder/volume/drivers/netapp/options.py
  doc/source/admin/blockstorage-groups.rst
  doc/source/configuration/block-storage/drivers/netapp-volume-driver.rst
  doc/source/configuration/tables/cinder-netapp_cdot_iscsi.inc
  doc/source/configuration/tables/cinder-netapp_cdot_nfs.inc
  doc/source/configuration/tables/cinder-netapp_eseries_iscsi.inc
  doc/source/contributor/groups.rst
  doc/source/reference/support-matrix.ini
  releasenotes/notes/remove_eseries-bb1bc134645aee50.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

ScaleIO: Fix Extra Spec parameter name in driver doc
  doc/source/configuration/block-storage/drivers/dell-emc-vxflex-driver.rst
Due: none

QNAP: Support QES FW on TDS series NAS
  cinder/volume/drivers/qnap.py
  releasenotes/notes/qnap-tds-support-qes-5e5d766cded3a26d.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Fix CI failed: test_get_volume_filter_options_using_config
  cinder/test.py
  cinder/tests/unit/api/v2/test_volumes.py
  cinder/tests/unit/api/v3/test_volumes.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Unity driver: check array OE version
  cinder/tests/unit/volume/drivers/dell_emc/unity/test_adapter.py
  cinder/tests/unit/volume/drivers/dell_emc/unity/test_client.py
  cinder/volume/drivers/dell_emc/unity/adapter.py
  cinder/volume/drivers/dell_emc/unity/utils.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Mask passwords in utils.trace for func params
  cinder/tests/unit/test_utils.py
  cinder/utils.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Move 'attach.end' notify to attachment_complete
  cinder/api/v3/attachments.py
  cinder/tests/unit/api/v3/test_attachments.py
  cinder/volume/manager.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Using wrong parameter in test_backup_ceph
  cinder/tests/unit/backup/drivers/test_backup_ceph.py
Due: none

Add missing backup status in API doc
  api-ref/source/v2/ext-backups.inc
  api-ref/source/v3/ext-backups.inc
Due: none

cinder-volume: Stop masking IOError different than ENOSPC
  cinder/image/image_utils.py
  cinder/tests/unit/test_image_utils.py
  releasenotes/notes/bug-1799221-fix-truncated-volumes-in-case-of-glance-errors-6cae19218249c3cf.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Hedvig Cinder driver implementation
  cinder/tests/unit/volume/drivers/test_hedvig.py
  cinder/volume/drivers/hedvig/__init__.py
  cinder/volume/drivers/hedvig/config.py
  cinder/volume/drivers/hedvig/hedvig_cinder.py
  cinder/volume/drivers/hedvig/rest_client.py
  doc/source/configuration/block-storage/drivers/hedvig-volume-driver.rst
  doc/source/configuration/block-storage/volume-drivers.rst
  releasenotes/notes/hedvig-cinder-driver-e7b98f4bc214bc49.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Add new LINSTOR volume driver
  cinder/opts.py
  cinder/tests/unit/volume/drivers/test_linstordrv.py
  cinder/volume/drivers/linstordrv.py
  doc/source/configuration/block-storage/drivers/linstor-driver.rst
  doc/source/configuration/block-storage/volume-drivers.rst
  doc/source/reference/support-matrix.ini
  driver-requirements.txt
  releasenotes/notes/drbd-linstor-volume-driver-20273a9ad3783cf5.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Remove those copy words occured twice times in dell-emc-vmax-driver.rst
  doc/source/configuration/block-storage/drivers/dell-emc-vmax-driver.rst
Due: none

Support deferred deletion in RBD
  cinder/tests/unit/volume/drivers/test_rbd.py
  cinder/volume/drivers/rbd.py
  releasenotes/notes/support_deferred_deletion_in_RBD-0c5d96f8eac5b50a.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Fix Xtremio driver configuration ordering
  doc/source/configuration/block-storage/drivers/dell-emc-xtremio-driver.rst
  doc/source/configuration/block-storage/volume-drivers.rst
Due: none

Retry on DBDeadLock affecting worker updates
  cinder/db/sqlalchemy/api.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

LINBIT DRBDManage driver moves to maintenance mode
  cinder/volume/drivers/drbdmanagedrv.py
  doc/source/configuration/block-storage/drivers/drbd-driver.rst
  releasenotes/notes/deprecate-linbit-drbdmanagedrv-75c41ce8e81cac80.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Unity: Enable ssl verification
  cinder/tests/unit/volume/drivers/dell_emc/unity/test_adapter.py
  cinder/volume/drivers/dell_emc/unity/adapter.py
  cinder/volume/drivers/dell_emc/unity/driver.py
  doc/source/configuration/block-storage/drivers/dell-emc-unity-driver.rst
  releasenotes/notes/unity-enable-ssl-14db2497225c4395.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Allow to use _max qos option together with per_gb
  cinder/tests/unit/volume/test_connection.py
  cinder/volume/manager.py
  doc/source/admin/blockstorage-capacity-based-qos.rst
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

Add secret=true to fixed_key configuration parameter
  cinder/keymgr/conf_key_mgr.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

VMAX driver doc - notification of hybrid deprecation
  doc/source/configuration/block-storage/drivers/dell-emc-vmax-driver.rst
Due: none

add resource filters to the included data_files
  setup.cfg
Due: cinder-tempest-dsvm-lvm-lio-barbican, openstack-tox-pylint, openstack-tox-functional

Fixup some issues of Inspur AS13000 cinder driver
  cinder/tests/unit/volume/drivers/inspur/as13000/test_as13000_driver.py
  cinder/volume/drivers/inspur/as13000/as13000_driver.py
  doc/source/configuration/block-storage/drivers/inspur-as13000-driver.rst
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

SPDK drivers documentation
  doc/source/configuration/block-storage/drivers/spdk-volume-driver.rst
  doc/source/configuration/block-storage/volume-drivers.rst
Due: none

VMAX driver doc - notification of fix on AFA OS upgrade issue
  doc/source/configuration/block-storage/drivers/dell-emc-vmax-driver.rst
Due: none

[Unity] Add `force detach` support
  cinder/tests/unit/volume/drivers/dell_emc/unity/fake_exception.py
  cinder/tests/unit/volume/drivers/dell_emc/unity/test_adapter.py
  cinder/tests/unit/volume/drivers/dell_emc/unity/test_client.py
  cinder/volume/drivers/dell_emc/unity/adapter.py
  cinder/volume/drivers/dell_emc/unity/client.py
  cinder/volume/drivers/dell_emc/unity/driver.py
  releasenotes/notes/unity-force-detach-7c89e72105f9de61.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog

NetApp Doc: Enhance 'netapp_storage_protocol' description
  doc/source/configuration/block-storage/drivers/netapp-volume-driver.rst
Due: none

NetApp: Return all iSCSI targets-portals
  cinder/tests/unit/volume/drivers/netapp/dataontap/test_block_base.py
  cinder/tests/unit/volume/drivers/netapp/dataontap/test_block_cmode.py
  cinder/tests/unit/volume/drivers/netapp/fakes.py
  cinder/tests/unit/volume/drivers/netapp/test_utils.py
  cinder/volume/drivers/netapp/dataontap/block_base.py
  cinder/volume/drivers/netapp/dataontap/block_cmode.py
  cinder/volume/drivers/netapp/utils.py
  releasenotes/notes/netapp-non-discovery-19af4e10f7b190ea.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, legacy-tempest-dsvm-full-sheepdog-src-os-brick, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full, legacy-tempest-dsvm-neutron-full-opensuse-423, legacy-tempest-dsvm-full-sheepdog
