Repository openstack/cinder: changes, and which Zuul jobs are due for each by the changed paths.
All: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

cinder-tox-bandit-baseline:
  parent: openstack-tox
  timeout: 2400
  vars:
    tox_envlist: bandit-baseline
  required-projects:
  - openstack/requirements

cinder-code-coverage:
  parent: openstack-tox-cover
  timeout: 2400

cinder-rally-task:
  parent: rally-task-cinder
  timeout: 7800
  vars:
    devstack_localrc:
      OSPROFILER_COLLECTOR: redis
    devstack_plugins:
      osprofiler: https://opendev.org/openstack/osprofiler
      rally-openstack: https://opendev.org/openstack/rally-openstack
    rally_task: rally-jobs/cinder.yaml
  required-projects:
  ...

openstack-tox-pylint:
  voting: false
  timeout: 5400

cinder-plugin-ceph-tempest:
  parent: devstack-plugin-ceph-tempest-py3
  roles:
  - zuul: opendev.org/openstack/cinderlib
  - zuul: opendev.org/openstack/cinder-tempest-plugin
  run: playbooks/tempest-and-cinderlib-run.yaml
  post-run: playbooks/post-cinderlib.yaml
  required-projects:
  - opendev.org/openstack/cinderlib
  vars:
  ...

cinder-plugin-ceph-tempest-mn-aa:
  parent: devstack-plugin-ceph-multinode-tempest-py3
  roles:
  - zuul: opendev.org/openstack/cinderlib
  - zuul: opendev.org/openstack/cinder-tempest-plugin
  run: playbooks/tempest-and-cinderlib-run.yaml
  post-run: playbooks/post-cinderlib.yaml
  required-projects:
  - opendev.org/openstack/cinderlib
  vars:
  ...

cinder-grenade-mn-sub-volbak:
  parent: grenade-multinode
  ...

cinder-tempest-lvm-multibackend:
  parent: devstack-tempest
  description: "Cinder tempest job based on LVM and multiple backends.\nFormer names for this job were:\n  * legacy-tempest-dsvm-lvm-multibackend\n"
  timeout: 10800
  required-projects:
  - opendev.org/openstack/cinder-tempest-plugin
  vars:
    tox_envlist: all
  ...

cinder-for-glance-optimized:
  parent: cinder-tempest-plugin-basic
  description: 'Configures glance with cinder as a backend for multiple glance cinder
  
    stores and with cinder configured to use the optimized workflow of
  
    moving image data directly in the backend.
  
    '
  vars:
    devstack_localrc:
      USE_CINDER_FOR_GLANCE: true
  ...

devstack-plugin-nfs-tempest-full:
  voting: false

cinder-multibackend-matrix-migration:
  parent: devstack-tempest
  description: "Run migration tests between several combinations of backends\n(LVM, Ceph, NFS)\nFormer names for this job were:\n  * legacy-tempest-dsvm-multibackend-matrix\n"
  timeout: 10800
  required-projects:
  - opendev.org/openstack/devstack-plugin-ceph
  ...

cinder-grenade-mn-sub-volschbak:
  parent: grenade-multinode
  ...

cinder-grenade-mn-sub-bak:
  parent: grenade-multinode
  ...

Update .gitreview for stable/2023.2
  .gitreview
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Update TOX_CONSTRAINTS_FILE for stable/2023.2
  tox.ini
Due: openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint

Update master for stable/2023.2
  releasenotes/source/2023.2.rst
  releasenotes/source/index.rst
Due: none

Imported Translations from Zanata
  cinder/locale/ja/LC_MESSAGES/cinder.po
  cinder/locale/zh_CN/LC_MESSAGES/cinder.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Stop sharing tox envdir between pep8 and fast8
  tox.ini
Due: openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint

Hacking: Remove C306, C308 checks
  HACKING.rst
  cinder/tests/hacking/checks.py
  cinder/tests/unit/test_hacking.py
  requirements.txt
  tox.ini
Due: cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint

[Pure Storage] Uniform Sync Replication disconnect
  cinder/tests/unit/volume/drivers/test_pure.py
  cinder/volume/drivers/pure.py
  releasenotes/notes/pure_uniform_disconnect_bug-357c849bf12e8832.yaml
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

[doc] Update markups of options in capacity-based-qos
  doc/source/admin/capacity-based-qos.rst
Due: none

Pure: Report SAM-2 addressing mode for LUNs
  cinder/tests/unit/volume/drivers/test_pure.py
  cinder/volume/driver.py
  cinder/volume/drivers/pure.py
  releasenotes/notes/pure-report-addressing-91963e29fbed32a4.yaml
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Implement add_consumer, remove_consumer KeyManager APIs
  cinder/keymgr/conf_key_mgr.py
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Nimble: Enable thin provisioning as default
  cinder/tests/unit/volume/drivers/hpe/test_nimble.py
  cinder/volume/drivers/hpe/nimble.py
  releasenotes/notes/nimble-thin-provision-by-default-c5ac66120b2361ef.yaml
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

db: Don't rely on branched connections
  cinder/db/migrations/env.py
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Reference - Documentation correction
  doc/source/reference/support-matrix.ini
Due: none

Tests: Provide filter arg to VolumeAttachmentNotFound()
  cinder/tests/unit/attachments/test_attachments_api.py
Due: cinder-code-coverage

Ceph: Fix restoring old backups to a different backend
  cinder/backup/drivers/ceph.py
  cinder/tests/unit/backup/drivers/test_backup_ceph.py
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

RBD: tpool.Proxy client object
  cinder/volume/drivers/rbd.py
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Fix test_nvmet_driver tests
  cinder/tests/unit/privsep/targets/fake_nvmet_lib.py
Due: cinder-code-coverage

api-ref: Improve sort, pagination parameter docs
  api-ref/source/v3/attachments.inc
  api-ref/source/v3/consistencygroups-v3.inc
  api-ref/source/v3/ext-backups.inc
  api-ref/source/v3/group-snapshots.inc
  api-ref/source/v3/group-types.inc
  api-ref/source/v3/groups.inc
  api-ref/source/v3/messages.inc
  api-ref/source/v3/parameters.yaml
  api-ref/source/v3/qos-specs-v3-qos-specs.inc
  api-ref/source/v3/snapshot-manage.inc
  api-ref/source/v3/vol-transfer-v3.inc
  api-ref/source/v3/volume-manage.inc
  api-ref/source/v3/volumes-v3-snapshots.inc
  api-ref/source/v3/volumes-v3-types.inc
  api-ref/source/v3/volumes-v3-volumes.inc
Due: openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task

Dell PowerMax : Disabling the renaming of a volume before deletion
  cinder/tests/unit/volume/drivers/dell_emc/powermax/test_powermax_rest.py
  cinder/volume/drivers/dell_emc/powermax/rest.py
  releasenotes/notes/bug-2033398-powermax-reduce-slowness-online-migration-ab0a0ea19672b85c.yaml
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Remove importlib-metadata from requirements
  cinder/backup/drivers/gcs.py
  requirements.txt
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Tests: Make NEC tests faster
  cinder/tests/unit/volume/drivers/nec/v/test_internal_nec_rest_fc.py
Due: cinder-code-coverage

Add cinder active-active support for Dell PowerMax driver
  cinder/tests/unit/volume/drivers/dell_emc/powermax/test_powermax_common.py
  cinder/tests/unit/volume/drivers/dell_emc/powermax/test_powermax_fc.py
  cinder/tests/unit/volume/drivers/dell_emc/powermax/test_powermax_iscsi.py
  cinder/tests/unit/volume/drivers/dell_emc/powermax/test_powermax_replication.py
  cinder/volume/drivers/dell_emc/powermax/common.py
  cinder/volume/drivers/dell_emc/powermax/fc.py
  cinder/volume/drivers/dell_emc/powermax/iscsi.py
  doc/source/configuration/block-storage/drivers/dell-emc-powermax-driver.rst
  doc/source/reference/support-matrix.ini
  releasenotes/notes/powermax-active-active-support-bec2d96480046d82.yaml
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

[Pure Storage] Unit tests and fixed variable name for Replication-Enabled Consistency Groups
  cinder/tests/unit/volume/drivers/test_pure.py
  cinder/volume/drivers/pure.py
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Revert "Driver assisted migration on retype when it's safe"
  cinder/tests/unit/volume/test_volume_migration.py
  cinder/volume/manager.py
  releasenotes/notes/retype-assisted-migration-6cdc7f9b21beb859.yaml
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

HPE XP and NEC V: Host group name is not correct
  cinder/tests/unit/volume/drivers/hpe/xp/test_hpe_xp_rest_fc.py
  cinder/tests/unit/volume/drivers/hpe/xp/test_hpe_xp_rest_iscsi.py
  cinder/volume/drivers/hitachi/hbsd_common.py
  releasenotes/notes/hitachi-vsp-fix-to-use-correct-HGname-78c3c47dcf984ddf.yaml
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

db: Replace use of Connection.execute
  cinder/db/migrations/versions/921e1a36b076_initial.py
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

db: Replace use of enginefacade in migrations
  cinder/db/migrations/versions/daa98075b90d_add_resource_indexes.py
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

db: Use the same connection throughout test
  cinder/tests/unit/db/test_purge.py
Due: cinder-code-coverage

Fix invalid UUIDs newly detected
  cinder/tests/unit/volume/drivers/fungible/test_driver.py
Due: cinder-code-coverage

Doc: Fix incorrect QoS support for rbd driver
  doc/source/reference/support-matrix.ini
Due: none

Add job to test with SQLAlchemy master (2.x)
  .zuul.yaml
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

db: Remove erroneous primary key definitions
  cinder/db/sqlalchemy/models.py
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

db: Set name for FK constraint
  cinder/db/sqlalchemy/models.py
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

db: Silence alembic logging
  cinder/tests/unit/test.py
Due: cinder-code-coverage

Add default to read_deleted in context's from_dict
  cinder/context.py
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

UTs: Fix clearing of RPC exchange between tests
  cinder/tests/unit/test.py
Due: cinder-code-coverage

Migrate cinder-sqlalchemy-2x job to py311
  .zuul.yaml
Due: cinder-tox-bandit-baseline, cinder-code-coverage, openstack-tox-functional-py36, openstack-tox-functional-py39, cinder-rally-task, openstack-tox-pylint, cinder-plugin-ceph-tempest, cinder-plugin-ceph-tempest-mn-aa, cinder-tempest-plugin-lvm-lio-barbican, cinder-grenade-mn-sub-volbak, cinder-tempest-lvm-multibackend, cinder-for-glance-optimized, devstack-plugin-nfs-tempest-full, tempest-slow-py3, tempest-integrated-storage, grenade, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Path conditions:
  cinder-tox-bandit-baseline: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-code-coverage: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  openstack-tox-functional-py36: unless all of: ^.*\.rst$, ^cinder/locale/.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$
  openstack-tox-functional-py39: unless all of: ^.*\.rst$, ^cinder/locale/.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$
  cinder-rally-task: unless all of: ^.*\.rst$, ^cinder/locale/.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$
  openstack-tox-pylint: unless all of: ^.*\.rst$, ^api-ref/.*$, ^cinder/locale/.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$
  cinder-plugin-ceph-tempest: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-plugin-ceph-tempest-mn-aa: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-tempest-plugin-lvm-lio-barbican: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-grenade-mn-sub-volbak: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-tempest-lvm-multibackend: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-for-glance-optimized: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-nfs-tempest-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-slow-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-integrated-storage: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-ipv6-only: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  openstacksdk-functional-devstack: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-multibackend-matrix-migration: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-grenade-mn-sub-volschbak: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-grenade-mn-sub-bak: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-ceph-tempest-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
