Repository openstack/cinder: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Path conditions:
  openstack-tox-functional-py310: unless all of: ^.*\.rst$, ^cinder/locale/.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$
  openstack-tox-functional-py312: unless all of: ^.*\.rst$, ^cinder/locale/.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$
  cinder-plugin-ceph-tempest: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-tempest-plugin-lvm-lio-barbican: unless all of: ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^tools/.*$
  cinder-tempest-plugin-lvm-lio-barbican-fips: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-tempest-plugin-protection-functional: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-grenade-mn-sub-volbak: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-nfs-tempest-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-nfs-tempest-full-fips: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-slow-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-integrated-storage: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  grenade-skip-level: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-ipv6-only: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  openstacksdk-functional-devstack: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-multibackend-matrix-migration: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-grenade-mn-sub-volschbak: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-grenade-mn-sub-bak: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-ceph-tempest-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$

[Everpure]: report provisioned capacity under correct stat key
  cinder/tests/unit/volume/drivers/test_pure.py
  cinder/volume/drivers/pure.py
  releasenotes/notes/pure-fix-provisioned-capacity-stat-key-7c2e9a4f1d3b6e0a.yaml
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Adds urllib3 lib in requirements.txt
  requirements.txt
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-tempest-plugin-lvm-lio-barbican

Storwize: stop vdiskcopyops loop racing sqlite in tests
  cinder/tests/unit/volume/drivers/ibm/test_storwize_svc.py
Due: none

Enable SRBAC by default
  cinder/common/config.py
  cinder/policy.py
  cinder/tests/unit/api/contrib/test_backups.py
  cinder/tests/unit/api/contrib/test_cgsnapshots.py
  cinder/tests/unit/api/contrib/test_consistencygroups.py
  cinder/tests/unit/api/contrib/test_scheduler_hints.py
  cinder/tests/unit/api/contrib/test_snapshot_actions.py
  cinder/tests/unit/api/contrib/test_volume_actions.py
  cinder/tests/unit/api/contrib/test_volume_encryption_metadata.py
  cinder/tests/unit/api/contrib/test_volume_image_metadata.py
  cinder/tests/unit/api/fakes.py
  cinder/tests/unit/api/v3/test_backups.py
  cinder/tests/unit/api/v3/test_snapshots.py
  cinder/tests/unit/api/v3/test_volume_transfer.py
  cinder/tests/unit/api/v3/test_volumes.py
  cinder/tests/unit/backup/test_backup.py
  cinder/tests/unit/group/test_groups_api.py
  cinder/tests/unit/policies/test_base.py
  cinder/tests/unit/test_volume_transfer.py
  cinder/tests/unit/volume/test_volume.py
  releasenotes/notes/enable-secure-rbac-by-default-617bc27d2f48379d.yaml
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

[Everpure] Fix QoS for py-pure-client 1.86.0+
  cinder/tests/unit/volume/drivers/test_pure.py
  cinder/volume/drivers/pure.py
  pyproject.toml
  releasenotes/notes/pure-fix-qos-patch-models-9b1c0c1f0a3d4e5b.yaml
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

requirements: Fix duplicate "packaging" entry
  requirements.txt
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-tempest-plugin-lvm-lio-barbican

Update policy scope enforcement testing
  cinder/policies/base.py
  cinder/tests/unit/policies/base.py
  cinder/tests/unit/policies/test_attachments.py
  cinder/tests/unit/policies/test_backups.py
  cinder/tests/unit/policies/test_default_volume_types.py
  cinder/tests/unit/policies/test_group_actions.py
  cinder/tests/unit/policies/test_group_snapshots.py
  cinder/tests/unit/policies/test_group_types.py
  cinder/tests/unit/policies/test_groups.py
  cinder/tests/unit/policies/test_limits.py
  cinder/tests/unit/policies/test_messages.py
  cinder/tests/unit/policies/test_quota_class.py
  cinder/tests/unit/policies/test_quotas.py
  cinder/tests/unit/policies/test_snapshot_actions.py
  cinder/tests/unit/policies/test_snapshot_metadata.py
  cinder/tests/unit/policies/test_snapshots.py
  cinder/tests/unit/policies/test_type_extra_specs.py
  cinder/tests/unit/policies/test_volume.py
  cinder/tests/unit/policies/test_volume_access.py
  cinder/tests/unit/policies/test_volume_actions.py
  cinder/tests/unit/policies/test_volume_metadata.py
  cinder/tests/unit/policies/test_volume_transfers.py
  cinder/tests/unit/policies/test_volume_type.py
  cinder/tests/unit/test_policy.py
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Fix copy_image_to_volume for Quobyte driver
  cinder/tests/unit/volume/drivers/test_quobyte.py
  cinder/volume/drivers/quobyte.py
  releasenotes/notes/quobyte-copy-image-to-volume-fix-2069597.yaml
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Quobyte: adapt to image_utils fixes
  cinder/tests/unit/volume/drivers/test_quobyte.py
  cinder/volume/drivers/quobyte.py
  releasenotes/notes/bug_2074377-609ffc8965427647.yaml
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Quobyte: Fix metadata for volume from snapshot #2142477
  cinder/tests/unit/volume/drivers/test_quobyte.py
  cinder/volume/drivers/quobyte.py
  releasenotes/notes/quobyte-bug-2142477-a5a5f6a77dbb5b90.yaml
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Report provisioning in driver stats for Quobyte driver
  cinder/tests/unit/volume/drivers/test_quobyte.py
  cinder/volume/drivers/quobyte.py
  doc/source/reference/support-matrix.ini
  releasenotes/notes/qb_thinprov-a8ed645f8ba51d26.yaml
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Dell PowerFlex: Handle missing errorCode in NVMe-oF REST error responses
  cinder/tests/unit/volume/drivers/dell_emc/powerflex/test_powerflex_client.py
  cinder/volume/drivers/dell_emc/powerflex/rest_client.py
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

[stable-only] Pin setuptools <82
  .zuul.yaml
  tox.ini
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Remove disabling the scope enforcement
  releasenotes/notes/remove-disabling-rbac-scope-enforcement-2679e30951e3597d.yaml
  requirements.txt
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-tempest-plugin-lvm-lio-barbican

Fix interface mismatch detected by tooz 9.0.0
  cinder/tests/unit/test_coordination.py
Due: none

Storwize: stop tests spawning cinder-manage subprocesses
  cinder/tests/unit/volume/drivers/ibm/test_storwize_svc.py
Due: none

Replace usage of undocumented logging.WARN
  cinder/volume/manager.py
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

[Hitachi] Fixes bug where reclaiming space does not occur automatically.
  cinder/tests/unit/volume/drivers/hitachi/test_hitachi_hbsd_rest_fc.py
  cinder/tests/unit/volume/drivers/hitachi/test_hitachi_hbsd_rest_iscsi.py
  cinder/tests/unit/volume/drivers/hpe/xp/test_hpe_xp_rest_fc.py
  cinder/tests/unit/volume/drivers/hpe/xp/test_hpe_xp_rest_iscsi.py
  cinder/tests/unit/volume/drivers/nec/v/test_internal_nec_rest_fc.py
  cinder/tests/unit/volume/drivers/nec/v/test_internal_nec_rest_iscsi.py
  cinder/tests/unit/volume/drivers/nec/v/test_nec_rest_fc.py
  cinder/tests/unit/volume/drivers/nec/v/test_nec_rest_iscsi.py
  cinder/volume/drivers/hitachi/hbsd_common.py
  cinder/volume/drivers/hpe/xp/hpe_xp_rest.py
  cinder/volume/drivers/nec/v/nec_v_rest.py
  releasenotes/notes/hitachi-bug-2153971-support-auto-space-reclaim-4ec65b529369b18e.yaml
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

NetApp ZAPI: Replace urllib with requests library in NaServer
  cinder/tests/unit/volume/drivers/netapp/dataontap/client/fakes.py
  cinder/tests/unit/volume/drivers/netapp/dataontap/client/test_api.py
  cinder/volume/drivers/netapp/dataontap/client/api.py
  releasenotes/notes/bug-2153545-netapp-zapi-fix-401-roundtrip-a4abc5da1e9d4a1b.yaml
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Dell PowerFlex Driver: Fix NVMe/TCP host creation with long host names
  cinder/tests/unit/volume/drivers/dell_emc/powerflex/test_nvme.py
  cinder/volume/drivers/dell_emc/powerflex/driver.py
  releasenotes/notes/bug-2160063-dell-powerflex-nvme-hostname-truncation-fe25266fe3a9742a3a209f3b.yaml
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

[docs] Eventlet is not a preferred threading model
  doc/source/contributor/threading.rst
Due: none

Remove reference to cinderlib
  doc/source/configuration/block-storage/drivers/ceph-rbd-volume-driver.rst
  doc/source/contributor/cinder-groups.rst
  doc/source/contributor/contributing.rst
  doc/source/contributor/documentation.rst
  doc/source/contributor/new_driver_checklist.rst
  doc/source/contributor/releasecycle.rst
  doc/source/contributor/releases.rst
Due: none

mypy: annotate lvm
  cinder/brick/local_dev/lvm.py
  cinder/volume/drivers/lvm.py
  pyproject.toml
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

[docs] Add security issues to driver compliance
  doc/source/drivers-all-about.rst
Due: none

Resolved session conflict in do_setup logout
  cinder/volume/drivers/hpe/hpe_3par_common.py
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Add availability_zone query‑parameter docs
  api-ref/source/v3/parameters.yaml
  api-ref/source/v3/volumes-v3-volumes.inc
Due: openstack-tox-functional-py310, openstack-tox-functional-py312

Apply non-default qemu process limits
  cinder/image/image_utils.py
  cinder/tests/unit/test_image_utils.py
  releasenotes/notes/fix-configurable-img-conversion-params-4154b295a6cac441.yaml
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Fix missing volume delete notifications on group delete
  cinder/tests/unit/group/test_groups_manager.py
  cinder/volume/manager.py
  releasenotes/notes/bug-2139068-b65849ce5771cb1b.yaml
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Adds threading mode tests for semaphore funcs
  cinder/tests/unit/test_utils.py
Due: none

New cinder driver for HPE Alletra MP
  cinder/tests/unit/volume/drivers/hpe/fake_hpe_flowkit_exceptions.py
  cinder/tests/unit/volume/drivers/hpe/fake_hpe_storage_flowkit.py
  cinder/tests/unit/volume/drivers/hpe/fake_hpeflowkit.py
  cinder/tests/unit/volume/drivers/hpe/fake_workflows.py
  cinder/tests/unit/volume/drivers/hpe/test_alletramp.py
  cinder/volume/drivers/hpe/alletramp_constants.py
  cinder/volume/drivers/hpe/alletramp_driver.py
  cinder/volume/drivers/hpe/alletramp_service.py
  doc/source/configuration/block-storage/drivers/hpe-alletramp-driver.rst
  doc/source/reference/support-matrix.ini
  pyproject.toml
  releasenotes/notes/hpe-alletramp-driver-c0f9cef4eff8f43c.yaml
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Tests: Mock sleep in Fujitsu driver unit test
  cinder/tests/unit/volume/drivers/test_fujitsu_dx.py
Due: none

NetApp: fix CG replication break/quiesce Closes-Bug: #2155104
  cinder/tests/unit/volume/drivers/netapp/dataontap/utils/test_data_motion.py
  cinder/volume/drivers/netapp/dataontap/utils/data_motion.py
  releasenotes/notes/bug-2155104-fix-async-failover-18628972d19d1724.yaml
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Addressed session conflict in replication logout
  cinder/volume/drivers/hpe/hpe_3par_common.py
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

NetApp: Add option to disable ZAPI fallback in REST client
  cinder/tests/unit/volume/drivers/netapp/dataontap/client/test_client_cmode_rest.py
  cinder/tests/unit/volume/drivers/netapp/dataontap/utils/test_utils.py
  cinder/volume/drivers/netapp/dataontap/client/client_cmode_rest.py
  cinder/volume/drivers/netapp/dataontap/utils/utils.py
  cinder/volume/drivers/netapp/options.py
  releasenotes/notes/netapp-allow-zapi-fallback-c92b0debe5c4484f.yaml
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

IBM-SVF: Fix force detach volume bug
  cinder/tests/unit/volume/drivers/ibm/test_storwize_svc.py
  cinder/volume/drivers/ibm/storwize_svc/storwize_svc_common.py
  cinder/volume/drivers/ibm/storwize_svc/storwize_svc_fc.py
  cinder/volume/drivers/ibm/storwize_svc/storwize_svc_iscsi.py
  releasenotes/notes/ibm-svf-bug-fix-for-force-detach-volume-652f66ddbd90868a.yaml
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Skip TestWSGIService under the threading backend
  cinder/tests/unit/test_service.py
Due: none

Added changes to enable deprecated qos params
  cinder/tests/unit/volume/drivers/hpe/test_hpe3par.py
  cinder/volume/drivers/hpe/hpe_3par_common.py
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Bump mypy to 2.1.x
  tox.ini
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-tempest-plugin-lvm-lio-barbican

Skip eventlet-specific tests in threading mode
  cinder/tests/unit/backup/test_backup.py
  cinder/tests/unit/test_utils.py
Due: none
