Repository openstack/cinder: changes, and which Zuul jobs are due for each by the changed paths.
All: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, cinder-tox-functional-py36, cinder-tox-py36, openstack-tox-functional-py35, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Path conditions:
  cinder-tempest-dsvm-lvm-lio-barbican: unless all of: ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$
  cinder-tox-bandit-baseline: unless all of: ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$
  cinder-tox-functional-py36: unless all of: ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$
  cinder-tox-py36: unless all of: ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$
  openstack-tox-functional-py35: unless all of: ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$
  openstack-tox-pylint: unless all of: ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$
  devstack-plugin-ceph-tempest: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  openstack-tox-functional: unless all of: ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$
  legacy-grenade-dsvm-cinder-mn-sub-volbak: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-lvm-multibackend: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-full-drbd-devstack: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-full-devstack-plugin-nfs: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-cinder-v2-api: unless all of: ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$
  legacy-tempest-dsvm-zeromq-multibackend: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-multibackend-matrix: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-cinder-mn-sub-volschbak: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-grenade-dsvm-cinder-mn-sub-bak: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-ceph-tempest-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-pg-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/hacking/.*$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/unit.*$, ^contrib/block-box.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$

Fix NFS volume retype with migrate
  cinder/tests/unit/volume/drivers/test_nfs.py
  cinder/volume/drivers/nfs.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, cinder-tox-functional-py36, cinder-tox-py36, openstack-tox-functional-py35, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Pylint: use -j 0 arg
  tools/coding-checks.sh
Due: openstack-tox-functional-py35, openstack-tox-pylint, openstack-tox-functional, tempest-cinder-v2-api

Bump pylint to 2.3.0
  tox.ini
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, cinder-tox-functional-py36, cinder-tox-py36, openstack-tox-functional-py35, openstack-tox-pylint, openstack-tox-functional, tempest-cinder-v2-api

Add context to cloning snapshots in remotefs driver
  cinder/tests/unit/fake_snapshot.py
  cinder/tests/unit/volume/drivers/test_remotefs.py
  cinder/tests/unit/volume/drivers/test_vzstorage.py
  cinder/volume/drivers/quobyte.py
  cinder/volume/drivers/remotefs.py
  cinder/volume/drivers/vzstorage.py
  releasenotes/notes/bugfix-1744692-5aebd0c97ae66407.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, cinder-tox-functional-py36, cinder-tox-py36, openstack-tox-functional-py35, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Denote max microversion for Train
  cinder/api/openstack/rest_api_version_history.rst
Due: none

3PAR: Add Peer Persistence support
  cinder/tests/unit/volume/drivers/hpe/test_hpe3par.py
  cinder/volume/drivers/hpe/hpe_3par_common.py
  cinder/volume/drivers/hpe/hpe_3par_fc.py
  cinder/volume/drivers/hpe/hpe_3par_iscsi.py
  doc/source/configuration/block-storage/drivers/hpe-3par-driver.rst
  doc/source/reference/support-matrix.ini
  releasenotes/notes/hpe-3par-peer-persistence.yaml-91cc84bf89dbb462.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, cinder-tox-functional-py36, cinder-tox-py36, openstack-tox-functional-py35, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Fix up test_snapshot notify tests
  cinder/tests/unit/volume/test_snapshot.py
Due: cinder-tox-py36

Rekey volume on clone
  cinder/exception.py
  cinder/tests/unit/fake_constants.py
  cinder/tests/unit/volume/test_volume.py
  cinder/volume/flows/api/create_volume.py
  cinder/volume/flows/manager/create_volume.py
  etc/cinder/rootwrap.d/volume.filters
  releasenotes/notes/change-encryption-key-on-clone-3be7cdb0e27386e0.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, cinder-tox-functional-py36, cinder-tox-py36, openstack-tox-functional-py35, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Don't allow retype to encrypted+multiattach type
  cinder/volume/api.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, cinder-tox-functional-py36, cinder-tox-py36, openstack-tox-functional-py35, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Tests: Fix test_volume.py import ordering
  cinder/tests/unit/volume/test_volume.py
Due: cinder-tox-py36

Fix pylint env for ancient versions of git
  tools/coding-checks.sh
Due: openstack-tox-functional-py35, openstack-tox-pylint, openstack-tox-functional, tempest-cinder-v2-api

Move hacking checks to tests dir
  .zuul.yaml
  cinder/tests/hacking/__init__.py
  cinder/tests/hacking/checks.py
  cinder/tests/unit/test_hacking.py
  tools/config/generate_cinder_opts.py
  tox.ini
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, cinder-tox-functional-py36, cinder-tox-py36, openstack-tox-functional-py35, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Add Generic Volume Group Into Quota Management
  cinder/api/contrib/quota_classes.py
  cinder/api/contrib/quotas.py
  cinder/quota_utils.py
  cinder/tests/unit/api/contrib/test_quotas.py
  cinder/tests/unit/api/contrib/test_quotas_classes.py
  releasenotes/notes/generic-group-quota-manage-support-559629ad07a406f4.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, cinder-tox-functional-py36, cinder-tox-py36, openstack-tox-functional-py35, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Leverage hw accelerator in image compression
  cinder/common/config.py
  cinder/exception.py
  cinder/image/accelerator.py
  cinder/image/accelerators/__init__.py
  cinder/image/accelerators/gzip.py
  cinder/image/accelerators/qat.py
  cinder/image/image_utils.py
  cinder/opts.py
  cinder/tests/unit/image/accelerators/__init__.py
  cinder/tests/unit/image/accelerators/test_qat_gzip.py
  cinder/tests/unit/image/test_accelerator.py
  cinder/tests/unit/test_image_utils.py
  cinder/volume/api.py
  etc/cinder/rootwrap.d/volume.filters
  releasenotes/notes/leverage-compression-accelerator-579c7032290cd1e9.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, cinder-tox-functional-py36, cinder-tox-py36, openstack-tox-functional-py35, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Dell EMC SC: Handle the mappings of multiattached volume
  cinder/tests/unit/volume/drivers/dell_emc/sc/test_fc.py
  cinder/tests/unit/volume/drivers/dell_emc/sc/test_sc.py
  cinder/volume/drivers/dell_emc/sc/storagecenter_common.py
  cinder/volume/drivers/dell_emc/sc/storagecenter_fc.py
  cinder/volume/drivers/dell_emc/sc/storagecenter_iscsi.py
  releasenotes/notes/sc-handle-multiattach-onterminate-6ab1f96f21bb284d.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, cinder-tox-functional-py36, cinder-tox-py36, openstack-tox-functional-py35, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Delete unused key when rekeying volume
  cinder/tests/unit/volume/test_volume.py
  cinder/volume/flows/manager/create_volume.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, cinder-tox-functional-py36, cinder-tox-py36, openstack-tox-functional-py35, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Unity: Add replication support
  cinder/tests/unit/volume/drivers/dell_emc/unity/fake_exception.py
  cinder/tests/unit/volume/drivers/dell_emc/unity/test_adapter.py
  cinder/tests/unit/volume/drivers/dell_emc/unity/test_client.py
  cinder/tests/unit/volume/drivers/dell_emc/unity/test_driver.py
  cinder/tests/unit/volume/drivers/dell_emc/unity/test_replication.py
  cinder/volume/drivers/dell_emc/unity/adapter.py
  cinder/volume/drivers/dell_emc/unity/client.py
  cinder/volume/drivers/dell_emc/unity/driver.py
  cinder/volume/drivers/dell_emc/unity/replication.py
  cinder/volume/drivers/dell_emc/unity/utils.py
  doc/source/configuration/block-storage/drivers/dell-emc-unity-driver.rst
  doc/source/reference/support-matrix.ini
  driver-requirements.txt
  releasenotes/notes/unity-replication-support-2ab121a5ea5a2ade.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, cinder-tox-functional-py36, cinder-tox-py36, openstack-tox-functional-py35, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Move the constants to constants.py (for Fujitsu driver)
  cinder/volume/drivers/fujitsu/eternus_dx/constants.py
  cinder/volume/drivers/fujitsu/eternus_dx/eternus_dx_common.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, cinder-tox-functional-py36, cinder-tox-py36, openstack-tox-functional-py35, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

NEC Driver: Support revert to snapshot
  cinder/tests/unit/volume/drivers/nec/test_volume.py
  cinder/volume/drivers/nec/cli.py
  cinder/volume/drivers/nec/volume.py
  cinder/volume/drivers/nec/volume_helper.py
  doc/source/configuration/block-storage/drivers/nec-storage-m-series-driver.rst
  doc/source/reference/support-matrix.ini
  releasenotes/notes/nec-storage-assist-revert-to-sanpshot-58cddebfbf06d222.yaml
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, cinder-tox-functional-py36, cinder-tox-py36, openstack-tox-functional-py35, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

PowerMax Driver - Debug Metadata Fix
  cinder/tests/unit/volume/drivers/dell_emc/powermax/test_powermax_common.py
  cinder/tests/unit/volume/drivers/dell_emc/powermax/test_powermax_utils.py
  cinder/volume/drivers/dell_emc/powermax/common.py
  cinder/volume/drivers/dell_emc/powermax/fc.py
  cinder/volume/drivers/dell_emc/powermax/iscsi.py
  cinder/volume/drivers/dell_emc/powermax/metadata.py
  cinder/volume/drivers/dell_emc/powermax/utils.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, cinder-tox-functional-py36, cinder-tox-py36, openstack-tox-functional-py35, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

PowerMax Driver - Unisphere version check
  cinder/tests/unit/volume/drivers/dell_emc/powermax/powermax_data.py
  cinder/tests/unit/volume/drivers/dell_emc/powermax/test_powermax_rest.py
  cinder/volume/drivers/dell_emc/powermax/common.py
  cinder/volume/drivers/dell_emc/powermax/rest.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, cinder-tox-functional-py36, cinder-tox-py36, openstack-tox-functional-py35, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Make sure stale image metadata is not used
  cinder/tests/unit/image/test_glance.py
  cinder/tests/unit/volume/test_image.py
  cinder/volume/api.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, cinder-tox-functional-py36, cinder-tox-py36, openstack-tox-functional-py35, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

HPE 3PAR: Updated supported operations for multiattach feature
  doc/source/configuration/block-storage/drivers/hpe-3par-driver.rst
Due: none

Fix missing print format in log messages
  cinder/backup/drivers/ceph.py
  cinder/volume/drivers/macrosan/driver.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, cinder-tox-functional-py36, cinder-tox-py36, openstack-tox-functional-py35, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Add doc page for accelerate image compression
  doc/source/admin/blockstorage-accelerate-image-compression.rst
  doc/source/admin/index.rst
Due: none

NEC Driver: Storage assist retype and a bugfix
  cinder/tests/unit/volume/drivers/nec/test_volume.py
  cinder/volume/drivers/nec/volume.py
  cinder/volume/drivers/nec/volume_common.py
  cinder/volume/drivers/nec/volume_helper.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, cinder-tox-functional-py36, cinder-tox-py36, openstack-tox-functional-py35, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Add "deletion policy" property to uploaded images
  cinder/api/contrib/volume_actions.py
  cinder/tests/unit/api/contrib/test_volume_actions.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, cinder-tox-functional-py36, cinder-tox-py36, openstack-tox-functional-py35, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

PowerMax Driver - Metro Volume Metadata change
  cinder/tests/unit/volume/drivers/dell_emc/powermax/powermax_data.py
  cinder/tests/unit/volume/drivers/dell_emc/powermax/test_powermax_common.py
  cinder/volume/drivers/dell_emc/powermax/common.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, cinder-tox-functional-py36, cinder-tox-py36, openstack-tox-functional-py35, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Google backup: correct string encoding between py 2 and 3
  cinder/backup/drivers/gcs.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, cinder-tox-functional-py36, cinder-tox-py36, openstack-tox-functional-py35, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

PowerMax Driver - Volume Retype Replication fix
  cinder/tests/unit/volume/drivers/dell_emc/powermax/test_powermax_common.py
  cinder/volume/drivers/dell_emc/powermax/common.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, cinder-tox-functional-py36, cinder-tox-py36, openstack-tox-functional-py35, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Releasenote followup: Untyped to default volume type
  releasenotes/notes/untyped_to_default_type-0068e6bc8000986c.yaml
Due: none

Exclude disabled API versions from listing
  cinder/api/versions.py
  cinder/tests/unit/api/test_versions.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, cinder-tox-functional-py36, cinder-tox-py36, openstack-tox-functional-py35, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

Add "service token" documentation
  cinder/opts.py
  doc/source/configuration/block-storage/service-token.rst
  doc/source/configuration/index.rst
  tools/config/generate_cinder_opts.py
Due: cinder-tempest-dsvm-lvm-lio-barbican, cinder-tox-bandit-baseline, cinder-tox-functional-py36, cinder-tox-py36, openstack-tox-functional-py35, openstack-tox-pylint, devstack-plugin-ceph-tempest, openstack-tox-functional, legacy-grenade-dsvm-cinder-mn-sub-volbak, legacy-tempest-dsvm-lvm-multibackend, legacy-tempest-dsvm-full-drbd-devstack, legacy-tempest-dsvm-full-devstack-plugin-nfs, neutron-grenade, tempest-cinder-v2-api, legacy-tempest-dsvm-zeromq-multibackend, legacy-tempest-dsvm-multibackend-matrix, legacy-grenade-dsvm-cinder-mn-sub-volschbak, legacy-grenade-dsvm-cinder-mn-sub-bak, devstack-plugin-ceph-tempest-py3, legacy-tempest-dsvm-neutron-pg-full

PowerMax Docs - New features and supported software
  doc/source/configuration/block-storage/drivers/dell-emc-powermax-driver.rst
Due: none

Port check_exec.py to Python 3
  tools/check_exec.py
Due: openstack-tox-functional-py35, openstack-tox-pylint, openstack-tox-functional, tempest-cinder-v2-api

Extend timeout for database migration tests
  cinder/tests/unit/db/test_migrations.py
  cinder/tests/unit/utils.py
Due: cinder-tox-py36
