Repository openstack/cinder: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

cinder-plugin-ceph-tempest:
  parent: devstack-plugin-ceph-tempest-py3
  roles:
  - zuul: opendev.org/openstack/cinder-tempest-plugin
  vars:
    tempest_exclude_regex: (tempest.api.image.v2.test_images_formats.ImagesFormatTest.test_compute_rejects)
    devstack_localrc:
      CEPH_MIN_CLIENT_VERSION: mimic
    devstack_local_conf:
  ...

cinder-tempest-plugin-lvm-lio-barbican-fips:
  voting: false

cinder-grenade-mn-sub-volbak:
  parent: grenade-multinode
  ...

devstack-plugin-nfs-tempest-full-fips:
  voting: false

cinder-multibackend-matrix-migration:
  parent: devstack-tempest
  description: "Run migration tests between several combinations of backends\n(LVM, Ceph, NFS)\nFormer names for this job were:\n  * legacy-tempest-dsvm-multibackend-matrix\n"
  timeout: 10800
  required-projects:
  - opendev.org/openstack/devstack-plugin-ceph
  ...

cinder-grenade-mn-sub-volschbak:
  parent: grenade-multinode
  ...

cinder-grenade-mn-sub-bak:
  parent: grenade-multinode
  ...

Fix properties={} being sent to Glance
  cinder/image/glance.py
  cinder/tests/unit/image/test_glance.py
  cinder/tests/unit/volume/test_image.py
  releasenotes/notes/bug_2144550-aa8e6e085f6507aa.yaml
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Remove unused type ignore for requests.packages.urllib3
  cinder/volume/manager.py
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Use urllib3 directly instead of requests.packages.urllib3
  cinder/volume/manager.py
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Remove mypy-wrap.sh
  cinder/api/common.py
  mypy-files.txt
  pyproject.toml
  test-requirements.txt
  tools/mypywrap.sh
  tox.ini
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Use urllib3 directly in remaining driver code
  cinder/tests/unit/volume/drivers/nexenta/test_nexenta5_jsonrpc.py
  cinder/volume/drivers/dell_emc/powermax/rest.py
  cinder/volume/drivers/dell_emc/sc/storagecenter_api.py
  cinder/volume/drivers/fusionstorage/fs_client.py
  cinder/volume/drivers/huawei/rest_client.py
  cinder/volume/drivers/ibm/ibm_storage/ds8k_connection.py
  cinder/volume/drivers/netapp/dataontap/client/api.py
  cinder/volume/drivers/nexenta/ns5/jsonrpc.py
  cinder/volume/drivers/solidfire.py
  cinder/volume/drivers/vmstore/api.py
  cinder/volume/drivers/yadro/tatlin_client.py
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Remove driver-requirements.txt
  driver-requirements.txt
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

mypy: Migrate to module-based configuration (1/2)
  pyproject.toml
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Fix tempest-integrated-storage-ubuntu-jammy
  .zuul.yaml
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Remove eventlet import from backup API
  cinder/backup/api.py
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

objects: Remove aliases of objects
  cinder/objects/fields.py
  cinder/tests/unit/objects/test_fields.py
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

typing: "Import" objects
  cinder/objects/__init__.py
  cinder/objects/backup.py
  cinder/objects/base.py
  cinder/objects/cgsnapshot.py
  cinder/objects/cleanable.py
  cinder/objects/cleanup_request.py
  cinder/objects/cluster.py
  cinder/objects/consistencygroup.py
  cinder/objects/dynamic_log.py
  cinder/objects/group.py
  cinder/objects/group_snapshot.py
  cinder/objects/group_type.py
  cinder/objects/manageableresources.py
  cinder/objects/qos_specs.py
  cinder/objects/request_spec.py
  cinder/objects/service.py
  cinder/objects/snapshot.py
  cinder/objects/volume.py
  cinder/objects/volume_attachment.py
  cinder/objects/volume_type.py
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

[Everpure] Fix network interface filter
  cinder/tests/unit/volume/drivers/test_pure.py
  cinder/volume/drivers/pure.py
  releasenotes/notes/pure_lacp_vif-326a21ce282043a1.yaml
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

[Pure Storage] Fix volume reconnect error
  cinder/tests/unit/volume/drivers/test_pure.py
  cinder/volume/drivers/pure.py
  releasenotes/notes/pure-fix-volume-reconnect-error-16f7f0eb829eccca.yaml
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Add correct mock for rados.Error
  cinder/tests/unit/backup/drivers/test_backup_ceph.py
Due: none

ceph: advance dest offset when discarding zero chunks
  cinder/backup/drivers/ceph.py
  cinder/tests/unit/backup/drivers/test_backup_ceph.py
  releasenotes/notes/fix-ceph-backup-sparse-restore-corruption-2155612a1b2c3d4e5f.yaml
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

doc: Add bug reporting template for community feedback
  doc/source/contributor/launchpad.rst
Due: none

Dell PowerFlex : Fix multiple broken functions
  cinder/tests/unit/volume/drivers/dell_emc/powerflex/test_create_volume.py
  cinder/tests/unit/volume/drivers/dell_emc/powerflex/test_misc.py
  cinder/tests/unit/volume/drivers/dell_emc/powerflex/test_powerflex_client.py
  cinder/tests/unit/volume/drivers/dell_emc/powerflex/test_replication.py
  cinder/volume/drivers/dell_emc/powerflex/driver.py
  cinder/volume/drivers/dell_emc/powerflex/rest_client.py
  cinder/volume/drivers/dell_emc/powerflex/utils.py
  releasenotes/notes/bug-2139336-dell-powerflex-nairobi-fixes-ad89e69dc3bb44c5.yaml
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Bump mypy to 2.0
  cinder/scheduler/evaluator/evaluator.py
  tox.ini
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

api-ref: Add missing is_public filter for GET /groups_types
  api-ref/source/v3/group-types.inc
  api-ref/source/v3/parameters.yaml
Due: openstack-tox-functional-py310, openstack-tox-functional-py312

Replace eventlet sleep calls in volume drivers
  cinder/tests/unit/utils.py
  cinder/tests/unit/volume/drivers/dell_emc/sc/test_sc.py
  cinder/tests/unit/volume/drivers/dell_emc/sc/test_scapi.py
  cinder/tests/unit/volume/drivers/ibm/test_ds8k_proxy.py
  cinder/tests/unit/volume/drivers/inspur/as13000/test_as13000_driver.py
  cinder/tests/unit/volume/drivers/inspur/instorage/test_common.py
  cinder/tests/unit/volume/drivers/inspur/instorage/test_fc_driver.py
  cinder/tests/unit/volume/drivers/inspur/instorage/test_iscsi_driver.py
  cinder/tests/unit/volume/drivers/inspur/instorage/test_replication.py
  cinder/tests/unit/volume/drivers/nexenta/test_nexenta5_jsonrpc.py
  cinder/tests/unit/volume/drivers/synology/test_synology_common.py
  cinder/tests/unit/volume/drivers/test_kaminario.py
  cinder/tests/unit/volume/drivers/test_qnap.py
  cinder/volume/drivers/datera/datera_api21.py
  cinder/volume/drivers/datera/datera_api22.py
  cinder/volume/drivers/dell_emc/sc/storagecenter_api.py
  cinder/volume/drivers/dell_emc/sc/storagecenter_common.py
  cinder/volume/drivers/hitachi/hbsd_replication.py
  cinder/volume/drivers/hitachi/hbsd_rest_api.py
  cinder/volume/drivers/hpe/nimble.py
  cinder/volume/drivers/ibm/ibm_storage/ds8k_helper.py
  cinder/volume/drivers/ibm/ibm_storage/ds8k_replication.py
  cinder/volume/drivers/ibm/ibm_storage/ds8k_restclient.py
  cinder/volume/drivers/ibm/storwize_svc/replication.py
  cinder/volume/drivers/ibm/storwize_svc/storwize_svc_common.py
  cinder/volume/drivers/inspur/as13000/as13000_driver.py
  cinder/volume/drivers/inspur/instorage/instorage_common.py
  cinder/volume/drivers/inspur/instorage/replication.py
  cinder/volume/drivers/kaminario/kaminario_common.py
  cinder/volume/drivers/netapp/dataontap/client/api.py
  cinder/volume/drivers/nexenta/nfs.py
  cinder/volume/drivers/nexenta/ns5/jsonrpc.py
  cinder/volume/drivers/qnap.py
  cinder/volume/drivers/san/san.py
  cinder/volume/drivers/synology/synology_common.py
  cinder/volume/drivers/toyou/acs5000/acs5000_common.py
  cinder/volume/drivers/vmstore/api.py
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

doc: Remove deprecated queue_if_no_path from Nimble multipath example
  doc/source/configuration/block-storage/drivers/nimble-volume-driver.rst
Due: none

Modify the spelling mistakes
  releasenotes/notes/lightbits-snapshot-timeout-6b25dbd15a650d52.yaml
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Modify the spelling mistakes
  cinder/image/accelerator.py
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Remove TODO re: Semaphore for eventlet-removal
  cinder/utils.py
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

requirements: Fix duplicate "packaging" entry
  requirements.txt
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-tempest-plugin-lvm-lio-barbican

Modify the spelling mistakes
  api-ref/source/v3/parameters.yaml
Due: openstack-tox-functional-py310, openstack-tox-functional-py312

api-ref: Correct mistakes in qos-specs docs
  api-ref/source/v2/parameters.yaml
  api-ref/source/v2/qos-specs-v2-qos-specs.inc
  api-ref/source/v2/samples/qos-associations-response.json
  api-ref/source/v3/parameters.yaml
  api-ref/source/v3/qos-specs-v3-qos-specs.inc
  api-ref/source/v3/samples/qos/qos-associations-response.json
  api-ref/source/v3/samples/qos/qos_show_response.json
  cinder/tests/functional/api_sample_tests/samples/qos/qos-associations-response.json.tpl
  cinder/tests/functional/api_sample_tests/test_qos.py
Due: openstack-tox-functional-py310, openstack-tox-functional-py312

api-ref: Fix issues with clusters API docs
  api-ref/source/v3/clusters.inc
  api-ref/source/v3/parameters.yaml
Due: openstack-tox-functional-py310, openstack-tox-functional-py312

api-ref: Explain why consistency groups are deprecated
  api-ref/source/v3/consistencygroups-v3.inc
Due: openstack-tox-functional-py310, openstack-tox-functional-py312

Bump hacking to 8.1.0
  .pre-commit-config.yaml
  test-requirements.txt
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Set worker=1 as default in service.serve()
  cinder/service.py
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Add a non-voting job to test eventlet removal
  .zuul.yaml
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Update Toyou ACS5000 tests to run without eventlet
  cinder/tests/unit/volume/drivers/toyou/test_acs5000.py
Due: none

Tests: Remove F824 skip
  cinder/rpc.py
  cinder/tests/unit/fake_utils.py
  tox.ini
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Fix F824 hacking errors in rpc.py
  cinder/rpc.py
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Add agentic coding guidance and docs
  .gitignore
  AGENTS.md
  doc/source/contributor/agentic-coding.rst
  doc/source/contributor/architecture.rst
  doc/source/contributor/commit-messages.rst
  doc/source/contributor/dependencies.rst
  doc/source/contributor/index.rst
  doc/source/contributor/repo-overview.rst
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Add job using native threading only (no-eventlet)
  .zuul.yaml
Due: openstack-tox-functional-py310, openstack-tox-functional-py312, cinder-plugin-ceph-tempest, cinder-tempest-plugin-lvm-lio-barbican, cinder-tempest-plugin-lvm-lio-barbican-fips, cinder-tempest-plugin-protection-functional, cinder-grenade-mn-sub-volbak, devstack-plugin-nfs-tempest-full, devstack-plugin-nfs-tempest-full-fips, tempest-slow-py3, tempest-integrated-storage, grenade, grenade-skip-level, tempest-ipv6-only, openstacksdk-functional-devstack, cinder-multibackend-matrix-migration, cinder-grenade-mn-sub-volschbak, cinder-grenade-mn-sub-bak, devstack-plugin-ceph-tempest-py3, tempest-pg-full

Path conditions:
  openstack-tox-functional-py310: unless all of: ^.*\.rst$, ^cinder/locale/.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$
  openstack-tox-functional-py312: unless all of: ^.*\.rst$, ^cinder/locale/.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$
  cinder-plugin-ceph-tempest: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-tempest-plugin-lvm-lio-barbican: unless all of: ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^tools/.*$
  cinder-tempest-plugin-lvm-lio-barbican-fips: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-tempest-plugin-protection-functional: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-grenade-mn-sub-volbak: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-nfs-tempest-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-nfs-tempest-full-fips: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-slow-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-integrated-storage: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  grenade: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  grenade-skip-level: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-ipv6-only: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  openstacksdk-functional-devstack: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-multibackend-matrix-migration: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-grenade-mn-sub-volschbak: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  cinder-grenade-mn-sub-bak: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  devstack-plugin-ceph-tempest-py3: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^cinder/cmd/status\.py$, ^cinder/locale/.*$, ^cinder/tests/functional.*$, ^cinder/tests/hacking/.*$, ^cinder/tests/unit.*$, ^doc/.*$, ^releasenotes/.*$, ^reno.yaml$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
